---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import julianaImage from "../../../assets/images/history_07.jpg";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb title="Bootcamp EV - Reviso" program="Espíritu Valiente" phase="Reviso"/>

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Reviso - Intro</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>
                            Lo que niegas te somete, lo que aceptas te
                            transforma. C Jung
                        </h2>
                        <br />
                        <div class="youtube-video-container">
                            <iframe class="youtube-video"  src="https://www.youtube.com/embed/0irXB1E1YsU?si=Uby1Z6Ixi6uhhb9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <br />
                        <br />
                        <p>
                            Bienvenida a esta primer fase de Espíritu Valiente.
                            Muchas gracias por estar aquí conmigo, <b
                                >ampliando consciencia</b
                            >, y siendo parte de la gran revolución de mirar <b
                                >hacia adentro.</b
                            >
                            <br />
                            <br />
                            Te felicito enormemente por haber tomado la decisión
                            de invertir en ti, y te agradezco que hayas tomado la
                            decisión de hacerlo conmigo. Se que esta formación será
                            de gran ayuda para ti, ya que he juntado las herramientas
                            mas útiles que he descubierto en mi proceso personal,
                            y les he puesto un <b>toque único</b>, para que
                            tenga un orden que te pueda ayudar a facilitar este
                            proceso.
                            <br />
                            <br />

                            <h3>¿Quién esta detrás de Estupenda Vibra?</h3>
                            Me introduzco brevemente para quienes no me conocen,
                            ya que creo que es importante que sepas quién está detrás
                            de este curso en el que decidiste invertir. Voy a tratar
                            de ser breve, pero lo mas importante, honesta y transparente.
                            <br />
                            <br />
                            Mi nombre es Juliana, nací y me crie en Buenos Aires,
                            Argentina… aunque a los 23 años empece a viajar por el
                            mundo y a conocer otras culturas. Hago hincapié en esto
                            ya que es una parte de mi identidad como nómade digital.
                            <br />
                            <br />
                            Hasta mis 26 años, la <b>forma de relacionarme</b> con
                            otras personas era totalmente diferente a lo que es ahora.
                            Esto no significa que ahora mismo no tenga desafíos,
                            ni días en los que todo parece complicarse, quiero que
                            sepas esto.
                            <br />
                            Sino que mi forma de <b
                                >entender las relaciones ha cambiado
                                rotundamente,</b
                            > y, por consecuencia, el tipo de relaciones que tengo
                            también.
                            <br />
                            <br />
                            He recorrido un largo camino lleno de dramas y aprendizajes,
                            y he llegado al punto en el que la vida empezó a mostrarme
                            que algunos de estos aprendizajes <b
                                >son perfectos para compartir,</b
                            > ya que muchas personas están pasando por situaciones
                            similares, y mi experiencia y técnicas pueden hacerles
                            el <b>camino mas liviano.</b>
                            <br />
                            <br />
                            Me presento de esta forma mas que nada para que sepas
                            que si bien estoy compartiendote herramientas muy útiles
                            que me han servido y me siguen siendo de utilidad, soy
                            un ser humano de carne y hueso, como tu.

                            <br />
                            <br />

                            <b>Sigo equivocándome, y sigo aprendiendo</b> (y doy
                            gracias por ello). Solo vengo aquí a compartir sabiduría,
                            como parte de mi propósito, y con la convicción de que
                            este programa será un punto de inflexión para muchas
                            personas.
                            <br />
                            <br />
                            No quiero venderte la receta definitiva, porque se muy
                            bien que no existe. Solamente quiero que sepas que <b
                                >hay otro camino.</b
                            > He hecho, hay un montón. <b
                                >Y muchas veces el “click” sucede cuando menos
                                lo esperamos.</b
                            >
                            <br />
                            <br />
                            Me imagino que si estas aquí, es porque tienes ganas
                            de aprender a <b>relacionarte mejor,</b> ser una <b
                                >versión mas auténtica de ti misma,</b
                            > o superar una reciente ruptura amorosa, sacándole todo
                            el jugo posible a esta experiencia dolorosa.
                            <br />
                            <br />
                            Quiero decirte que estás en el lugar correcto. Esto es
                            para tí. ¿Por qué? Porque el camino <b
                                >siempre es hacia adentro.</b
                            >
                            <br />
                            <br />
                            Si estas aquí es porque una parte dentro tuyo <b
                                >se cansó de buscar soluciones en el exterior.</b
                            > Porque de alguna forma, decidiste <b
                                >tomar responsabilidad</b
                            > sobre lo que te estaba sucediendo, y en lugar de tapar,
                            huir, o reemplazar el dolor, <b
                                >quieres enfrentarlo y comprenderlo.</b
                            >
                            <br />
                            <br />

                            <h3>Mi método</h3>
                            Antes de empezar, me gustaría contarte bien de que se
                            trata el método <b>ROCk</b> en el cual se basa este Bootcamp.
                            <br />
                        </p>
                        <br />
                        <a href="metodo-rock" class="btn white_btn"
                            >Metodo ROCk</a
                        >
                    </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>
<style>
    .my_image {
        max-width: 100%;
        width: 100px;
        border-radius: 30%;
        height: auto;
    }
    .youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
	
</style>
