---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import julianaImage from "../../../assets/images/history_07.jpg";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Reviso"
            program="Espíritu Valiente"
            phase="Reviso"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>¿Qué es el método ROCk?</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>¿Qué es el método ROCk?</h2>
                        <br />
                        <br />
                        <div class="youtube-video-container">
                            <iframe class="youtube-video" src="https://www.youtube.com/embed/OtvrtRJvC4Q?si=0KwFJsZETHIB_Hb2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <br />
                        <br />
                        El Bootcamp Intensivo EV se compone de 16 días e incluye
                        3 Fases Claras: <b>Reviso - Ordeno y Creo</b>, las
                        cuales componen el método <b>ROCk.</b> Un <b>Kit</b> integral
                        organizado de tal forma para ayudarte a atravesar cualquier
                        proceso.
                        <br />
                        <br />
                        <h3>REVISO: Reviso mis creencias actuales.</h3>
                        <p>
                            Reviso es el primer paso de un proceso
                            introspectivo. Nos invita a revisar aquellas <b
                                >creencias limitantes</b
                            > que tenemos con respecto a una situación. Nos lleva
                            a un análisis de lo que nos sirve, y a un descarte de
                            aquello que ya no.
                            <br />
                            <br />
                            Esta fase consiste en revisar <b
                                >cuales son los resultados que estoy atrayendo
                                ahora mismo</b
                            >, y para eso, es importante tener un nivel alto de
                            honestidad y transparencia contigo misma.
                            <br />
                            <br />
                            Este proceso puede ser el que más cueste de todos, ya
                            que muchas veces mirar en nuestro interior es doloroso.
                            Pero es fundamental para poder <b
                                >entender cómo funcionamos y avanzar</b
                            > hacia lo que queremos lograr.
                            <br />
                            <br />
                            Es el primer paso de <b>toma de conciencia</b> de una
                            situación que nos disgusta, que normalmente vemos como
                            un problema actual.
                            <br />
                            <br />
                            Para poder pasar al siguiente paso, es necesario que
                            tengamos <b>claridad</b> acerca de lo que nos está estorbando
                            nuestro camino, para poder empezar a organizarnos y llegar
                            a la creación de <b>algo totalmente innovador.</b>
                            <br />
                            <br />
                            Te voy a estar compartiendo varias <b
                                >herramientas de autoindagación</b
                            >, en donde podrás descubrir y anotar aquellos
                            aspectos que sientes que pueden estar relacionados
                            con tu inconsciente, <b>tu sombra</b>, aquello que
                            no ves de ti misma.
                            <br />
                            <br />
                            Es muy importante que pongas foco ahí, ya que si no se
                            hace consciente, seguirá dominando tu vida, y aquí lo
                            que queremos que es <b
                                >tomes las riendas de tu destino</b
                            >, para poder lograr el resultado que quieres ver.
                            <br />
                            <br />
                            <h3>ORDENO: Integro y organizo.</h3>
                            En esta fase vamos a aprender a integrar todo lo aprendido
                            en la fase de revisión. <b
                                >Vamos a darle orden, a ponerle nombre, y
                                entender de dónde viene.</b
                            >
                            <br />
                            <br />
                            Puede que al hacer esto tengamos emociones encontradas
                            de ira, culpa, etc. Por eso, <b
                                >vamos a aprender a identificarlas y
                                gestionarlas de una forma sana y saludable.</b
                            >
                            <br />
                            <br />
                            <b>Ordeno</b> es el segundo paso, que nos invita a <b
                                >dar orden a nuestro desorden emocional,</b
                            > y poner prioridades en base a lo que necesitamos.
                            <br />
                            <br />
                            También, nos ayuda a <b
                                >ponerle nombre a las emociones</b
                            > y a nuestros procesos personales, para poder <b
                                >tener una perspectiva mucho más amplia.</b
                            >
                            <br />
                            <br />
                            Dar orden a nuestro proceso nos ayuda a <b
                                >ver las cosas con mucha más claridad
                            </b>que en el paso anterior, donde nos dedicamos a
                            analizar una por una nuestras creencias y
                            limitaciones.
                            <br />
                            <br />
                            También en este momento del proceso, es clave empezar
                            a ir <b
                                >creando una imagen del tipo de relaciones que
                                queremos manifestar</b
                            > en nuestra vida.
                            <br />
                            <br />
                            Para esto, es muy importante que podamos entender <b
                                >desde dónde estuvimos creando anteriormente</b
                            >, para no obtener los mismos resultados, sino otros
                            que se adapten más con nuestro nuevo yo.
                            <br />
                            <br />
                            También, cómo este proceso está orientado a <b
                                >sanar tus relaciones desde la gestión de tus
                                energías Yin y Yang</b
                            >, vamos a realizar un ejercicio donde llegado a
                            este paso, puedas hacer un balance de cuál es la
                            energía que más predomina en tu vida, y que es lo
                            que te está limitando de que no haya un balance
                            equilibrado entre estas energías.
                            <br />
                            <br />
                            Por eso, hay que saber, <b
                                >cual es la que predomina,</b
                            > y para eso hicimos todo este camino de introspección,
                            para que puedas identificarlo.
                            <br />
                            <br />
                            <h3>CREO: Creo lo nuevo desde otro lugar.</h3>
                            <b>Creo</b> es donde la magia empieza a tomar forma.
                            <br />
                            <br />
                            Una vez identificada tu energía predominante, el tipo
                            de parejas que atraes, tu responsabilidad sobre tu propia
                            vida y tus relaciones, y con las emociones un poco más
                            claras y ordenadas, vamos a pasar a <b
                                >crear la vida que deseas ver exteriorizada.</b
                            > ¿Como? Siendo aquello que buscas en el afuera
                            <br />
                            <br />
                            Este es momento de <b>darles una nueva forma</b>,
                            más coherente con lo que queremos ver manifestado en
                            nuestra vida y en nuestro futuro.
                            <br />
                            <br />
                            Vamos a estar revisando aquellos hábitos que tienes que
                            cambiar, para SER aquello que deseas VER REFLEJADO en
                            tu realidad. De esta forma, <b
                                >estaremos activando en su mayor potencialidad
                                la verdadera LEY DE ATRACCIÓN</b
                            >, donde ya soy lo que quiero ver en mi exterior.
                            <br />
                            <br />
                            No se trata de pensar lo que deseo manifestar, porque
                            nuestro pensamiento consciente ocupa un porcentaje ínfimo
                            comparado con nuestro subconsciente, se trata de <b
                                >hacer un HACK
                            </b>a todo esto a través de nuestras acciones.
                            <br />
                            <br />
                            Veremos la ley universal de causa y efecto y empezaremos
                            a <b>CAUSAR EL EFECTO.</b>
                            <br />
                            <br />
                            Para no estar tan perdidos en la teoría, e irnos por
                            las ramas, vamos a focalizarnos en nuestras energías
                            <b>Yin y Yang.</b> Vamos a empezar a integrarlas, y a
                            SER aquellas energías en las que no estamos SIENDO, para
                            poder lograr un equilibrio nosotros mismos y no estar
                            buscando nada AFUERA.
                            <br />
                            <br />
                            De esta forma vamos a estar logrando <b
                                >integridad y completitud,</b
                            > y el tipo de pareja que atraeremos a nuestra vida,
                            solamente será un reflejo de lo que nosotros ya somos,
                            con las características que pedimos, pero sabiendo que
                            en realidad, el otro es un ser completo, ya que nosotros
                            también lo somos.
                            <br />
                            <br />
                            Si bien es el momento más divertido del proceso, también
                            los pasos previos son necesarios para que lleguemos a
                            esta etapa con el terreno mucho más claro y que haya
                            <b>disfrute y diversión</b> en el proceso de creación.
                            <br />
                            <br />
                            Este maravilloso Kit, si lo analizamos bien, es un método
                            que <b>nos sirve para absolutamente todo.</b> No solamente
                            para un proceso emocional e introspectivo orientado a
                            las relaciones. <b>Es totalmente integral.</b>
                            <br />
                            <br />
                            Esa es la magia de lo holístico, aplica para todo.
                            <div class="quote_block">
                                <h2>Nota:</h2>
                                <p>
                                    1. Si estas realizando el programa de
                                    mentoría personalizada conmigo, este
                                    Bootcamp será la base de todo lo que vamos a
                                    estar trabajando durante todo el programa,
                                    podrás volver a él cada vez que lo necesites
                                    y tendrás acceso a él de por vida.
                                    <br />
                                    <br />
                                    2. Si solamente estas realizando el Bootcamp
                                    y no el programa personalizado Espiritu Valiente,
                                    de todas formas te será de muchísima utilidad,
                                    la unica diferencia es que no tendras las sesiones
                                    de coaching Hacia Adentro conmigo y los talleres
                                    que este programa incluye. Es decir, solo tendrás
                                    acceso al Bootcamp.
                                    <br />
                                    <br />
                                </p>
                            </div>

                            Así que, una vez mas, te vuelvo a agradecer por ser
                            parte de este maravilloso programa, creando con
                            tanto amor y dedicación exclusivamente para ti… Y
                            sin decir más, vamos a empezar con el <b
                                >Primer Día del Bootcamp,</b
                            > de su primera fase, llamada <b>Reviso.</b>
                            <br />
                            <br />

                            ¡Espero que te diviertas!
                        </p>
                        <br />
                        <br />
                        <a href="reviso-dia-1" class="btn white_btn"
                            >Ir al día 1</a
                        >
                    </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>
<style>
        .youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>