---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import julianaImage from "../../../assets/images/history_07.jpg";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Reviso"
            program="Espíritu Valiente"
            phase="Reviso"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Bootcamp EV - Reviso</span>
                        <span>Reviso - Día V</span>
                    </div>
                    <div class="section_title">
                        <h2>Bootcamp EV - Reviso</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Corrijo en mi lo que me molesta de tí</h2>
                        <br />
                        <p>
                            En el día 3 estuvimos hablando de las relaciones
                            como espejo, y como podrán notar por el título de
                            este día, hoy vamos a seguir hablando de ella.
                            <br />
                            <br />
                            Pero en esta ocasión vamos a estar profundizando en el
                            primer cuadrante.
                            <br />
                            <br />
                            <h2>
                                Primera Ley. Todo lo que me molesta, irrita,
                                enfada o quiero cambiar del otro, está dentro de
                                mi.
                            </h2>
                            <br />
                            “Nosotros no vemos el mundo como es; vemos el mundo como
                            somos”
                            <br />
                            Krishnamurti
                            <br />
                            <br />
                            Como indica el famoso filósofo hindú, todo lo que vemos
                            afuera -circunstancias, personas, etc- son un reflejo
                            de ciertos aspectos de nuestro interior.
                            <br />
                            <br />
                            Para poder aplicar la Ley N 1 en nuestra vida con sabiduría,
                            solamente debemos tomar la decisión de hacerlo.
                            <br />
                            <br />
                            Las circunstancias externas simplemente son, y están
                            fuera de nuestro control. Aunque lo que sí tenemos total
                            poder de decisión, es qué actitud vamos a tomar por consecuencia.
                            <br />
                            <br />
                            ¿Vamos a recibir lo que la vida nos está mostrando en
                            el otro de forma reactiva? Gritando, llorando, con enojo,
                            etc.
                            <br />
                            <br />
                            ¿O vamos a hacerlo de forma receptiva e integrar el aprendizaje
                            de forma proactiva? Tomando distancia, observando y/o
                            utilizando esa situación para poder elevar nuestra consciencia
                            y continuar aprendiendo?
                            <br />
                            <br />
                            Al final, es solo una cuestión de decisión individual.
                            Basta con imaginarnos cómo sería nuestra vida si decidimos
                            aprender de las circunstancias o enojarnos con la situación.
                            <br />
                            <br />
                            Buda lo dijo hace tiempo… ‘El dolor es inevitable, el
                            sufrimiento es opcional.’
                            <br />
                            <br />
                            De la forma en la que yo lo veo, tenemos la tendencia
                            a ir por la vida evitando sentir el dolor de conocernos
                            en profundidad, pero no nos damos cuenta que el precio
                            que pagamos por ello es demasiado alto. Al final, vivimos
                            tratando de ignorar cómo nos sentimos, y nuestras emociones,
                            y pasamos a tener una vida donde el sufrimiento es protagonista
                            y el que comanda todas nuestras decisiones.
                            <br />
                            <br />
                            Tal vez sí parezca más sencillo mirar el error en lo
                            externo, creer que esto es solamente una mentira, y continuar
                            viviendo una vida totalmente plana y desempoderada…
                            <br />
                            <br />
                            O tal vez sea el momento de empezar a probar algo diferente
                            y ver que pasa a continuación
                            <br />
                            <br />
                            Realmente quien tiene esa respuesta eres tú. Yo te recomiendo
                            que lo compruebes empíricamente y luego me cuentas que
                            pasa. Te sorprenderás.
                            <br />
                            <br />
                            <h2>EJERCICIO</h2>
                            <br />
                            El ejercicio del día de hoy, además de, por supuesto,
                            poner en práctica la ley del espejo N1, es anotar que
                            te va pasando cuando lo llevas a la práctica.
                            <br />
                            <br />
                            Muchas veces lo que pensamos nos queda dando vueltas
                            en la cabeza, y no vemos claramente la respuesta, hasta
                            plasmarlo en papel.
                            <br />
                            <br />
                            Si quieres, puedes esperar a una situación en particular.
                            Y si no, y quieres poner las manos a la obra, te dejo
                            unas preguntas para que puedas reflexionar sobre situaciones
                            que te hayan hecho reaccionar recientemente.
                            <br />
                            <br />
                            ¡Espero que descubras mucho de ti misma con estas preguntas!
                            <br />
                            <br />
                            Vamos a ello
                            <br />
                            <br />
                            ¿Cuál fue la última situación que me hizo enojar?
                            <br />
                            <br />
                            Trata de anotar con lujo de detalles la situación en
                            particular, desde una perspectiva totalmente neutra.
                            <br />
                            <br />
                            Ej. de NO NEUTRA: Mi pareja se quedó todo el domingo
                            en el sillón y eso me molestó mucho. Es un vago.
                            <br />
                            <br />
                            Ej de NEUTRA: El domingo mi pareja decidió quedarse en
                            el sillon. Al verlo, me enfadé.
                            <br />
                            <br />
                            En la NO neutra, podemos notar como hay una relación
                            entre la acción del otro, y mi reacción. También, hay
                            un juicio de valor. Con lo que podemos concluir que la
                            descripción de esta situación NO es neutra.
                            <br />
                            <br />
                            En la NEUTRA, podemos notar dos declaraciones individuales.
                            Primero, la decisión de la pareja de quedarse en el sillón,
                            y por otro lado cual fue mi reacción al ver esta acción
                            en particular.
                            <br />
                            <br />
                            A lo largo de todo el Bootcamp vamos a seguir trabajando
                            la Neutralidad de los hechos y el no juicio de las circunstancias,
                            pero ahora me interesa que este ejercicio comience desde
                            esta base neutral.
                            <br />
                            <br />
                            Una vez anotada la situación en nuestro cuaderno, vamos
                            a intentar desglosarla en dos partes. 1. La acción del
                            otro. 2. Lo que disparó en nosotros.
                            <br />
                            <br />
                            En este caso sería: 1. Pasar todo el día en el sillon.
                            2. Enojo.
                            <br />
                            <br />
                            ¿Tu te permites realizar esa acción en cuestión?
                            <br />
                            <br />
                            ¿O, acaso, sientes que lo haces demasiado?
                            <br />
                            <br />
                            En estos ejercicios como siempre, prima la honestidad
                            con nosotros mismos. Tomate tu tiempo en analizar la
                            situación y responder a estas preguntas.
                            <br />
                            <br />
                            Te deseo mucha honestidad contigo misma para el uso de
                            esta poderosa herramienta
                            <br />
                            <br />
                            ¡Nos vemos mañana!
                            <br />
                            <br />
                            <a href="reviso-dia-6" class="btn white_btn"
                                >Ir al ultimo día de Reviso</a
                            >
                        </p>
                    </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>
