---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import julianaImage from "../../../assets/images/history_07.jpg";

import iceberg from '../../../assets/images/cursos/iceberg.jpg';
import johari from '../../../assets/images/cursos/johari.jpg';

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Reviso"
            program="Espíritu Valiente"
            phase="Reviso"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Bootcamp EV - Reviso</span>
                        <span>Reviso - Día II</span>
                    </div>
                    <div class="section_title">
                        <h2>Bootcamp EV - Reviso</h2>
                    </div>
                    <div class="info espiritu-info">
                        <h2>
                            Lo que no hacemos consciente se manifiesta en
                            nuestra vida como destino
                        </h2>
                        <br />
                        <div class="youtube-video-container">
                            <iframe src="https://www.youtube.com/embed/rFe3bLIYgVk?si=0-s4xkHC5W8Hqt-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <br />
                        <br />
                        <p>
                            Este día va a estar dedicado a una parte de nuestra
                            vida que, si aún no le has prestado atención, es
                            momento de que empieces a hacerlo. Algo que, si
                            bien, muchísimas personas conocen a grandes rasgos
                            de qué se trata, no tienen ni idea de lo importante
                            que es ser conscientes que es quien <b>domina</b> nuestra
                            existencia.
                            <br />
                            <br />
                            Si, probablemente ya te habrás dado cuenta de que hablo,
                            y si no… te lo presento.
                            <br />
                            <br />
                            <b>El inconsciente.</b>
                            <br />
                            <br />
                            El inconsciente, la sombra, aquella parte nuestra que
                            está oculta. Qué gran misterio, cierto? Bueno pues, no
                            es solo un misterio más, sino el que tiene <b
                                >la llave maestra
                            </b>para nuestro desarrollo personal. Pero, para
                            eso, es importante entender mas o menos como
                            funciona, y por qué motivo es que domina nuestra
                            existencia.
                            <br />
                            <br />
                            A lo último de este capítulo voy a estar presentándote
                            un ejercicio que conocí hace poco tiempo y debo decir,
                            que me pareció tan potente, que tenía que compartirlo.
                            <br />
                            <br />
                        </p>

                        <img src={iceberg.src} class="image-bootcamp"/>
                        <br />
                        <br />
                        <p>
                            Por aquí arriba dejo como referencia una imagen del
                            iceberg de la personalidad, una metáfora creada por
                            Sigmund Freud.
                            <br />
                            <br />
                            No vamos a profundizar en esta metáfora, ni en otros
                            conceptos psicoanalíticos ahora mismo, pero por el momento
                            me gustaría que observes cuanto del bloque de hielo se
                            encuentra fuera del agua, y cuanto dentro de ella.
                            <br />
                            <br />
                            El <b>iceberg es nuestra mente</b> , y el 95% de ella
                            es territorio desconocido para nosotros.
                            <br />
                            <br />
                            La primera vez que escuché esto, me quedé atónita. Me
                            pareció absolutamente increíble que todo lo que sabemos
                            (que no es poco, es decir, somos capaces de crear cosas
                            asombrosas), pertenezca <b
                                >únicamente al 5% de nuestra mente</b
                            > , y que el resto lo ignoremos totalmente.
                            <br />
                            <br />
                            Otra cosa que me sucedió, fue empezar a <b
                                >preguntarme</b
                            >. Ok, y esto ¿Qué tiene que ver conmigo? ¿Puedo
                            cambiarlo? ¿Qué sucede si lo cambio? ¿Qué puedo
                            aprender?
                            <br />
                            <br />
                            No puedo prometer darte todas las respuestas porque,
                            afortunadamente, no las tengo.
                            <br />
                            <br />
                            <b>La vida misma sigue siendo un gran misterio</b> y
                            siempre lo será. Hay que aprender a amigarnos con este
                            hecho, que, en realidad, es una gran bendición.
                            <br />
                            <br />
                            Que aburrimiento sería tener todas las respuestas y dejar
                            de hacer preguntas.
                            <br />
                            <br />
                            Aunque tener algunas respuestas que nos permitan conocernos
                            más, y cambiar nuestras circunstancias es muy útil, y
                            muy poderoso.
                            <br />
                            <br />
                            Nuestra mente es <b>creadora de nuestra realidad</b
                            >. Todo lo que hoy en día vemos, en algún momento se
                            pensó. Y luego, a través de ciertas acciones y
                            procesos, <b>se manifestó en el plano terrenal.</b>
                            <br />
                            <br />
                            Sabiendo esto, y teniendo el conocimiento de que nuestra
                            mente es casi enteramente desconocida para nosotros,
                            podemos sacar la conclusión de que nuestra realidad está
                            siendo creada por nuestras <b
                                >conductas, creencias, valores, miedos,
                                patrones, todos ellos, inconscientes.</b
                            >
                            <br />
                            <br />
                            Seguramente, si estas acá, es porque puedes ver que en
                            tu vida se <b
                                >repiten las mismas situaciones una y otra vez.</b
                            > ¿Es ésto casualidad?
                            <br />
                            <br />
                            Permíteme decirte que no, no lo es. Simplemente no lo
                            puede ser. Y el gran cambio sucede cuando somos lo suficientemente
                            honestos con nosotros mismos, para darnos cuenta que
                            <b
                                >el cambio está dentro nuestro, y no en nuestras
                                circunstancias.</b
                            >
                            <br />
                            <br />
                            Dada nuestra historia, y en el mayor de los casos, el
                            ejercicio de tomar total responsabilidad sobre lo que
                            acontece en nuestra vida, es constante.
                            <br />
                            <br />
                            Es decir, más allá de que uno sepa que así es, hay que
                            practicarlo y volver a practicarlo, sobre todo al principio,
                            porque estamos introduciendo en nuestra vida un <b
                                >cambio de paradigma</b
                            > y forma de pensar y ver la vida, y si estuvimos toda
                            la vida buscando a los culpables fuera, reeentrenar nuestra
                            mente para que tome las riendas de nuestra vida y deje
                            de proyectar, va a tomarnos un tiempo, y va a llevar
                            algo de trabajo de por medio.
                            <br />
                            <br />
                            Realmente creer que un cambio así, tan profundo, ocurre
                            de la noche a la mañana, es simplemente querer el resultado
                            inmediato. <b>La píldora que calma el dolor.</b>
                            <br />
                            <br />
                            Y aquí queremos crear nuestro <b
                                >elixir personalizado para poder comprender
                                nuestro dolor, aceptarlo y abrazarlo.</b
                            >
                            <br />
                            <br />
                            Yo se que muchas personas temen ir ahí, a aquellos momentos
                            o situaciones que duelen o que desconocen. Pero es realmente
                            la única forma en la que vamos a poder <b
                                >observar un cambio a largo plazo y real</b
                            > . Y lo cierto es que, no es tan malo como uno imagina.
                            No lo es.
                            <br />
                            <br />
                            Bucear en nuestro inconsciente no es tarea fácil y no
                            hay una única forma de hacerlo. El <b
                                >autoconocimiento</b
                            > es una de ellas, <b>la terapia tradicional</b> ayuda
                            mucho en algunos casos en particular, <b
                                >la meditación, la hipnosis, y muchos métodos
                                más.</b
                            >
                            <br />
                            <br />
                            Personalmente, yo estoy enamorada del proceso de conocerme
                            en profundidad. No se fue así siempre, seguramente he
                            tenido miedo en algunos momentos de ir a ciertos lugares
                            de mi interior. Lo más probable es que haya sido así.
                            <br />
                            <br />
                            Hoy, esa parte de mi vida la siento muy lejana, pero
                            tan solo por el simple hecho de lo asombrada que estoy
                            con los cambios que he visto en mi vida desde entonces,
                            cada vez quiero conocerme más.
                            <br />
                            <br />
                            Y este es también, uno de los motivos por los cuales
                            estoy aquí, dedicándome de lleno a compartir sabiduría
                            y herramientas de autoconocimiento, porque sé lo valioso
                            que puede llegar a ser para algunas personas que quieren
                            mejorar su calidad de vida, y los resultados son realmente
                            bellos.
                            <br />
                            <br />
                            <b>Cuando uno cambia, todo cambia.</b>
                            <br />
                            <br />
                            Más adelante estaré hablando de la <b
                                >ley del espejo,</b
                            > una maravillosa herramienta que nos permite conocer
                            nuestra sombra (y mucho más) a través de nuestras relaciones
                            interpersonales.
                            <br />
                            <br />
                            Vamos a estar incluyendo <b
                                >ejercicios de meditación</b
                            >, los cuales yo personalmente creo que son claves
                            en este proceso de hacer consciente lo inconsciente,
                            junto a muchos otros beneficios más.
                            <br />
                            <br />
                            Pero en este capítulo voy a compartirte esta herramienta
                            que llegó a mi este último año, y creo que es un ejercicio
                            perfecto para empezar a tomar consciencia de aquellas
                            cosas de las que se encuentran en nuestra psique.
                            <br />
                            <br />
                            Habiendo dicho esto, y con esta introducción que espero
                            que te haya aportado claridad, te dejo con…
                            <br />
                            <br />
                            <br />
                            <br />
                            <img src={johari.src} class="image-bootcamp"/>
                            <br />
                            <br />
                            <h3>La ventana de Johari</h3>
                            <br />
                            El uso de esta herramienta te va a permitir conocerte
                            mejor y te dará <b>alguna que otra sorpresa.</b> La ventana
                            de Johari lleva ese nombre en honor a sus creadores Joseph
                            Luft y Harry Ingham.
                            <br />
                            <br />
                            Este modelo analiza la dinámica entre las relaciones
                            interpersonales y esta dividido en 4 áreas, las cuales
                            están definidas por la información que se transmite.
                            A grandes rasgos, los primeros dos cuadrantes (Área Pública
                            y Área Oculta), representan nuestra parte consciente,
                            la punta del iceberg, cuando los otros dos (Area Ciega,
                            y el Área Desconocida), representan nuestra parte inconsciente,
                            lo que no podemos ver de nosotros mismos.
                            <br />
                            <br />
                            Voy a describir brevemente cada uno de los cuadrantes,
                            para que luego puedas realizar el ejercicio.
                            <br />
                            <br />
                            <b>Área libre (Pública)</b>
                            <br />
                            Es el cuadrante de aquello conocido por uno mismo y por
                            los demás, aquí se incluiría todo lo que dejamos ver
                            a los demás sobre nosotros mismos, lo que comunicamos
                            abiertamente: experiencias, emociones, pensamientos,
                            etc.
                            <br />
                            <br />
                            <b>Área oculta</b>
                            <br />
                            En este cuadrante incluiríamos todo aquello que conocemos
                            nosotros, pero que desconocen los demás, pensamientos,
                            rasgos de personalidad, emociones, que nos negamos a
                            mostrar públicamente pero que también nos definen.
                            <br />
                            <br />
                            <b>Área ciega</b>
                            <br />
                            Es el cuadrante que incluye aquello que desconocemos
                            de nosotros mismos, pero que sí que conocen los demás.
                            Muchas veces nos negamos a querer ver según que cosas,
                            pero si más de dos o tres personas de confianza están
                            de acuerdo en algún rasgo de nuestra personalidad, lo
                            más probable es que algo de verdad haya en ello.
                            <br />
                            <br />
                            <b>Área desconocida</b>
                            <br />
                            En este cuadrante, quizás el más intrigante, es donde
                            se incluye todo aquello que desconocemos de nosotros
                            mismos y que también desconocen los demás. Aquí es donde
                            hay un potencial, un área por descubrir, nuestra capacidad
                            de aprender y crecer y moldearnos, aprendiendo cosas
                            sobre nosotros que desconocemos (por ejemplo cuando salimos
                            de nuestra zona de confort).
                            <br />
                            <br />
                            <h3>Ejercicio</h3>
                            Te invito a que realices este ejercicio en tu cuaderno
                            (por favor, ten siempre a mano un cuaderno al realizar
                            este curso). Y tómate el tiempo que creas necesario para
                            identificar al menos 3 recursos en cada área.
                            <br />
                            <br />
                            Yo se que te vas a divertir y vas a descubrir un montón
                            de cosas. También, seguramente algún área te haya costado
                            más que otra. Te invito a que, bajo el ejercicio, realices
                            una reflexión acerca de esto.
                            <br />
                            <br />
                            ¿Cuál es el área que te ha gustado más? ¿Cuál de ellas
                            fue la que más costó? ¿Hubo alguna resistencia? ¿Cuál?
                            <br />
                            <br />
                            La idea de este ejercicio es plasmar en papel aquellas
                            creencias, ideas, o pensamientos, conscientes o inconscientes,
                            y ver cómo la magia sucede. Realmente me parece un ejercicio
                            muy poderoso y nos da espacio a reencontrarnos con aquellos
                            pensamientos que muchas veces andan rondando por nuestra
                            cabeza, nos invitan a ponerles letra y forma, y eso hace
                            que muchas veces ciertas cosas en nuestra vida empiezan
                            a cambiar
                            <br />
                            <br />
                            ¡Que te diviertas con este segundo ejercicio!
                            <br />
                            <br />
                            ¡Nos vemos mañana!
                        </p>
                        <br />
                        <br />
                        <a href="reviso-dia-3" class="btn white_btn"
                            >Ir al día 3</a
                        >
                    </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>

<style>
/* For Mobile */
/* @media only screen and (max-width: 600px)  {

} */
    .image-bootcamp {
        width: 100% !important;
        border-radius: 0 !important;
    }
    .youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    }

    .youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
    }

    .youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
</style>