---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import julianaImage from "../../../assets/images/history_07.jpg";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Reviso"
            program="Espíritu Valiente"
            phase="Reviso"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Bootcamp EV - Reviso</span>
                        <span>Reviso - Día IV</span>
                    </div>
                    <div class="section_title">
                        <h2>Bootcamp EV - Reviso</h2>
                    </div>
                    <div class="info espiritu-info">
                        <h2>Patrones repetitivos
                        </h2>
                          <br/>
                          <p>
            Llegó el momento de poner manos a la obra e indagar en nuestro pasado. Si. Ya se. No nos gusta. No queremos ir ahí. Sobre todo no queremos pensar en aquellas situaciones en las que sufrimos. 
            <br/>
            <br/>
            
            Pero no podemos lograr un cambio significativo en nuestras vidas a no ser que entendamos aunque sea las bases de que es lo que nos está pasando, este paso será la clave para poder cambiarlo. Sin la comprensión del problema no podemos buscar una solución, ya que no tenemos identificado que está generando el malestar. Así que si bien esta es la gran parte incómoda del conocimiento, es necesaria para evitar repetir la misma historia una y otra vez. No hay otra.
            <br/>
            <br/>
            
            Vamos a empezar por el principio. La definición de lo que sería un patrón repetitivo.
            <br/>
            <br/>
            Tal vez ya sepas de lo que estoy hablando, o tal vez no tengas ni idea. Creo que lo más probable es, igual, que te imagines un poco, ya que el nombre dice mucho.
            <br/>
            <br/>
            <hr>
            <h3>En principio, ¿que es un patrón mental?</h3>
            Por definición, los patrones mentales son estructuras que le facilitan a nuestro cerebro el poner en práctica ciertas tareas diarias, con el fin de ahorrarse el trabajo de procesar tareas repetitivas una y otra vez. Son comportamientos aprendidos, y que por lo tanto; independientemente de que sean buenos o malos para nosotros, pueden ser modificados.
            <br/>
            <br/>
            Estos patrones de pensamiento son hábitos que se instalan en nuestros cerebros, como cuando descargamos un programa en nuestra computadora. 
            <br/>
            <br/>
            Pero así como pasa con los dispositivos electrónicos, algunas rutinas quedan en nosotros aunque ya no son útiles, y otras simplemente las practicamos de forma constante, aunque esto no signifique que sean beneficiosas para nosotros.
            <br/>
            <br/>
            Por lo tanto, aunque somos seres racionales, muchos de estos patrones mentales se convierten en hábitos emocionales y constituyen desde nuestras actividades más sencillas, como los hábitos diarios inconscientes, hasta la manera en la que reaccionamos ante ciertos estímulos.
            <br/>
            <br/>
            Simplemente nuestro cerebro va ejecutando patrones de pensamiento sin conciencia alguna de su naturaleza, porque es lo que está acostumbrado a hacer.
            <br/>
            <br/>
            Por lo tanto, muchas veces nos damos cuenta del daño de estas disposiciones mentales, cuando hemos somatizado la conducta en algo mucho más severo.
            <br/>
            <br/>
            Hay hábitos o conductas que hemos normalizado de forma consciente porque tuvimos la intención de instalar un nuevo hábito, como por ejemplo en algunos casos, ir al gimnasio, y otras que hemos normalizado de forma inconsciente, como por ejemplo, escribir en el teclado de la computadora, también, en algunos casos.
            <br/>
            <br/>
            Hay que aclarar que hay hábitos o conductas que hemos normalizado (patrones repetitivos) que nos benefician, y otras que nos perjudican. 
            <br/>
            <br/>
            Y aquí es donde está la clave. Porque en realidad no es que existan -en líneas generales- patrones repetitivos buenos o malos. Aunque sí hay algunos que evidentemente no nos sirven para la vida bajo ninguna circunstancia.
            <br/>
            <br/>
            Aquí vamos a estar haciendo foco pura y exclusivamente en aquellos patrones repetitivos EMOCIONALES que podemos detectar que hemos COPIADO de forma inconsciente, y hemos normalizado, que hoy en día nos están afectando de una forma NEGATIVA en nuestras relaciones interpersonales.
            <br/>
            <br/>
            Como veras, es super extenso y da para mucho más seguir hablando de estos patrones, como se forman, cuáles son los que nos benefician, cuáles no, cómo instalar nuevos patrones de pensamiento, etc. 
            <br/>
            <br/>
            Ya vamos a ir ahí a lo largo de todo el programa, si es que estas haciendo este bootcamp con el Plan de Espiritu Valiente y las sesiones personalizadas conmigo
            <br/>
            <br/>
            Por ahora vamos a aplicar este conocimiento y esta información a los patrones repetitivos que nosotros podemos identificar en nuestras relaciones interpersonales. Sobre todo en las parejas sentimentales.
            <br/>
            <br/>
            
            <hr>
            <br/>
            <h2>Vamos a la práctica</h2>
            <br/>
            Alguna vez te has preguntado… 
            <br/>
            <h3>¿Por qué siempre me pasa lo mismo? </h3>
            
            <h3>¿Por qué siempre atraigo al mismo tipo de hombres?</h3>
            
            <h3>¿Por qué son todos iguales?</h3>
            <br/>
            
            Si estas aquí, me imagino que en algún momento, si no es todo el tiempo, te lo has preguntado. Y la respuesta reside aquí, en los patrones repetitivos.
            <br/>
            <br/>
            Tanto como nosotros nos relacionamos con el otro, como lo que vemos reflejado en la conducta de la persona que “elegimos” como pareja son conductas inconscientes que hemos normalizado.
            <br/>
            <br/>
            No es que conscientemente vayamos buscando a una persona que “nos haga sacar lo peor de nosotros”. Ni que “todos sean iguales”. Ni que “siempre te hagan lo mismo”.
            <br/>
            <br/>
            Lo cierto es que reaccionamos de determinada forma como respuesta a ciertos estímulos externos, y por otro lado, la persona que tenemos enfrente, nos está reflejando aquellas cosas en las que tenemos que trabajar nosotros mismos para dejar de reaccionar de forma inconsciente. 
            <br/>
            <br/>
            Básicamente para despertar nuestra conciencia hacia un nivel más elevado. 
            <br/>
            <br/>
            Lo que pasa es que estamos tan focalizados en lo externo. Y no es para menos, es decir, nos han adoctrinado y lo siguen haciendo para que pongamos la energía y la responsabilidad siempre en el otro. 
            <br/>
            <br/>
            La magia de cambiar la perspectiva nos permite entender que en lo que, aparentemente, el otro “nos hace”, tenemos un gran aprendizaje de conductas aprendidas, internalizadas, normalizadas, que probablemente no sean sanas. 
            <br/>
            <br/>
            Enojarnos con lo externo no nos lleva hacia una solución. De hecho, es lo que se acostumbra a hacer, y el resultado que obtenemos es tener siempre “el mismo problema” en otro formato de persona. Porque en realidad, no integramos el aprendizaje , y hasta que no lo integremos, seguirá apareciendo la misma situación.
            <br/>
            <br/>
            Lo más hermoso es que el conocimiento de cómo funcionamos nos devuelve las riendas de nuestra vida. Nos empodera totalmente porque somos responsables 100% de nuestras acciones y de poder cambiar las circunstancias que no nos gustan.
            <br/>
            <br/>
            Por otro lado, si seguimos pensando que el otro está errado, perdemos el aprendizaje, y, además, siempre vamos a vivir la misma experiencia. Puro desempoderamiento personal.
            <br/>
            <br/>
            El gran problema que siempre detecto acá, es que muchas personas creen que entender esto implica que el otro no hace nada mal, y vuelve el concepto de culpa, pero hacia nosotros. Aquí reside el gran error que se ve mucho. Evitar esa sensación de culpa que no es más que una simple ilusión. 
            <br/>
            <br/>
            Si la otra persona actúa de una forma dañina, está claro que eso no es sano para ti, y qué debes irte de ahí. Aquí es donde hay confusión.
            <br/>
            <br/>
            El aprendizaje no es quedarse ahí pensando que debes aprender algo.
            <br/>
            <br/>
            El aprendizaje es actuar de forma consciente y coherente contigo mismo, y entender que eso no es sano para ti, pero que si estás ahí, y esto te ha pasado en varias oportunidades, es que aún hay algún patrón que está repitiendose y debes trabajarlo en ti.
            <br/>
            <br/>
            Quisiera compartirte un ejercicio en el cual puedas poner por escrito lo siguiente
            <br/>
            <br/>
            
            <h2>EJERCICIO</h2>
            
            <h3>Lista de características en común de tus parejas anteriores</h3>
            Aquí vale todo. Desde lo más mínimo hasta lo más notable. 
            <br/>
            <br/>
            <h3>Lista de conductas que tú repites en tus relaciones de pareja</h3>
            Lo mismo de arriba, todas aquellas cosas que, más allá de que cambie de pareja, siguen vigentes en mi.
            <br/>
            <br/>
            <br/>
            Aquí es donde tenemos que trabajar, en todo lo que se repite. No hay que analizar nada. Este ejercicio es pura y exclusivamente para tomar consciencia de ello.
            <br/>
            <br/>
            Espero que puedas ampliar tus horizontes con este increible ejercicio!
            <br/>
            <br/>
            <a href="reviso-dia-5" class="btn white_btn">Ir al día 5</a>
            
            
                      </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>
