---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import julianaImage from "../../../assets/images/history_07.jpg";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Reviso"
            program="Espíritu Valiente"
            phase="Reviso"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Bootcamp EV - Reviso</span>
                        <span>Reviso - Día VI</span>
                    </div>
                    <div class="section_title">
                        <h2>Bootcamp EV - Reviso</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Yin Yang, energías femenina y masculina. ¿Qué son? Historia y contexto.
                        </h2>
                          <br/>
                          <p>Bienvenidas al ultimo dia de la primera fase del bootcamp de Espíritu Valiente: Creo
                            <br/>
                            <br/>
                      Estuvimos bien para adentro haciendo revisión de nuestras creencias más profundas, y de cómo nos relacionamos. También, prestamos atención a nuestros patrones repetitivos y aprendimos el uso de la Ley del Espejo.
                            <br/>
                            <br/>
                      Ya se. Es un montón. Por eso vuelvo a hacer hincapié en que te tomes tu tiempo para integrar cada sección.
                            <br/>
                            <br/>
                      Si hay algo que aprendí en mi viaje personal, es que acelerar el proceso con la sobrecarga de información, nos lleva al mareo y a la no integración de los conceptos. Ve a tu tiempo. De todas formas, este Bootcamp está grabado, y siempre estará disponible. Puedes volver a alguna sección en caso de creerlo necesario.
                            <br/>
                            <br/>
                      Ya pasada la introducción, me gustaría contarles de que se va a tratar este último día. 
                            <br/>
                            <br/>
                      Como ya pudieron ver en el título, y en el programa, la última sección de Reviso, está dedicada a un tema que me apasiona, y al cual presto exclusiva atención siempre, ya que sé que es de vital importancia para una vida balanceada y equilibrada.
                            <br/>
                            <br/>
                      Vamos a estar introduciéndonos en las energías Femenina y Masculina, conocidas como Yin y Yang, en el taoísmo, aunque llevan diferentes nombres en una gran variedad de filosofías o escuelas. 
                            <br/>
                            <br/>
                      El símbolo del Tao, el Yin Yang lo conocemos casi todos. De hecho, hasta quien no tiene idea qué implica, lo conoce. Lo vemos en todos lados, piezas de decoración para el interior, frases en las redes sociales, en centros de acupuntura, en fin… lo podemos ver hasta en un supermercado.
                            <br/>
                            <br/>
                      Hoy nos adentraremos en la historia de este símbolo milenario, y vamos a nadar profundamente en lo que él representa, dándonos el primer paso para poder iniciar la segunda fase de Espiritu Valiente, dedicada a Ordenarnos. 
                            <br/>
                            <br/>
                      La integración entre las energías Femenina y Masculina, para poder vivir una vida armoniosa y balanceada, es fundamental.
                            <br/>
                            <br/>
                      Pero primero empecemos por lo básico, como son la historia y las definiciones.
                            <br/>
                            <br/>
                      El proceso de creación está impulsado por la interacción de dos energías de las que, seguramente, has escuchado hablar. Las energías femenina y masculina. Estos polos los podemos encontrar en la base de toda creación y manifestación del Universo.
                            <br/>
                            <br/>
                      Los 7 principios herméticos describen esta dinámica como el principio del género
                            <br/>
                            <br/>
                      No debemos confundir el término de género masulino y femenino como hombre o mujer. Aquí estamos hablando pura y exclusivamente de energía.
                            <br/>
                            <br/>
                      Entonces…
                            <br/>
                      ¿Qué es la energía femenina y masculina?
                            <br/>
                            <br/>
                      Para quienes tomaron el curso de Alquimia en las Relaciones, ya saben que todos nosotros y también lo que nos rodea, es un mix entre estas dos energías en diferentes proporciones. 
                            <br/>
                            <br/>
                      Aunque siempre hay una que predomina sobre la otra.
                            <br/>
                            <br/>
                      Cuando se trata de crear algo, la alquimia entre las energías femenina y masculina es super importante.
                            <br/>
                            <br/>
                      En el inicio, un rayo de luz dio lugar a la división de la materia principal en dos partes fundamentales: lo volátil y lo fijo.
                            <br/>
                            <br/>
                      Lo volátil es lo que consideramos más como una energía masculina. 
                            <br/>
                      Reactiva. Explosiva
                            <br/>
                      Catalizadora y con el foco en que las cosas tengan un inicio
                            <br/>
                      Es un tipo de energía más bien extrovertida, se mueve hacia afuera y es expansiva
                            <br/>
                      Es la fuerza de la energía. La chispa de la vida
                            <br/>
                      <b>El Yang</b>
                            <br/>
                            <br/>
                      Lo fijo es más bien una energía femenina
                            <br/>
                      Le da forma a todo, sería la contención dentro de un contexto en particular. Es más receptiva y se mueve hacia el interior. 
                            <br/>
                      Esta energía es formativa y receptora.
                            <br/>
                            <b>El Yin</b>  
                            <br/>
                            <br/>
                      El sol y la luna son los arquetipos que representan estas dos fuerzas de creación.
                            <br/>
                            <br/>
                      El yin y el yang son dos conceptos del taoísmo que representan la dualidad de todo lo que existe en el universo. Este describe las dos fuerzas fundamentales opuestas y complementarias que se encuentran en todas las cosas y que serían la fase siguiente después del Tao, principio generador de todo y del cual surgen.    
                      <br/>
                            <br/>
                      Como veran, ya sea Energia Femenina y Masculina, Yin Yang, o Volatil y Fijo, nos estamos refiriendo al mismo tipo de energias, con diferentes nombres.
                            <br/>
                            <br/>
                      De acuerdo a esta idea, cada ser, objeto o pensamiento posee un carácter complementario del que no sólo depende para su existencia, sino que al mismo tiempo existe dentro de él mismo.
                            <br/>
                            <br/>
                      Es decir que nada existe en estado puro ni tampoco en absoluta quietud, sino en una continua transformación. Además, cualquier idea puede ser vista como su contraria si se la mira desde otro punto de vista.
                            <br/>
                            <br/>
                      <h3>Los 6 Principios del Yin Yang</h3>
                            <br/>
                      <b>1) El yin y el yang son opuestos.</b>
                            <br/>
                            <br/>
                      Todo tiene su opuesto, aunque este no es absoluto sino relativo, ya que nada es completamente yin ni completamente yang. Por ejemplo, si bien el invierno se opone al verano, también en un día de verano puede hacer frío y viceversa.
                            <br/>
                            <br/>
                      <b>2) El yin y el yang son interdependientes.</b>
                            <br/>
                            <br/>
                      No pueden existir el uno sin el otro. Por ejemplo, el día y la noche.
                            <br/>
                            <br/>
                      <b>3) El yin y el yang pueden subdividirse.</b>
                            <br/>
                            <br/>
                      Todo aspecto yin o yang puede subdividirse a su vez en yin y yang indefinidamente. Por ejemplo, un objeto puede estar caliente o frío, pero a su vez lo caliente puede estar ardiente o templado y lo frío, fresco o helado.
                            <br/>
                            <br/>
                      <b>4) El yin y el yang se consumen y generan mutuamente.</b>
                            <br/>
                            <br/>
                      Ambos forman un equilibrio dinámico: cuando uno aumenta, el otro disminuye. Así, el desequilibrio siempre es algo circunstancial, ya que cuando uno crece en exceso obliga al otro a reducirse, lo que termina provocando una nueva transformación. Por ejemplo, el exceso de vapor en las nubes (yin) que genera la lluvia (yang).
                            <br/>
                            <br/>
                      <b>5) El yin y el yang pueden transformarse en sus opuestos.</b>
                            <br/>
                            <br/>
                      La noche se transforma en día, lo cálido en frío, la vida en muerte. Sin embargo, esto también es relativo. Por ejemplo, la noche se convierte en día, pero al mismo tiempo ambas coexisten en lados opuestos de la Tierra.
                            <br/>
                            <br/>
                      <b>6) En el yin hay yang y en el yang hay yin.</b>
                            <br/>
                            <br/>
                      Siempre hay restos de uno en el otro, lo que hace que el absoluto se transforme en su contrario. Por ejemplo, una semilla enterrada soporta el invierno y renace en primavera.
                            <br/>
                            <br/>
                            <br/>
                      Como nosotros formamos parte del todo, también tenemos ambas energías en nuestro interior.
                            <br/>
                            <br/>
                      Como se mencionó anteriormente, es absolutamente normal que una predomine sobre la otra. Sin embargo, debemos estar atentas a que no haya un exceso de ninguna, generando un desbalance y una falta en la otra polaridad.
                            <br/>
                            <br/>
                      Para esto, es muy importante la honestidad a la hora de preguntarnos que energia esta predominando ahora mismo en nuestra vida.
                            <br/>
                            <br/>
                      Claro esta, que esto puede ir variando segun la etapa en la que estemos.
                            <br/>
                            <br/>
                      Por ejemplo, yo siempre tuve un exceso de energía Yang, y luego pase a un pequeño exceso de Yin, la cual me faltaba trabajar. Ahora, me encuentro en un momento de balance, aunque noto la energía Yang predominante, como es mi naturaleza, pero sin quitarle protagonismo a mi energía Yin, la cual se encuentra proporcional.
                            <br/>
                            <br/>
                      También, puede pasarme que en un tiempo, me vuelva a desbalancear a un exceso específico, y puede ser cualquiera de los dos, depende la circunstancia. Pero es un trabajo enteramente personal el detectarlo, y trabajar en él para volver a llegar al equilibrio.
                            <br/>
                            <br/>
                      <h3>EJERCICIO</h3>
                      <b>Descubrí tu energía predominante</b>
                            <br/>
                            <br/>
                      Si querés saber qué tipo de energía predomina en vos, respondé a estas preguntas con sí o no y luego mirá debajo las respuestas:
                            <br/>
                            <br/>
                      1) ¿Disfrutas pasar tiempo sola?
                            <br/>
                      2) ¿Sos de las personas que cuando conocen a otras en una reunión se presentan antes que nada?
                            <br/>
                      3) ¿Son tus vacaciones ideales irte a una playa solitaria?
                            <br/>
                      4) ¿Te estresas en sitios muy ruidosos?
                            <br/>
                      5) ¿Preferís una conversación profunda a una fiesta ruidosa?
                            <br/>
                      6) ¿Te distrae y/o divierte hacer juegos del tipo de crucigramas?
                            <br/>
                      7) ¿Sos activo la mayor parte del día?
                            <br/>
                      8) ¿Dirías que no hay nada mejor para relajarte que un buen baño?
                            <br/>
                      9) ¿Ordenas tu casa antes de irte a dormir?
                            <br/>
                      10) ¿Respetas lo que planificas cuando vas de viaje?
                            <br/>
                      11) ¿Disfrutas quedarte solo en tu casa escuchando música?
                            <br/>
                      12) ¿Te considerás alguien sensible?
                            <br/>
                            <br/>
                      Mira el puntaje debajo y observa la siguiente escala:
                            <br/>
                            <br/>
                      <b>YANG</b> 0 1 2 3 4 5 6 7 8 9 10 11 12 <b>YIN</b>
                            <br/>
                            <br/>
                      Las respuestas "SÍ" a las preguntas n°1, 3, 4, 5, 8, 11 y 12, valen 1 punto.
                            <br/>
                      Las respuestas "NO" a las preguntas n° 2, 6, 7, 9 y 10, valen 1 punto.
                            <br/>
                            <br/>
                      Hecho este ejercicio, ya sabes donde te encuentras parada. A partir de ahí, con tu brújula personal, podrás ir viendo la intensidad y la dirección de la energía que empezarás a trabajar.
                            <br/>
                            <br/>
                      Que alegría haber llegado hasta aquí.
                            <br/>
                            <br/>
                      ¡Felicitaciones! 
                            <br/>
                            <br/>
                      Para finalizar esta primera fase, te voy a agregar un ejercicio adicional
                            <br/>
                            <br/>
                      1) Anota en tu cuaderno los cambios que has sentido desde el día 1 hasta hoy. Se honesta y transparente. 
                            <br/>
                      2) ¡Festeja! Sal a comer algo rico, o a comprarte algo que te haga feliz. Hoy en día, darse un espacio a uno mismo es algo digno de festejar. Por favor, hazlo para festejar y para agradecer tu predisposición también.
                            <br/>
                            <br/>
                            <br/>
                      Dicho esto, ya nos estaremos viendo en la segunda fase: <b>Ordeno.</b> Aquí vamos a estar viendo el Ego y el Ser, vamos a aprender a diferenciar la voz de uno y del otro. También el Triángulo dramático de Karpan, y La transición al Triángulo Virtuoso. Para finalizar vamos a echar un vistazo a la codependencia y a identificar nuestras emociones. Intenso y poderoso. En cada sección incluiremos ejercicios para integrar lo aprendido.
                            <br/>
                            <br/>
                      Si quieres tomate unos días para integrar la primera fase. Recuerda tener la clara intención de volver cuando estés lista, sin que pase mucho tiempo.
                            <br/>
                            <br/>
                      Muchas gracias! 
                            <br/>
                            <br/>
                      Nos vemos en la proxima fase.
                      <br/>
                      <br/>
                      <a href="../ordeno/intro" class="btn white_btn">Llevame al siguiente nivel</a>
                      <br/>
                      <br/>
            
                      <hr>
                      <br/>
                      <h2>¡Felicitaciones! Llegaste al ultimo día de la Primera Fase del Bootcamp Espíritu Valiente</h2>
              
                      <h3>¿Cómo sigo?</h3>
                      <br/>
                      <b>Si estás realizando este Bootcamp como parte del Programa de Coaching Personalizado Espíritu Valiente:</b>
                      <br/>
                      <br/>
                      Ahora es el momento de agendar, si ya no lo hiciste, tu tercera sesion Hacia Adentro conmigo. Aquí tendras un seguimiento personalizado de lo que pudiste aprender en estos días, con los ejercicios y la nueva información incorporada.
                      <br/>
                      <br/>
                      ¡Estoy super emocionada por continuar este viaje de autodescubrimiento junto a ti!
                      <br/>
                      <br/>
                      <a href="https://meet.brevo.com/juliana-rocha/hacia-adentro-or-sesion-11" class="btn white_btn">Reserva tu sesión AD aquí</a>
                      <br/>
                      <br/>
                      <!-- <b>Si unicamente estas realizando el Bootcamp Intensivo 100% Online:</b>
                      <br/>
                      <br/>
                      El Bootcamp ha llegado a su fin. Espero que lo hayas disfrutado, y que te haya abierto nuevos caminos. 
                      <br/>
                      <br/>
                      Recuerda, si estas interesada en realizar un proceso personalizado 1:1 conmigo, puedes reservar tu sesión de claridad para reservar tu cupo.
                      <br/>
                      <br/>
                      <a href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1" class="btn white_btn">Reserva tu sesión de claridad aquí</a>
                      </p>
                      </p> -->
                      </div>
                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>
