---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import julianaImage from "../../../assets/images/history_07.jpg";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Reviso"
            program="Espíritu Valiente"
            phase="Reviso"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Bootcamp EV - Reviso</span>
                        <span>Reviso - Día III</span>
                    </div>
                    <div class="section_title">
                        <h2>Bootcamp EV - Reviso</h2>
                    </div>
                    <div class="info espiritu-info">
                        <h2>Las relaciones como espejo</h2>
                        <br />
                        <p>
                            En los capítulos anteriores hicimos foco en la
                            responsabilidad y dejamos de lado la culpa, para
                            luego realizar un ejercicio con la intención de
                            bucear en nuestro inconsciente. Ambos días fueron
                            super intensos, y esto va a seguir así, ya te aviso.
                            <br />
                            <br />

                            Como se que los resultados de los ejercicios llevan
                            tiempo en asimilarse, me parece clave que te tomes
                            tu tiempo. Si bien este es el día 3, como mencioné
                            anteriormente, no hace falta que hagas este curso un
                            día tras otro. De hecho, yo preferiría que te tomes
                            tu tiempo.
                            <br />
                            <br />

                            Es importante que la información que te vaya
                            llegando en cada día o capítulo, tenga tiempo para
                            integrarse más o menos. Sino, puede ser que caigas
                            en una sobrecarga de información, lo cual sucede
                            mucho hoy en día, y queremos evitar eso. Acá hacemos
                            foco en la calidad y no en la cantidad o la rapidez.
                            <br />
                            <br />

                            En el día de hoy se titula Las relaciones como
                            espejo.
                            <br />
                            <br />

                            Puedes o no haber escuchado alguna vez este término,
                            pero como no tengo forma de saberlo exactamente,
                            vamos a ir directamente al grano.
                            <br />
                            <br />

                            <h2>Yo me reflejo en Ti y tu en Mi.</h2>

                            <br />

                            ¿Qué quiere decir esto?

                            <br />
                            <br />

                            Me gustaría ir a un ejemplo práctico, para luego
                            pasar un poco a la teoría. Digamos que estás
                            almorzando con una amiga. Tu amiga es una persona
                            que cada tanto prefiere no hablar. Le gusta estar en
                            silencio cuando no tiene nada que decir.
                            <br />
                            <br />

                            Esto, a ti, te irrita. Le molesta muchísimo, y te
                            hace sentir incómoda. Pero no sabes cual es el
                            motivo, entonces normalmente tiendes a pensar que el
                            problema es tu amiga, que se queda callada en
                            momentos en los que hay que hablar (por ejemplo).
                            <br />
                            <br />

                            Empiezas a creer que tu amiga, por este motivo, es
                            rara, se aburre contigo, o le pasa algo.
                            <br />
                            <br />

                            <h2>ALERTA</h2>
                            <br />
                            A tu amiga no le pasa nada. O si. Pero ahí no está el
                            punto de aprendizaje, y el gran error que solemos cometer
                            todos.
                            <br />
                            <br />
                            Un ejercicio que podríamos poner en práctica utilizando
                            las herramientas que nos da la Ley del Espejo en las
                            relaciones, sería detenernos a pensar… cual es el motivo
                            por el cual nos incomoda tanto ese silencio.
                            <br />
                            <br />
                            ¿Será que nosotras, no nos podemos permitir momentos
                            de silencio?
                            <br />
                            <br />
                            ¿Será que relacionamos el silencio con aburrimiento?
                            <br />
                            <br />
                            ¿Será que estamos acostumbradas a siempre llenar el espacio
                            vacío?
                            <br />
                            <br />

                            Cada una tendrá un aprendizaje diferente, si hace un
                            ejercicio de honestidad.
                            <br />
                            <br />
                            Lo cierto, es que una persona que cada tanto se queda
                            sin hacer sonidos o comentarios, no tiene nada de malo,
                            ni tampoco tiene porque estar pasándole algo. Pueden
                            ser tantas cosas como se nos ocurra.
                            <br />
                            <br />
                            Este es solo un ejemplo de cómo sería aplicar la ley
                            del espejo en las relaciones.
                            <br />
                            <br />
                            El aprendizaje está en voltearnos a mirarnos a nosotros
                            mismos, y empezar a cuestionarnos qué nos pasa, en este
                            caso, con ese silencio.
                            <br />
                            <br />
                            Este ejercicio se puede utilizar toda la vida, en todos
                            los casos. Es decir, si algo nos agrada o desagrada.
                            Está siempre disponible para nosotros.
                            <br />
                            <br />
                            Al momento de ponerlo en práctica, puede haber resistencias.
                            Esto es casi esperable que pase en un principio, o en
                            momentos en los que nos encontramos bajos de energía.
                            <br />
                            <br />
                            También es cierto que muchas veces nos olvidamos, y hay
                            tendencia a caer en el victimismo, y en la queja. Está
                            bien. El proceso de desaprender no es de la noche a la
                            mañana. Hay recaídas.
                            <br />
                            <br />
                            Por eso en este curso también vamos a dedicar un capítulo
                            entero a la compasión. Sobre todo, la compasión con nosotros
                            mismos. Pero vamos a ir a ello más adelante. Les dejo
                            por aquí los 4 cuadrantes de la ley del espejo, más abajo
                            dejaré un detalle de cada una de las leyes, para poder
                            explorarlas con mayor profundidad.
                            <br />
                            <br />

                            <img
                                src="images/leyespejo.jpg"
                                alt="Imagen del Ley del Espejo"
                                class="image-curso"
                            />
                            <br />
                            <br />

                            <h2>1 Ley</h2>

                            Todo lo que me molesta, irrita, enfada o quiero
                            cambiar del otro, está dentro de mi. Esta es la más
                            conocida, ya que es una de las más potentes, y la
                            que más cuesta ver. El ejemplo que puse arriba está
                            basado en esta ley. Si nos molesta algo de lo que
                            estamos viendo reflejado en el otro, tiene que ver
                            con nosotros. La realidad es neutra. Poderosisimo.
                            <br />
                            <br />
                            <h2>2 Ley</h2>

                            Todo lo que el otro me critica o juzga, si me
                            molesta o hiere, esta reprimido en mi y es necesario
                            trabajarlo. También, super potente. Nos pasa mucho
                            que al recibir comentarios negativos de un otro nos
                            lo tomamos de forma personal y nos sentimos heridos.
                            Pero no nos sucede lo mismo cuando estamos seguros
                            de que eso que se nos dice no es así. Si molesta,
                            hay algo que trabajar.
                            <br />
                            <br />
                            <h2>3 Ley</h2>

                            Todo lo que me gusta del otro, lo que amo, y admiro
                            en la otra persona, también está en mi. Normalmente
                            uno tiende a pensar que las cualidades que puede
                            percibir del otro le pertenecen solo a él. Pero nos
                            olvidamos del hecho de que, si somos capaces de ver
                            algo y reconocerlo en el otro, es porque tenemos la
                            misma potencialidad de lograrlo. ¡Hermosísimo!
                            <br />
                            <br />
                            <h2>4 Ley</h2>

                            Todo lo que el otro me critica, juzga, o quiere
                            cambiar de mi, sin que me afecte, le pertenece a él.
                            Relativo a la segunda ley, pero esta vez, aceptando
                            que ese juicio no me pertenece. Esta ley nos da la
                            capacidad de comprensión, de saber que un otro puede
                            estar proyectando en nosotros aquellas cosas que no
                            puede ver, y reconociendo que no jugamos ningún
                            papel en su proyección.
                            <br />
                            <br />
                            <hr />
                            <br />
                            Como verás, esta herramienta es maravillosa. Nos permite
                            tener un aprendizaje en todos los posibles obstáculos
                            relacionales. Oro puro.
                            <br />
                            <br />
                            Como ejercicio este día, te dejo simplemente esta herramienta.
                            <br />
                            <br />
                            Vas a ver que te va a servir toda tu vida, pero ahora
                            vamos a hacer foco en entender e integrar. Te invito
                            a que en tu cuaderno tengas un apartado para anotar aquellas
                            cosas que admiras y te molestan de alguna persona en
                            particular, como así también como aquello que te han
                            dicho y te afectó o no. Vas a ver como vas a empezar
                            a descubrir rincones tuyos que creías olvidados o ni
                            siquiera sabias que existian
                            <br />
                            <br />
                            Te deseo mucha consciencia para el uso de esta poderosa
                            herramienta
                            <br />
                            <br />
                            ¡Nos vemos mañana!
                        </p>
                        <br />
                        <br />
                        <a href="reviso-dia-4" class="btn white_btn"
                            >Ir al día 4</a>
                    </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>
