---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Creo"
            program="Espíritu Valiente"
            phase="Creo"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Creo - Día II</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>El HACK definitivo. Conectar con la emoción. </h2>
                        <br/>
                        <p>Hoy te voy a compartir El hack definitivo para poder empezar a causar el efecto que queremos ver reflejado en nuestras vidas siendo aquello que queremos ver.
                          <br/>
                          <br/>
                    En resumen, estoy hablando de poner foco en la emocionalidad y no en la materia. 
                          <br/>
                          <br/>
                    Es decir, empezar por las emociones, empezar por las sensaciones, empezar por aquellas cosas que quisiéramos sentir, más que por aquellas cosas que quisiéramos ver materializadas.
                          <br/>
                          <br/>
                    Porque si bien sí es cierto que queremos ver materializado algo en nuestra vida en 
                          <br/>
                    en el plano físico, lo más probable es que eso que queremos ver materializado nos produzca alguna emoción, algún sentimiento que tenga que ver con algo que estamos buscando, ya sea aventura, entusiasmo, alegría, paz, integridad, etc.
                          <br/>
                          <br/>
                    Y si nos conectamos con la emoción, en lugar de conectarnos con aquello que nos lleva a la emoción, es mucho más profundo y es mucho más fácil de encontrar hacks que utilicemos en la vida diaria para poder lograr ese estado de conciencia
                          <br/>
                          <br/>
                    Para que no quede tan teórica la cuestión me gustaría ponerles un ejemplo, que desde que yo descubrí este pequeño hack lo apliqué muchísimo en mi vida y me resultó muy útil para poder llevarlo a cabo
                          <br/>
                          <br/>
                    Más que nada porque es algo que podemos empezar a hacer desde ahora y no depende de una circunstancia externa o algo que tiene que pasar a nuestro alrededor para que nosotros empecemos a actuar como quisiéramos sentirnos en un futuro
                          <br/>
                          <br/>
                    El ejemplo que les voy a dar es el siguiente: digamos que yo estoy ansiando libertad, que yo quisiera ver libertad reflejada en mi vida. Entonces el hack sería hacer algo hoy que me conecte con la sensación de libertad, ahora mismo.
                          <br/>
                          <br/>
                    Yo por ejemplo me siento muy libre cuando voy en la bicicleta un poco en bajada, escuchando música inspiradora. 
                    
                    <br/>
                    <br/>
                    
                    Esto me hace sentir libre, me hace sentir completa, me hace sentir en un mundo en el cual no hay límites. Esto sucede por mi conexión con la música y el movimiento, entonces, a eso le sumo toda la visualización que tengo cuando estoy en un lindo camino en la bicicleta y cuando no hay tanto esfuerzo porque voy en bajada, y esto me conecta de forma instantánea con una absoluta sensación de libertad en ese mismo instante
                          <br/>
                          <br/>
                    Esto es muy poderoso porque digamos que yo en ese momento hipotético no tengo una vida en la cual yo me sienta libre, por lo que sea: ya sea por un trabajo que me ate, por una pareja que no me agrada, por una situación familiar confusa, o cualquier situación que yo no desee estar viviendo en este momento 
                          <br/>
                          <br/>
                    Pero siempre, cualquiera sea la realidad que yo ahora mismo estoy viviendo, siempre me puedo hacer de 10 minutos para seguir con la bicicleta y vivir esta experiencia y estos 10 minutos en los cuales yo salgo y vivo esta experiencia de libertad conectan mi realidad actual, con el futuro Yo que se siente libre. Entonces de alguna forma yo le estoy diciendo a mi subconsciente, que más allá de mis circunstancias actuales, encuentro la forma de sentirme libre con los recursos que tengo y le estoy mandando esa información para que me traiga más de lo mismo 
                          <br/>
                          <br/>
                    Este es el hack que a mí me resulta no solamente asombroso, sino que yo lo llamé el Hack Definitivo porque como muy pocos recursos y con un poco de autoindagación podemos lograr llegar al lugar donde quisiéramos llegar
                          <br/>
                          <br/>
                    Le digo hack ya que no es solamente por la acción en sí, sino por la conexión de la acción con la emoción.
                          <br/>
                          <br/>
                    Muchas personas tal vez desean tener mucho dinero o desean tener una casa grande o una pareja asombrosa, o tener el trabajo de sus sueños y todas esas opciones son más que válidas.
                          <br/>
                          <br/>
                    Ahora, si vos le preguntas a esas mismas personas cómo piensan que se van a sentir cuando tengan esto, algunas tal vez te lo van a poder decir y otras tal vez no.
                          <br/>
                          <br/>
                     Y la idea es indagar ahí. Indagar en cómo vos crees que vas a sentirte una vez que consigas este objetivo, ya sea la casa, la pareja, el trabajo, el viaje, o lo que sea que vos quieras materializar
                          <br/>
                          <br/>
                    Qué te va a hacer sentir 
                          <br/>
                    Para qué lo querés 
                          <br/>
                          <br/>
                    ¿Para sentirte más libre como, por ejemplo, en mi caso?
                          <br/>
                    ¿Para sentirte más plena?
                          <br/>
                    ¿Para sentirte más conectada?
                          <br/>
                    ¿Para sentirte más estable?
                          <br/>
                          <br/>
                    Es decir realmente cada uno lo que busca tiene diferentes propósitos
                          <br/>
                          <br/>
                    Si bien en mi caso la libertad significa muchísimo tal vez no significaba muchísimo hace unos años atrás, de la misma forma que tal vez para vos que estás leyendo, puede no significar mucho en este momento la libertad o lo puede significar todo y tal vez a veces es una combinación de sensaciones, y no es solamente una en particular 
                          <br/>
                          <br/>
                    Por ejemplo, si uno quiere manifestar una casa grande, una casa espaciosa, puede ser porque tiene ganas de experimentar la sensación de espacio, de libertad de movimiento, o tal vez la sensación de alegría al poder invitar a otras personas, seres queridos y compartir ese espacio con esos seres queridos. 
                          <br/>
                          <br/>
                    Tal vez esa persona tiene familia y lo que quiere es brindar a su familia un lugar en el que cada uno tenga su espacio
                          <br/>
                          <br/>
                    Es decir, cada uno quiere manifestar algo con diferentes objetivos, entonces, la idea de este hack es conectar con la emoción más que con el objetivo en sí
                          <br/>
                          <br/>
                          <br/>
                    Es realmente tomar conciencia de lo que sea que estamos queriendo manifestar y poder indagar en qué es lo que nos hace sentir para poder empezar a poner hoy en día este pequeño hack
                          <br/>
                          <br/>
                    Porque realmente vas a ver que mientras más pasen los días y hagas esa actividad que te haga sentir más la emoción que buscas, cada vez eso se va haciendo más natural en tu cuerpo, entonces cada vez va a ser menos necesario que realices esta actividad para sentirte así.
                          <br/>
                          <br/>
                    Y como consecuencia logres sentirte así en cualquier actividad que estás realizando, porque vos le estás enviando señales a tu cuerpo de que ya te sentís así por defecto.
                          <br/>
                          <br/>
                    Espero que este día 2 en el que te comparto este hack que a mí realmente me ha cambiado mucho la forma de ver las cosas, te haya servido
                          <br/>
                          <br/>
                    Para mí fue un antes y un después saber que conectando con la emoción iba a ser mucho más potente. Realmente saber este secreto hizo que mis manifestaciones tengan otro poder y también que les pueda empezar a disfrutar desde el momento que deseo realizarlas y no cuando se muestran en el plano terrenal
                          <br/>
                          <br/>
                    Entonces me parecía extremadamente necesario ponerle este a este día el hack definitivo, porque yo realmente creo que a vos te va a hacer de absoluta ayuda y va también a marcar un antes y un después en tus creaciones.
                          <br/>
                          <br/>
                    Te mando un abrazo intergaláctico,
                          <br/>
                          <br/>
                    Nos vemos en el próximo día de este último capítulo de Espiritu Valiente, en donde estamos creando la vida que nos pertenece.
                          <br/>
                        </p>
                      <a href="creo-dia-3" class="btn white_btn">Ir al día 3</a>
            
            
                      </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>