---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Creo"
            program="Espíritu Valiente"
            phase="Creo"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Creo - Día III</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Intregrando tus energías. Ya eres todo.</h2>
                        <p>
                          <br/>
                    Ayer estuvimos viendo el Hack definitivo para poder causar el efecto, dicho de otra manera, para poder crear la vida que deseas a partir de lo que ya eres.
                          <br/>
                          <br/>
                    Ahora, porque este programa está orientado a integrar las energías Yin y Yang? Y porque creo que es importante ser conscientes de ellas y aprender a integrarlas para poder crear desde un estado de completitud?
                          <br/>
                          <br/>
                    Somos seres creadores por naturaleza. Sea cual sea nuestro estado de consciencia, estamos creando nuestra realidad. Eso quiere decir, que puedes aprender y practicar muy bien las técnicas para manifestar una realidad alineada con tus deseos, pero que si de alguna forma, no te sientes completa por ti misma, siempre vas a querer manifestar algo externo que te ayude a sentirte completa. ¿No es así?
                          <br/>
                          <br/>
                    Está bien. Estamos en un proceso de desaprender lo que nos han enseñado durante centenares de años. Nadie dijo que iba a ser fácil. Y es normal que sientas que no es tan sencillo. 
                          <br/>
                          <br/>
                    Lo primero que tenemos que hacer, es aprender a reconocer internamente aquello que sentimos que nos falta, y que buscamos afuera. El autoconocimiento es muy importante, porque no hay persona en el mundo que pueda darte esa respuesta, salvo tú misma. 
                          <br/>
                          <br/>
                    Más allá de que un terapeuta, coach, guia o amiga pueda intuir algo, y aclararte el panorama, no te olvides que esa persona está viendo desde su propio prisma, con sus propias creencias, y con lo poco que te conoce, a comparacion de ti misma, que te conoces mas que nadie. 
                          <br/>
                          <br/>
                    Ahora, eso que buscamos afuera, es lo que sentimos que nos falta. Es importante tener la certeza de que eso NO nos falta. Solamente, aun no hemos encontrado la forma de activarlo en nosotras mismas.
                          <br/>
                          <br/>
                    Las carencias que creemos tener, las proyectamos en el otro. Y no hay nada más bello que tener este conocimiento para poder entender que al final, el otro nos está dando una pista de lo que tenemos que salir a encontrar dentro nuestro. Es realmente maravilloso.
                          <br/>
                          <br/>
                    Ahora, con todo el proceso hecho en el bootcamp, me imagino que tienes una idea de cual es tu energía predominante, y de que están hechas las energías femenina y masculina.
                          <br/>
                          <br/>
                    En lugar de darte otra lista de características de cada una, confío en tu intuición y recorrido, y te voy a pedir que realices este ejercicio que te ayudará con la integración de ambas:
                          <br/>
                          <br/>
                          <br/>
                    <h2>EJERCICIO:</h2>
            
                    ESO que buscas afuera. Si si. Sabes muy bien lo que es. Ya estuvimos hablando de eso y pensaste siempre en lo mismo, una y otra vez. No sobre pienses ni des más vueltas. Agarrate de eso para hacer este ejercicio. Que hay mas cosas? Claro que las hay. Asi es la vida. Una danza entre lo que somos y lo que queremos trabajar. Pero aquello que vino a tu mente, es lo que toca trabajar ahora.
                          <br/>
                          <br/>
                    Agarra algo para anotar y tu cuaderno. 
                          <br/>
                          <br/>
                    Anotalo.
                          <br/>
                          <br/>
                          ¿Qué buscas?
                          <br/>
                          <br/>
                          ¿En quién? ¿O en quienes?
                          <br/>
                          <br/>
                          ¿Esta búsqueda externa te da poder o te lo quita?
                          <br/>
                          <br/>
                          Ahora bien… la parte más importante:
                          <br/>
                          <br/>
                          ¿Qué energía tiene aquello que buscas? ¿Tiene que ver con la acción? ¿Con la protección? ¿Con la contención? ¿Con el cuidado? ¿Con el dinero? 
                          <br/>
                          <br/>
                    ¿Qué energía tiene aquello que buscas? ¿Tiene que ver con la acción? ¿Con la protección? ¿Con la contención? ¿Con el cuidado? ¿Con el dinero? 
                          <br/>
                          <br/>
                    Anota todas las características que creas que tengan que ver con esto que buscas afuera.
                          <br/>
                          <br/>
                    Luego… Descubre cuál es la energía predominante de eso que estás buscando.
                          <br/>
                          <br/>
                    Anotala.
                          <br/>
                          <br/>
                    <h2>PREGUNTA:</h2>
                    Existe alguna forma de que puedas darte eso a ti misma? No tiene que ser la misma forma, con que posea las mismas características emocionales, está bien.
                          <br/>
                          <br/>
                    <h3>Ejemplo:</h3>
                    Busco que mi pareja esté presente en momentos que siento que hay peligro o soledad.
                          <br/>
                          <br/>
                    Analizo: Estoy buscando protección.
                          <br/>
                          <br/>
                    Características que veo de la protección: Me siento indefensa en algunos momentos, y busco que alguien externo me proteja para poder sentirme más segura. Me ayuda a sentir que hay alguien ahí para mí.
                          <br/>
                          <br/>
                    Energía predominante: Masculina.
                          <br/>
                          <br/>
                    ¿Cómo me puedo dar protección a mi misma? Cómo puedo protegerme para sentirme mas segura y ser yo quien esta ahi para mi?
                          <br/>
                          <br/>
                    Ejemplo de respuesta: Tal vez, hacerme un té. Mirar una peli de comedia, comerme un chocolate, y envolverme en una manta. Si me siento sola, llamar a alguna amiga para hablar. Etc.
                          <br/>
                          <br/>
                    De esta forma, estoy integrando aquello que el otro me muestra que no se darme a mí misma. Y aplicar este método en cada cosa que me muestra mi pareja (o sea cual sea el vínculo actual que tenga), me ayudará siempre a ser cada vez más íntegra y más completa. 
                          <br/>
                          <br/>
                    Al final, siempre el otro nos está ayudando a trabajar aquello que tenemos por trabajar. 
                          <br/>
                          <br/>
                    Es asombroso.
                          <br/>
                          <br/>
                          Ahora sí. Estamos llegando al fin del bootcamp. 
                          <br/>
                          <br/>
                          ¿Estas lista?
                        </p>
                        <br/>
                        <br/>
                      <a href="creo-recapitulando" class="btn white_btn">Ir al ultimo día</a>
                      </div>
                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>