---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Intro</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>BREATHWORK + Aplicando el método ROCk a todo.</h2>
                        <p>Primero que nada, felicitaciones por haber llegado al final de este Bootcamp. Espero que lo hayas aprovechado al máximo, con todas las herramientas súper útiles que te compartí durante estos 11 días intensivos de conocimiento y actividades.
                          <br/>
                          <br/>
                    Estoy segura de que hoy te encuentras parada en un lugar diferente al que estabas cuando inició este camino. Te invito a que, cuando lo sientas, revises tu cuaderno para repasar todo lo que aprendiste de ti misma, y que encuentres un momento para realizar una reflexión del lugar donde te encuentras ahora mismo.
                          <br/>
                          <br/>
                    Para finalizar este bootcamp 100% online, me gustaria regalarte un ejercicio de respiración consciente, el cual vas a poder utilizar siempre que lo necesites, y que luego de realizarlo cierta cantidad de veces, lo naturalizarás en tu forma de vivir
                          <br/>
                          <br/>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1661639094&color=%237e1b67&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/estupendavibra" title="Ju ➿ Estupenda Vibra" target="_blank" style="color: #cccccc; text-decoration: none;">Ju ➿ Estupenda Vibra</a> · <a href="https://soundcloud.com/estupendavibra/breathwork-respiracion-consciente" title="Breathwork - Respiración Consciente" target="_blank" style="color: #cccccc; text-decoration: none;">Breathwork - Respiración Consciente</a></div>
                          <br/>
                          <br/>
                    Ahora… Presente y alerta luego de este hermoso ejercicio de respiración consciente, quisiera hacer una pequeña revisión del método ROCk que utilice para este bootcamp, para que sepas que podés utilizarlo en cualquier ámbito de tu vida que desees reprogramar o encontrar una nueva perspectiva:
                          <br/>
                          <br/>
                    <b>REVISO</b> es el primer paso de un proceso introspectivo. Nos invita a revisar aquellas creencias limitantes que tenemos con respecto a una situación. Nos lleva a un análisis de lo que nos sirve, y a un descarte de aquello que ya no. 
                          <br/>
                    Es el primer paso de toma de conciencia de una situación que nos disgusta, que normalmente vemos como un problema actual.
                          <br/>
                    Para poder pasar al siguiente paso, es necesario que tengamos claridad acerca de lo que nos está estorbando nuestro camino, para poder empezar a organizarnos y llegar a la creación de algo totalmente innovador.
                          <br/>
                          <br/>
                    <b>ORDENO</b> es el segundo paso, que nos invita a dar orden a nuestro desorden emocional, y poner prioridades en base a lo que necesitamos. También, nos ayuda a ponerle nombre a las emociones y a nuestros procesos personales, para poder tener una perspectiva mucho más amplia. Dar orden a nuestro proceso nos ayuda a ver las cosas con mucha más claridad que en el paso anterior, donde nos dedicamos a analizar una por una nuestras creencias y limitaciones.
                          <br/>
                          <br/>
                    <b>CREO</b> es donde la magia empieza a tomar forma. Una vez identificadas aquellas cosas que queremos modificar, y organizadas de una forma que podemos entenderlas sin que estén dispersas, es momento de darles una nueva forma, más coherente con lo que queremos ver manifestado en nuestra vida y en nuestro futuro. Si bien es el momento más divertido del proceso, también los pasos previos son necesarios para que lleguemos a esta etapa con el terreno mucho más claro y que haya disfrute y diversión en el proceso de creación.
                          <br/>
                          <br/>
                    Este maravilloso <b>Kit</b>, si lo analizamos bien, es un método que nos sirve para absolutamente todo. No solamente para un proceso emocional e introspectivo. Esa es la magia de lo holístico, aplica para todo. Te dejo aquí abajo un ejemplo de algo super terrenal, que asimismo, también implica un proceso interno y profundo.
                          <br/>
                          <br/>
                    Como buena viajera y nomade, cada tanto tengo que hacer mi valija y preparame para el siguiente destino.
                          <br/>
                          <br/>
                    Utilizando el método <b>ROCk</b>, la acción de hacer las valijas para prepararme para la siguiente aventura, es mucho más rica e interesante.
                          <br/>
                          <br/>
                    <b>REVISO</b>
                          <br/>
                    Primero, haría una revisión de todas mis cosas. ¿Cuáles de ellas me sirven para el próximo destino? ¿Cuáles no? ¿Es necesario llevar abrigo para un destino en el cual es verano todo el año? ¿Hay algo que ahora no tenga que necesite añadir a mi valija?
                          <br/>
                    ¿Cuales son las prendas que no estuve utilizando los últimos 3 meses? Realmente pienso que las voy a utilizar?
                          <br/>
                          <br/>
                    <b>ORDENO</b>
                          <br/>
                    Una vez que tenga todo lo que creo que voy a necesitar en base a la primera fase de revisión, pondría las manos a la obra y empezaría a organizarlas. Las pondría todas sobre una superficie en donde pueda tener acceso visual a todas, y las organizaría por categorías. Algunas de ellas las pondría en bolsas con una etiqueta que me permita identificarlas. Remeras, pantalones, camperas, ropa interior, artículos de baño, papeles, cables y electrónicos, etc. Esto, llevaría a la tercera parte del proceso CREO con mucho más disfrute.
                          <br/>
                          <br/>
                    <b>CREO</b>
                          <br/>
                    Aquí, buscaría mi valija o mochila, y empezaría a pensar: Cuales son los artículos que tengo que llevar siempre conmigo? Ya sea por motivos de seguridad o de fácil acceso? Los pondría todos en el bolso de mano. Luego, en la valija más grande, organizaría todo en base a mis prioridades, y estas pueden variar, depende el destino al que vaya, y muchos otros factores más. Esta fase es pura creatividad, y super relativa en base a lo que a mi me guste, y lo que necesite. También, puedo jugar con los colores, la ubicación de las cosas, y la comodidad que necesite en el viaje y en el lugar de destino
                          <br/>
                          <br/>
                          <br/>
                    Como podrás ver, este método se puede utilizar en cualquier ámbito, y por eso es integral y super poderoso, además de ser divertidísimo.
                          <br/>
                          <br/>
                    Te invito a que lo pongas en practica también en algún aspecto más terrenal de tu vida diaria, para que puedas experimentarlo por ti misma. Ya sea: Remodelar algún rincón de tu hogar, organizar tu armario, o los archivos de tu computadora. En fin. El cielo es el limite.
                          <br/>
                          <br/>
                    Y sin decir más…
                          <br/>
                          <br/>
                    Espero que hayas disfrutado este maravilloso Bootcamp, que realicé con muchísimo amor, y con la intención de que puedas ver un cambio en tu forma de ver el mundo. Estoy segura que si realizas los ejercicios, y pones tu granito de arena, así será.
                          <br/>
                          <br/>
                    Gracias por ser parte, te deseo lo mejor en tu proceso individual, y a brillar, mi amor!
                          <br/>
                          <br/>
                    ✨
                          <br/>
                    Un abrazo intergaláctico,
                          <br/>
                    Ju
                          <br/>
                          <br/>
                        </p>
                        <br/>
                        <hr>
                        <br/>
                        <h2>¡Felicitaciones! Llegaste al ultimo día de la Tercera y Ultima Fase del Bootcamp Espíritu Valiente</h2>
              
                        <h3>¿Cómo sigo?</h3>
                        <br/>
                        <b>Si estás realizando este Bootcamp como parte del Programa de Coaching Personalizado Espíritu Valiente:</b>
                        <br/>
                        <br/>
                        Ahora es el momento de agendar, si ya no lo hiciste, tu tercera sesion Hacia Adentro conmigo. Aquí tendras un seguimiento personalizado de lo que pudiste aprender en estos días, con los ejercicios y la nueva información incorporada.
                        <br/>
                        <br/>
                        ¡Estoy super emocionada por continuar este viaje de autodescubrimiento junto a ti!
                        <br/>
                        <br/>
                        <a href="https://meet.brevo.com/juliana-rocha/hacia-adentro-or-sesion-11" class="btn white_btn">Reserva tu sesión AD aquí</a>
                        <br/>
                        <br/>
                        <b>Si unicamente estas realizando el Bootcamp Intensivo 100% Online:</b>
                        <br/>
                        <br/>
                        El Bootcamp ha llegado a su fin. Espero que lo hayas disfrutado, y que te haya abierto nuevos caminos. 
                        <br/>
                        <br/>
                        Recuerda, si estas interesada en realizar un proceso personalizado 1:1 conmigo, puedes reservar tu sesión de claridad para reservar tu cupo.
                        <br/>
                        <br/>
                        <a href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1" class="btn white_btn">Reserva tu sesión de claridad aquí</a>
                        </p>
                      </div>
            
                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>