---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Creo"
            program="Espíritu Valiente"
            phase="Creo"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Creo - Día I</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Toma tu lugar en el mundo y conviértete en la persona que quieres ser. Causando el Efecto.</h2>
                          <br/>
                          <p>Para ser aquello que queremos ver reflejado en el exterior primero tenemos que hacernos LA pregunta, la gran pregunta. 
                            <br/>
                            <br/>
                      ¿Qué quisiéramos ver reflejado en nuestra vida?
                            <br/>
                      ¿Qué tipo de personas nos gustaría tener alrededor? ¿Cómo caminan? ¿Cómo se visten? ¿Cómo se comportan con nosotros? ¿Qué les gusta escuchar? ¿De qué temas hablan? ¿Cómo se manejan en la vida? 
                            <br/>
                            <br/>
                      Todos los detalles suman.
                            <br/>
                            <br/>
                      Y una vez que tenemos esto más o menos armado nuestra mente, un ideal del tipo de personas con las que nos gustaría rodearnos, es el momento de empezar a crearlo.
                            <br/>
                            <br/>
                      Y a diferencia de lo que se cree en muchos lugares, en donde se piensa que para crear una realidad diferente hay que visualizarla con la mente, solo imaginarla o empezar a buscar este tipo de personas, porque la ley natural de Causa y efecto, que es una de las leyes universales, uno de los axiomas del Kybalion lo que dice es que toda causa tiene su efecto y todo efecto tiene su causa y eso quiere decir que por ejemplo, hablando bastante sencillo que si yo tengo ganas de tener amigos que les gusta el jazz lo puedo conseguir yendo a un lugar en el cual, por ejemplo, se escucha jazz.
                            <br/>
                            <br/>
                      Eso sería lo que normalmente haríamos utilizando la ley de Causa y efecto haciendo algo que nos lleve hacia un lugar donde podamos encontrar este tipo de personas.
                            <br/>
                            <br/>
                      Ahora cuando uno Causa el Efecto, uno empieza al revés.
                            <br/>
                            <br/>
                      Se empieza siendo. Convirtiéndose 100% al máximo en aquello que quieras ver reflejado en el exterior.
                            <br/>
                            <br/>
                      Entonces de esa forma ya le está enviando señales al univers de que uno ya se encuentra en esa frecuencia vibratoria y el universo le envía aquellas frecuencias que se encuentran en sintonía con lo que uno está pidiendo
                            <br/>
                            <br/>
                      Se deja de pedir como si uno no tuviera y se empieza a simplemente a atraer porque uno ya ES esa frecuencia.
                            <br/>
                            <br/>
                      Esta es la gran diferencia de causar un efecto, que funciona, pero Lleva más trabajo
                            <br/>
                            <br/>
                      Lleva más tiempo y también conlleva, vamos a decir la verdad, mayores expectativas.
                            <br/>
                            <br/>
                      Sin embargo, el trabajo de causar un efecto es muchísimo más disfrutable. 
                            <br/>
                            <br/>
                      Porque uno ya se encuentra en un trabajo interno de ser aquello que quiere ver en su vida, entonces no solamente en el trabajo no hay esfuerzo de exceso de movimiento como normalmente lo conocemos, si no que también hay un disfrute en el momento de la creación, porque uno si está buscando algo afuera es porque uno quiere ese algo
                            <br/>
                            <br/>
                      Llamemos a ese algo cualquier cosa, no sé, por ejemplo: Paz.
                            <br/>
                      Yo he escuchado a muchas personas como fascinadas por conocer personas o ir a lugares que les dan paz, y sí, todos queremos sentir Paz.
                            <br/>
                            <br/>
                      Pero qué nos conviene? Ir a un lugar o estar con una persona que nos haga sentir esa Paz o nosotros encontrar la forma para sentirla por nosotros mismos?
                            <br/>
                            <br/>
                      El encontrarla dentro nuestro nos da una “permanencia” de esa paz que estamos buscando.
                            <br/>
                            <br/>
                      Realmente, ¿qué nos da una herramienta mucho más poderosa? 
                            <br/>
                      El pensar o creer que otro nos la da? o el saber que nosotros tenemos la capacidad de tenerla nosotros mismos?
                            <br/>
                            <br/>
                      Este es un gran ejemplo de lo hermoso que es Causar el Efecto y todo lo que nos permite descubrir de nosotros mismos, porque no solamente a través de la ley de atracción vamos a estar atrayendo muchísimas personas y situaciones que se asemejen a nuestra vibración y que nos den el tipo de destino y el tipo de situación que nosotros estamos queriendo manifestar, sino también el hecho de que vamos a llegar un momento en el cual no tengamos esa necesidad de ir a buscarlo, sino como ya lo vamos a SER nosotros mismos, realmente nos va a dar lo mismo, si aparece alguien afuera que tenga esa misma vibración o no.
                            <br/>
                            <br/>
                      Y no es que no nos va a importar compartir esta vibración, pero ya va a ser desde otro lugar totalmente diferente.
                            <br/>
                            <br/>
                      Yo creo que es muy poderoso empezar a Causar el Efecto en nuestras vidas porque nos devuelve la total responsabilidad sobre todo aquello que queremos lograr.
                            <br/>
                            <br/>
                      Si uno entra en la neurosis de Quiero conseguir esto y no puedo y Lucho para conseguirlo y Busco todos los medios necesarios para lograrlo, la verdad es que puede ser bastante cansador.
                            <br/>
                            <br/>
                      por otro lado si uno decide decir: Bueno, ahora, lo que yo estoy buscando es… vamos a poner un ejemplo en el ámbito de las parejas:
                            <br/>
                            <br/>
                      Lo que estoy buscando ahora mismo es una pareja que sea tranquila, que lea en sus tiempos libres, Que respete mis tiempos, que salga con sus amigos cada tanto, que le guste el jazz, que hablemos de filosofía, etc.
                            <br/>
                            <br/>
                      Ahí podemos, por ejemplo, aplicar la lista de manifestación consciente que utilizamos en los capítulos previos, 
                            <br/>
                            <br/>
                      Pero sin querer forzar que suceda. Sin empezar a buscar activamente a esta pareja. Sin buscar en aplicaciones y preguntarle a las personas y eso.
                            <br/>
                            <br/>
                      Si en lugar de todo eso o de estar esperando y visualizándola y poniéndole una cara,
                            <br/>
                      lo cual está bueno, hacer un ejercicio de visualización es necesario pero si no nos focalizamos pura y exclusivamente en el resultado.
                            <br/>
                            <br/>
                      Si lo hacemos y lo soltamos, para luego pasar nosotros ser eso que queremos ver, es decir, nosotros a leer, a pasar tiempo con nuestros amigos, a escuchar jazz, a ser respetuosos Con quienes nos rodeamos y actuar como esta persona que quisiéramos ver reflejada, que al final, nos muestra una parte de nosotros mismos que tenemos ganas de integrar, vamos a estar haciendo un trabajo completo e integral.
                            <br/>
                            <br/>
                            <br/>
                      No Solamente vamos a estar forjando el universo que nos traiga esta persona, sino que también vamos a estar enviando señales que gritan que yo ya soy todo esto, no necesito nada externo que me complete, solamente es lo que a mí me gusta, es lo que vibro y Por ende el universo va a actuar en coherencia y va a enviarlo.
                            <br/>
                            <br/>
                      Entonces me parece un ejercicio no solamente poderosísimo, sino de puro disfrute en el cual uno pone a prueba su capacidad de creación y realmente llega a lugares asombrosos en los cuales no solamente el momento de poner en práctica este este maravilloso método se disfruta, sino que también nota cambios por decir así, instantáneos, porque uno decide actuar de una forma diferente y en cuanto la vida empiece a ordenar todo no solamente nota los cambios sino que se maravilla por haber conocido este gran poder de creación que tenemos todos
                            <br/>
                            <br/>
                            <br/>
                      Vivimos en una sociedad en la cual se nos ha acostumbrado a buscar aquellas cosas que queremos tener, porque nos hemos perdido en la dualidad de ser simplemente seres materiales, los cuales tienen que buscar afuera de ellos aquello que nos falta 
                            <br/>
                            <br/>
                      Entonces es normal que tengamos la tendencia a pensar que las cosas se logran de esa forma. 
                            <br/>
                            <br/>
                      Lo que yo les traigo aquí es un método diferente. Este método no fue inventado por mí, es conocido hace muchos años, hay muchas filosofías que lo abarcan. 
                            <br/>
                            <br/>
                      Yo he leído el libro de Joe Dispenza, Deja de Ser Tú, hace un tiempo y me gusta mucho como lo explica él. Me parece fenomenal y realmente siento que es una forma muy diferente de encarar la vida y quería compartirlas en el primer día de Creo este este método para que lo puedan empezar a implementar y puedan empezar a ver cuáles son los cambios tanto instantáneos, como en el proceso, como finales que se pueden empezar a sentir 
                            <br/>
                            <br/>
                      Les mando un abrazo intergaláctico y espero que hayan disfrutado de este primer día de la última fase de Espiritu Valiente, Creo. 
                            <br/>
                          </p>
            
                      <a href="creo-dia-2" class="btn white_btn">Ir al día 2</a>
            
            
                      </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>