---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Creo"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Creo - Intro</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>"Solo tu y nadie mas que tu, tienes la responsabilidad última de diseñar tu propio plan de vida".</h2>
                          <br/>
                          <p>Bienvenidas a esta última fase de Espíritu Valiente. Muchas gracias por seguir aquí conmigo, ampliando consciencia, y siendo parte de la gran revolución de mirar hacia adentro.
                            <br/>
                            <br/>
                      En la segunda fase del programa estuvimos integrando todo lo aprendido en la primera fase de revisión. Le dimos orden, le pusimos nombre, y entendimos de donde viene. 
                            <br/>
                            <br/>
                      Aprendimos a identificar y gestionar nuestras emociones de una forma sana y saludable. 
                            <br/>
                            <br/>
                      También empezamos a crear una imagen del tipo de relaciones que queremos manifestar en nuestra vida. 
                            <br/>
                            <br/>
                      Destapamos partes de nosotras mismas que no sabiamos que estaban ahi y fuimos empezando a construir una nueva identidad, mas adaptada a aquello que nos impulse a crecer y evolucionar.
                            <br/>
                            <br/>
                      Por eso, en esta tercera y última fase, vamos a dedicarnos pura y exclusivamente a CREAR.
                            <br/>
                            <br/>
                      Una vez identificada tu energía predominante, el tipo de parejas que atraes, tu responsabilidad sobre tu propia vida y tus relaciones, y con las emociones un poco más claras y ordenadas, vamos a pasar a crear la vida que deseas ver exteriorizada. 
                            <br/>
                            <br/>
                            ¿Como? Siendo aquello que buscas en el afuera.
                            <br/>
                            <br/>
                      Vamos a estar revisando aquellos hábitos que tienes que cambiar, para SER aquello que deseas VER REFLEJADO en tu realidad. 
                            <br/>
                            <br/>
                      De esta forma, estaremos activando en su mayor potencialidad la verdadera LEY DE ATRACCIÓN, donde ya soy lo que quiero ver en mi exterior. 
                            <br/>
                            <br/>
                      No se trata de pensar lo que deseo manifestar, porque nuestro pensamiento consciente ocupa un porcentaje ínfimo comparado con nuestro subconsciente, se trata de hacer un HACK a todo esto a través de nuestras acciones.
                            <br/>
                            <br/>
                      Veremos la ley universal de causa y efecto y empezaremos a CAUSAR EL EFECTO.
                            <br/>
                            <br/>
                      Para no estar tan perdidos en la teoría, e irnos por las ramas, vamos a focalizarnos en nuestras energías Yin y Yang. 
                            <br/>
                            <br/>
                      Vamos a empezar a integrarlas, y a SER aquellas energías en las que no estamos SIENDO, para poder lograr un equilibrio nosotros mismos y no estar buscando nada AFUERA. 
                            <br/>
                            <br/>
                      De esta forma vamos a estar logrando integridad y completitud, y el tipo de pareja que atraeremos a nuestra vida, solamente será un reflejo de lo que nosotros ya somos, con las características que pedimos, pero sabiendo que en realidad, el otro es un ser completo, ya que nosotros también lo somos.
                            <br/>
                            <br/>
                      Usando las energías Yin y Yang dejaremos de lado el mito de la media naranja que nos han vendido durante tantos años, y estaremos en total coherencia con aquello que nos hace sentir completos a nosotros mismos, así podremos manifestar relaciones con las cuales COMPARTIR desde la completitud y no desde la necesidad. 
                            <br/>
                            <br/>
                      A esta altura la idea es ya sentirnos mucho más completos que cuando empezamos la formación. Los cambios los notaremos dependiendo de cada persona.
                            <br/>
                            <br/>
                      La idea principal no es, para nada, encontrar una pareja rápido, sino es más bien, tener en claro cuales son las cualidades que estamos buscando en un otro, porque muchas veces -por no decir la mayoría- no las sabemos con exactitud. 
                            <br/>
                            <br/>
                      También, es llegar a un punto de inflexión en donde ya podamos sentirnos completos por nosotros mismos o estemos en ese camino, y podamos identificar las ganas de estar en pareja como una elección y no una necesidad. 
                            <br/>
                            <br/>
                      Esto es fundamental reconocerlo y moverse así por los vínculos, para no generar dependencia.
                            <br/>
                            <br/>
                      Sin mas que decir, vamos a por la ultima fase, el inicio de un gran cambio.
                            <br/>
                            <br/>
                      ¡Espero que te diviertas!
                            <br/>
                          </p>
                    <br/>
                    <a href="creo-dia-1" class="btn white_btn">Ir al día 1</a>
            
            
                      </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>