---
import ContactMe from '../components/ContactMe.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import Newsletter from '../components/Newsletter.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import "../styles/responsive.css";
---

<Layout title="¡Hablemos!">
	<div class="page_wrapper">
		<Navigation />
		<ContactMe />
		<Newsletter />
		<Footer />
	</div>
</Layout>
