---
import Breadcrumb from '../components/Breadcrumb.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Agenda from '../components/Agenda.astro';
import "../styles/global.css";
import "../styles/responsive.css";
import AboutEspiritu from '../components/AboutEspiritu.astro';
import FaqEV from '../components/FaqEV.astro';
import Reviews from '../components/Reviews.astro';
---

<Layout title="Espíritu Valiente® - Estupenda Vibra">
	<div class="page_wrapper espiritu-valiente-wrapper">
		<Breadcrumb title="Espíritu Valiente®"/>
		<AboutEspiritu />
		<Agenda />
		<div class="container">
			<Reviews />
		</div>
		<FaqEV />
		<Footer />
	</div>
</Layout>
<style>
	.espiritu-valiente-wrapper {
		.bred_crumb {
			@media screen and (max-width: 767px) {
				min-height: 250px !important;
			}

		}
		.bred_text h1 {
			@media screen and (max-width: 767px) {
				margin-top: 5rem;
			}
		}
	}
</style>
