---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/responsive.css";
---

<Layout title="Welcome to Estupenda Vibra">
	<div class="page_wrapper">
		<div class="bred_crumb blog_detail_bredcrumb breadcrumb-ev">
			<div class="container">
			  <div class="bred_text">
				<p class="subtitle-ev">Mentoría personalizada e intensiva para mujeres profesionales o emprendedoras que buscan relacionarse desde la libertad.</p>
				<h1 class="title-ev">Te acompaño a sanar tus vínculos, integrando tus energías Yin y Yang </h1>
				<p class="subtitle-ev">Logralo a través de mi método ROCk⚡️de Espíritu Valiente®, una fórmula que te servirá
				  hoy y para siempre, con todos tus vínculos y para todas las areas de tu vida.</p>
			  </div>
			</div>
		  </div>
	  
		  <!-- Blog Details Block -->
		  <section class="blog_detail_section">
			<div class="container">
			  <div class="blog_inner_pannel">
				<div class="review">
				  <span>Espíritu Valiente</span>
				  <span>Plan 100% Personalizado</span>
				</div>
				<div class="section_title">
				  <h2>Espíritu Valiente</h2>
				</div>
				<!-- <div class="main_img">
					<img src="images/blog_detail_main.png" alt="image">
				  </div> -->
				<div class="info espiritu-info">
				  <div class="video-box-ev">
					<div class="ev-bullet-points">
					  <h2>Mentoría personalizada e intensiva</h2>
					  <p><i class="icofont-computer"></i> Bootcamp EV 100% Digital </p>
					  <p><i class="icofont-businesswoman"></i> Ideal para mujeres que estan decididas a invertir en si mismas
					  </p>
					  <p><i class="icofont-woman-bird"></i> Sesiones Individuales y 100% personalizadas con Juliana</p>
					  <p><i class="icofont-eye-open"></i> Guía adaptada de autoconocimiento a traves de los 5 Elementos
						Fundamentales</p>
					  <p><i class="icofont-heart-beat"></i> Enfoque holístico con meditaciones, breathwork, microacciones y
						reprogramación del subconsciente.</p>
					  <p><i class="icofont-speech-comments"></i> Acceso a la comunidad de Mujeres Valientes</p>
					</div>
				  </div>
				  <br />
				  <div class="reserve">
					<a href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1" class="btn white_btn">QUIERO
					  AGENDAR</a>
				  </div>
				  </p>
				  <br />
				  <br />
				  <h2>¿Te preguntas si este programa es para ti?</h2>
				  <div class="question-box">
					<h3 class="espiritu-faq"><i class="icofont-heart-beat"></i> ¿Estás pasando por una ruptura amorosa y
					  quieres ver cambios en tu forma de relacionarte?</h3>
					<h3 class="espiritu-faq"><i class="icofont-loop"></i> ¿Hace tiempo te encuentras repitiendo los mismos
					  patrones en tus vínculos?</h3>
					<h3 class="espiritu-faq"><i class="icofont-dolphin"></i> ¿Tienes ganas de relacionarte de forma libre y
					  sana?</h3>
				  </div>
	  
				  <br />
				  Te siento. He estado ahí. Y por eso hoy armé este programa en donde mi misión es brindarle guía y apoyo a
				  todas aquellas personas que se encuentren pasando por esta situación.
				  <br />
				  <br />
				  <br />
				  <h2>¿Cómo?</h2>
				  Gracias a mi programa<b> Espíritu Valiente®</b> en donde junté todas las herramientas que fueron clave en mi
				  proceso de cambio a la hora de relacionarme, y las enseño con un método integral al cual decidí llamar <b>
					Metodo ROCk® </b>
				  <br />
				  <br />
				  El objetivo de este programa es que <b>dejes de atraer al mismo tipo de personas</b> en tus relaciones, que
				  te contectes con tu <b>versión más auténtica,</b> y que aprendas a identificar y <b>gestionar tus energías
					Yin y Yang.</b>
				  <br />
				  <br />
				  Si bien este programa está orientado a las relaciones de pareja y a los vínculos en general, al tener un
				  <b>enfoque holístico</b>, cubrirá todas las áreas de tu vida. Un verdadero mimo al alma.
				  <br />
				  <br />
				  <br />
				  <h2>¿Estás lista para iniciar este viaje conmigo?</h2>
				  <br />
				  Agenda una sesión de claridad ahora.
				  <br />
				  <br />
				  <div class="reserve">
					<a href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1" class="btn white_btn">QUIERO
					  AGENDAR </a>
				  </div>
				  </p>
				  <br />
				  <p>
				  <h3>Este plan 100% personalizado incluye:</h3>
				  <ul class="espiritu-valiente-list">
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>Reuniones y Sesiones 1 a 1 conmigo durante <b>7
						  semanas</b> donde crearemos un <b>plan de acción</b> para alcanzar tus objetivos en el plano
						espiritual y terrenal. Te acompañaré durante todo el proceso.</p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>Bootcamp <b>Espíritu Valiente</b>. Un programa
						intensivo de 11 días. Incluye 3 Fases Claras: <b>Reviso - Ordeno - Creo.</b></p>
					</li>
					<li>
					  <p> <span class="icon"><i class="icofont-love"></i></span><b>Meditaciones transcendentales.</b>
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>Tips para aprender a
						<b>meditar y visualizar</b> correctamente de una manera practica.
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span><b>Aceptación de lo que és</b> y eliminación
						del sufrimiento
					  </p>
					</li>
					<li>
					  <p> <span class="icon"><i class="icofont-love"></i></span><b>Libros, artículos y prácticas </b>para
						integrar en tu rutina diaria.</p>
					</li>
					<li>
					  <p> <span class="icon"><i class="icofont-love"></i></span>Ejercicios para <b>cerrar ciclos</b> que te
						bloquean para avanzar hacia un futuro mas conectado</p>
					</li>
					<li>
					  <p> <span class="icon"><i class="icofont-love"></i></span>Conocer las <b>7 Leyes Espirituales</b> que
						rigen nuestra vida y aprender a utilizarlas a nuestro favor.</p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Audios con <b>afirmaciones positivas</b></p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Ondas Theta para <b>reprogramar el subconsciente</b></p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Sonidos binaurales para aliviar la <b>sensación de dolor</b> </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Implementación de <b>Micro-acciones</b> todos todos los días, con mi apoyo para la realización de las
						mismas
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Breathwork. <b>Ejercicios de respiración avanzados.</b>
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Activación de códigos utilizando <b>Geometría Sagrada.</b>
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Reconocimiento, y herramientas para reconocer y honrar a tu <b>Niña Interna</b>
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Técnicas de <b>Protección Energética</b> hacia situaciones o energías de baja vibración.
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Pasos guiados para crear una vida donde la baja autoestima se reemplace por <b>conocer tu propio
						  valor.</b>
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Toma de conciencia de <b>cómo te sientes.</b> Los sentimientos son nuestro sistema de guía interno,
						pero muchos de nosotros nos hemos olvidado de escucharlos. Es hora de volver a <b>ponernos en contacto
						  con nuestras emociones.</b>
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Y como resultado... Ver la vida de una forma <b>diferente, fresca, renovada.</b>. En donde nuestras
						relaciones y nuestra forma de relacionarnos de un giro 360.
					  </p>
					</li>
					<li>
					  <p><span class="icon"><i class="icofont-love"></i></span>
						Y mucho más...
					  </p>
					</li>
				  </ul>
	  
	  
				  <h3>¿Qué podes esperar de Espíritu Valiente?</h3>
	  
	  
				  <p>Lo que te ofrezco con esta formación 100% personalizada, es un <b>producto a medida, creado para ti.</b>
					A través de mi acompañamiento, trabajando en conjunto, vamos a identificar aquellas conductas o creencias
					que pueden estar siendo un obstáculo en tu vida para <b>lograr tus objetivos y alcanzar tus metas.</b>
					Utilizaremos algunas herramientas externas si el momento lo pide, como oráculos, tarot, o cartas para el
					inconsciente, aunque el trabajo siempre será desde adentro hacia afuera.</p>
	  
				  <p><i>Nota: Este proceso no sustituye a la terapia con un especialista de la salud mental (psicólogo,
					  psiquiatra, psicoterapeuta)</i></p>
	  
	  
				  <h3>Modalidades, Inversión y Formas de Pago </h3>
	  
				  <p>Espíritu Valiente es un programa 100% personalizado, el cual se compone de las siguientes modalidades 100% Online: <b>Individual y Grupales.</b> Siendo las indiviuales prioritarias.
	  
				  <p>Las formas de pago habilitadas para esta inversión son <b>Stripe</b> y <b>PayPal</b>, y se aceptan todas las tarjetas de crédito.</p>
	  
				  <h3>¿Te animas a dar el primer paso?</h3>
				  <p>Reserva tu <b>Sesión de Claridad 1 a 1 conmigo</b> , donde podrás quitarte todas tus dudas, conocerme, y podamos ver si mi programa se adapta a lo que estas buscando.</p>
	  
				  <br />
	  
	  
	  
	  
				  <div class="reserve">
					<a href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1" class="btn white_btn">Reserva tu
					  sesión ahora mismo</a>
				  </div>
	  
				  <br />
				  <br />
	  
				  <p>Con amor, <br>
					Ju</p>
	  
				</div>
				<!-- <div class="info">
				  <h3>Algunas reseñas de quienes se encuentran realizando Espiritu Valiente conmigo</h3>
				  <p>Les dejo por aquí algunas reviews que me han compartido, algunos de mis clientes y personas que decidieron abrirme su corazón y confiar en mi. Gracias infinitas </p>
				</div>
				<div class="quote_block">
				  <span class="q_icon"><i class="icofont-quote-left"></i></span>
				  <h2>Realmente hacer decidido iniciar un proceso con Juli fue y sigue siendo asombroso y una perfecta combinacion para mi proceso de desarrollo personal. Ella siempre tan abierta y honesta, con gran corazon, me ayuda a ir concretando mis logros desde el amor. 100% recomendada! Gracias, graciasss!</h2>
				  <p><span class="name">Ceci</span></p>
				</div> -->
	  
				<!-- </div> -->
				<div class="blog_authore">
				  <div class="authore_info">
					<div class="avtar">
					  <img src="images/history_07.jpg" alt="image">
					</div>
					<div class="text">
					  <h3>Ju</h3>
					  <span>Mentora Especializada en Vínculos, Sabiduría y Autenticidad y Fundadora de EstupendaVibra</span>
					</div>
				  </div>
				  <div class="social_media">
					<ul>
					  <li><a href="https://www.instagram.com/estupendavibra/"><i class="icofont-instagram"></i></a></li>
					  <li><a href="https://t.me/estupendavibra"><i class="icofont-telegram"></i></a></li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
	  
	</div>
</Layout>
<style>
@media screen and (max-width: 767px) {
	.bred_crumb .bred_text h1 {
		font-size: 34px;
	}
}
</style>