---
import Author from "../components/Author.astro";
import Reviews from "../components/Reviews.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";
import "../styles/responsive.css";
---

<Layout title="Espíritu Valiente® - Estupenda Vibra">
	<div class="page_wrapper">

		<!-- HEADER -->
		<!-- <div class="bred_crumb blog_detail_bredcrumb breadcrumb-ev">
			<div class="container mentoria-wrapper">
				<div class="bred_text info-mentoria-title">
					<p class="subtitle-ev">
						Mentoría Personalizada e Intensiva para <span class="highlight">Mujeres</span> que buscan vivir sus vínculos en <span class="highlight">Libertad</span>, en conexión plena con su <span class="highlight">Intuición.</span>
					</p>
					<h1 class="principal-title">
						TE ACOMPAÑO A  <span class="highlight">FORTALECER</span> TU RELACIÓN DE PAREJA, CONECTANDO CON <span class="highlight">TUS DONES</span>, DISFRUTANDO DE <span class="highlight">TU SOLEDAD </span>Y PUDIENDO PRIORIZARTE <span class="highlight">SIN CULPAS.</span>
					</h1>
					<p class="subtitle-ev">
						Con mi Método Integral ROCk® vas a lograr  <span class="highlight">eliminar de raíz</span> tus bloqueos energéticos para convertirte en <span class="highlight">la protagonista de tu vida,</span> confiada, segura y conectada.
					</p>
					<div class="reserve">
						<a
							href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1"
							class="btn white_btn">QUIERO ESTE PROGRAMA</a
						>
					</div>
				</div>
			</div>
		</div> -->
	  
		  <section class="blog_detail_section">
			<div class="container">
				<div class="blog_inner_pannel programa-info">
				<div class="review">
				<span>Estupenda Vibra</span>
				<span>Mi programa MÁS completo</span>
				</div>
				<div class="section_title">
					<h2>Espíritu Valiente</h2>
				</div>

				<div class="info espiritu-info">
				<!-- QUE INCLUYE -->
				<div class="video-box-ev">
					<div class="youtube-video-container">
						<iframe class="youtube-video" src="https://www.youtube.com/embed/DaJEypz42hM?si=dQYLG22LKYuKnlFE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
				<div class="ev-bullet-points">
				<h2>Este programa incluye…</h2>

				<p><i class="icofont-computer"></i> El Bootcamp EV 100% Online, donde aprenderás el método ROCk®, constituido de 3 fases integrales. Reviso, Ordeno y Creo. </p>

				<p><i class="icofont-businesswoman"></i> Sesiones Individuales y 100% personalizadas conmigo, en donde te brindaré guía y apoyo en tu proceso.
				</p>
				<p><i class="icofont-woman-bird"></i> Guía adaptada de autoconocimiento a través de los 5 Elementos Fundamentales.</p>

				<p><i class="icofont-eye-open"></i> Enfoque holístico con meditaciones, breathwork, microacciones y reprogramación del subconsciente.</p>

				<p><i class="icofont-speech-comments"></i> Acceso a la comunidad de Mujeres Valientes</p>
				</div>
				</div>
				<br />
				<div class="reserve">
				<a href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1" class="btn white_btn">QUIERO
				AGENDAR</a>
				</div>
				</p>

				<br />
				<!-- PARA QUIEN -->
				<div class="content-wrapper">
				<h2 class="how-title">¿Para quién es Espíritu Valiente®?</h2>
				<p>Este programa <b>es para tí</b> si...</p>

				<ul class="my-list">
				<li>Eres una mujer que están decidida a invertir en sí misma</li>
				<li>Quieres dejar de atraer las mismas situaciones o personas a tu vida.</li>
				<li>Quieres un cambio pero no sabes por dónde empezar.</li>
				<li>Hace tiempo te encuentras repitiendo los mismos patrones en tus vínculos.</li>
				<li>Quieres aprender a identificar la causa de tus emociones y a gestionarlas mejor.</li>
				<li>Quieres descubrir los verdaderos bloqueos que te impiden manifestar la vida que deseas.</li>
				<li>Estás realmente lista para trabajar en ti misma y ver un cambio de verdad y para siempre </li>
				</ul>

				<p>Si te sentís identificada con lo que acabas de leer, entonces, no lo dudes, <b>este programa es para tí.</b></p>
				<br />
				<p>Creé <b>Espíritu Valiente®</b> como mi próposito y misión, ya que <b>yo he estado donde tú te encuentras ahora,</b>  y mi deseo más profundo es <b>acompañarte</b> en este proceso de transformación personal.</p>

				</div>

				<br />
				<!-- QUE PODES ESPERAR-->
				<div class="content-wrapper">
				<h2 class="how-title">¿Qué podes esperar de Espíritu Valiente®?</h2>
				<p>
				Lo que te ofrezco con esta formación 100% personalizada, es <b>un producto a medida, creado para ti.</b> A través de mi acompañamiento, trabajando en conjunto, vamos a <b>identificar aquellas conductas o creencias</b> que pueden estar siendo un obstáculo en tu vida para <b>lograr tus objetivos y alcanzar tus metas.</b>
				<br />
				<br />
				</p>
				<p> Además de mi acompañamiento 1:1 de <b>Coaching Intuitivo</b>, utilizaremos herramientas externas si el momento lo pide, como oráculos, tarot, o cartas para el inconsciente, ya que el trabajo siempre será <b>desde adentro hacia afuera.</b></p>
				</div>

				<br />
				<!-- COMO NACE -->
				<!-- <div class="content-wrapper">
				<h2 class="how-title">¿Cómo nace Estupenda Vibra?</h2>
				<p>
				<b>Estupenda Vibra </b>nació con la intención de <b
					>compartir mi proceso personal</b
				>, y las herramientas que a mi me habían ayudado a <b
					>salir del estado en el que me encontraba.</b>
				</p>
				<p>
				Luego empezar a descubrir que podía <b
					>crear mi propia realidad</b
				>, y manifestar una relación acorde a mi nueva vibración <b
					>sucedió algo muy transformador...</b>
				</p>
				<p>	Mas allá de haber manifestado aquello que mi alma anhelaba a nivel relacional, aún podía notar que había un <b>trabajo mucho mas profundo</b> por hacer... </p>
				<p>Fue ahí donde descubrí que tenia que hacer un trabajo intenso de <b>equilibrio</b> entre mis energías <b>Yin y Yang</b> (Femenina y Masculina), <b>derribar creencias limitantes</b> y trabajar mi <b>merecimiento y mi auto-valor.</b> </p>
				</div> -->

				<!-- OBJETIVO -->
				<div class="content-wrapper">
				<h2 class="how-title">¿Cual es el objetivo principal de Espíritu Valiente®?</h2>
				<p>
				Mi experiencia personal me ha enseñado que la mayor parte de estos problemas tienen su origen principal en un <b>sistema de creencias inconscientes limitantes</b> que hay que revisar, y con los <b>sentimientos constantes de culpa </b>que hemos heredado de forma <b>social, cultural y familiar.</b>
				</p>
				<br />
				<p>
				Por eso, en mi programa <b>Espíritu Valiente®</b> he juntado todas estas herramientas que he descubierto a lo largo de mi camino, <b>organizadas por fuerza elemental</b>, con un método integral que he creado, llamado <b>Método ROCk®</b> y con mi acompañamiento personalizado, para que quienes se encuentran en un proceso de <b>transformación personal </b>cuenten con mi guía, mi apoyo y un sostén que las permita sacar el mayor aprendizaje del viaje <b>más transformador</b>, el <b>reencuentro contigo misma.</b>
				</p>
				<br />
				<p>
				El objetivo de este programa es que dejes de atraer al mismo tipo de personas o situaciones a tu vida, que <b>aprendas a disfrutar plenamente de tu tiempo contigo misma</b>, que te alinees con <b>tu versión más auténtica,</b> que aprendas a identificar y gestionar tus energías <b>femenina y masculina</b>, para vivir una vida más equilibrada, y conectada con esa voz interna que tiene todas las respuestas, <b>tu intuición.</b>
				</p>
				<br />
				<p>Indudablemente <b>el resultado</b> se verá reflejado en tu <b>relación contigo misma</b>, y en la dinámica que tienes con tu pareja y/o tus vínculos más cercanos.</p>
				<!-- <br />
				<p>Al final del programa, contarás con un <b>set de herramientas prácticas</b>, que seran tu guía para el resto de tu vida, en todos los ámbitos que puedas imaginarte.</p>
				<br />
				<p>Mi rol aquí sera <b>brintarte acceso</b> a esas herramientas, <b>acompañarte en el proceso</b> de construir tu nueva identidad, y <b>ser tu sostén</b> cuando necesites guía.</p>
				<br />
				<p>También mi rol será <b>ayudarte a ver aquello que ya eres</b>, pero aún no logras reconocer, asegurándome que te conectes con <b>tu poder personal,</b> y siempre sepas cuando y cómo <b>volver a ti</b>.</p> -->
				</div>

				<br />
				<!-- QUE PODES ESPERAR-->
				<div class="content-wrapper">
				<h2 class="how-title">¿Cuáles son las modalidades de Espíritu Valiente®?</h2>
				<p>
				Espíritu Valiente® es un programa 100% personalizado, el cual incluye un Bootcamp para empezar, más de 14 sesiones individuales 1 a 1 conmigo, acceso a herramientas de transformación y un grupo de comunidad.
				</p>
				</div>
				<br />
				<!-- PLATAFORMAS DE PAGO-->
				<div class="content-wrapper">
				<h2 class="how-title">¿Cuáles son las plataformas de pago habilitadas?</h2>
				<p>
				Las formas de pago habilitadas para esta inversión son Stripe y PayPal, y se aceptan todas las tarjetas de crédito.
				</p>
				</div>

				<br />
				<br />
				<div>
				<h2>¿Estás lista para iniciar este viaje conmigo?</h2>
				<br />
				Agenda una sesión de claridad ahora. No lo postergues más.
				<br />
				<br />


				<h4 class="important-information">INFORMACIÓN IMPORTANTE: Por favor, ten en cuenta que la sesión de claridad no tiene costo, pero tiene mucho valor, por su contenido, y sobre todo, por mi tiempo. Si luego de agendar, y ver los requisitos, decides que no es algo para ti, cancela la sesión con al menos <b>24 horas de anticipación</b>, por respeto hacia mi y el recurso más valioso que tenemos: nuestro tiempo.</h4>
				<div>
					<iframe frameborder="0" width="100%" height="1000" src="https://meet.brevo.com/juliana-rocha/borderless?l=sesion-de-claridad-1-a-1"></iframe>
				</div>
				</div>
				</div>
				<br />

				<Reviews />
				
				<Author />
			
			</div>
		  	</div>
		</section>

	</div>
<style>


.important-information {
	background: #662e59;
    padding: 2rem;
    color: white;
    margin-bottom: 2rem;
	font-size: 1.2rem;
	b {
		color: #ffb3b3;
	}
}
.reserve {
	margin-top: 30px;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
	
@media only screen and (max-width: 600px) {
  .white_btn {
	padding: 10px 20px;
	font-size: 0.8rem;
  }

  .subtitle-ev {
	font-size: 12px;
  }

  .principal-title {
	font-size: 22px;
  }

  .mentoria-wrapper {
	width: 350px;
	margin-top: 20px !important;
  }
  .info-mentoria-title {
	padding: 10px !important;
  }

  .breadcrumb-ev {
	height: 100vh !important;
  }

  .ev-bullet-points h2 {
	font-size: 1.4rem;
  }

  .ev-bullet-points {
	margin-inline: 0;
	font-size: 0.8rem;

	@media only screen and (max-width: 600px) {
		margin-top: 50px;
	}
  }

  .how-title {
	font-size: 1.7rem;
  }
}

	.content-wrapper p {
		text-align: justify;
	}

	.my-list {
		text-align: left;
		padding-left: 30px !important;

		li {
			list-style-type: disc;
			margin-bottom: 0.5rem;
		}
	}

	.card-body {
		text-align: left;
		p {
			margin: 0;
		}
		.title {
			font-size: 1.2rem;
			color: rgb(63, 63, 63);
			margin-bottom: 1rem;
		}
	}
	.accordion-text {
		text-align: left;
	}
	.how-title {
		margin-bottom: 1.5rem;
		margin-top: 3rem;
	}
	.row_am {
		padding: 0;
		margin-bottom: 7rem;
	}
	.info-mentoria-title {
		padding: 30px;

		.principal-title {
			line-height: 1.3;
			font-size: 30px;
			text-transform: uppercase;

		@media only screen and (max-width: 600px) {
			font-size: 20px;
			padding: 0 !important;
		}

	}
}

.mentoria-wrapper {
	width: 800px;
	background: rgba(147, 7, 136, 0.45);
	border-radius: 20px;
	@media only screen and (max-width: 600px) {
		margin-top: 100px;
		width: 300px;
	}

}

.breadcrumb-ev {
	@media only screen and (max-width: 600px) {
		height: auto;
	}
}

.programa-info {
	margin-top: 0;
}

.breadcrumb-ev {
	margin-top: 0;
}


.highlight {
	font-style: italic;
	color: #ff8cc6;
}

</style>