---
import ContactMe from '../components/ContactMe.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import Newsletter from '../components/Newsletter.astro';
import Layout from '../layouts/Layout.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import "../styles/global.css";
import "../styles/responsive.css";
---

<Layout title="¡Hablemos!">
	<div class="page_wrapper">
		<Navigation />
		<Breadcrumb title="Guía Gratuita - La importancia de conectar contigo misma" />
		<iframe width="540" height="600" src="https://fb2d75d6.sibforms.com/serve/MUIFACmqU1Ro-lZZ4NN_7JwgRqWKlqNlva6v54d63FanTHLepppClpkpxyCcfoV3TAo5WVU3Y3OKIROHVoqFRL0b22X41LOlzKrPfOmLsMi7uTqr1RD-4IQ2L0RWV3nagz5L4r8JrSx5ZzU6QaUMWGOaT6Oot3jsrT5H2Gi82edcLsgm0dulLSPlAu_LJTjd9N_zU74KLfc1YB8A" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
		<Footer />
	</div>
</Layout>
