---
import ContactMe from '../components/ContactMe.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import Newsletter from '../components/Newsletter.astro';
import Layout from '../layouts/Layout.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import "../styles/global.css";
import "../styles/responsive.css";
---

<Layout title="¡Hablemos!">
	<div class="page_wrapper">
		<Navigation />
		<Breadcrumb title="Conecta Contigo Misma ✨" />
		<iframe width="540" height="600" src="https://fb2d75d6.sibforms.com/serve/MUIFAEDUIyYKMRXuBFRYeBUft82HB1vZpTdBoPnk13ZRf4lYI4V3_FK_GUJU-EzGcwAG0U63ZMHaMWewF5QDUefLqXGFllGyQqRAwHIrsHnTeZAKdSL7kx4MPyUCqzsiUVNa0tCMEJGXzc6Iu331Iei_tbhB7ZVZPZsXRWxg_t3tizg8Rv_jsClJ0ONmwSCEHPQKBNxlpAnGu_sS" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
		<Footer />
	</div>
</Layout>
