---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/responsive.css";
---

<Layout title="¡Gracias! Tu llamada fue agendada con éxito">
	<div class="page_wrapper">
		<!-- Preloader -->
		<!-- <div id="preloader">
		  <div id="loader"></div>
		</div> -->
	
		<!-- BredCrumb-Section -->
		<div class="bred_crumb blog_detail_bredcrumb">
		  <div class="container">
			<div class="bred_text">
			  <h1>¡Gracias! Tu llamada fue agendada con éxito</h1>
			  <!-- <ul>
				<li><a href="index.html">Home</a></li>
				<li><span>»</span></li>
				<li><a href="intro-previa-sesion-1-1.html">Introducción Previa a la Sesión de Claridad</a></li>
			  </ul> -->
			</div>
		  </div>
		</div>
	
		<!-- Blog Details Block -->
		<section class="blog_detail_section">
		  <div class="container">
			<div class="blog_inner_pannel">
			  <div class="review">
				<span>Intro</span>
				<span>Programa Personalizado</span>
			  </div>
			  <div class="section_title">
				<h2>Es importante que leas detalladamente la información de abajo 👇🏼 y que estés de acuerdo con ella</h2>
				<div class="banner_text">
				  <p class="padding-top">De otra forma, tendremos que <b>cancelar tu cita</b> y darle el horario a otra
					persona en la lista.</p>
				</div>
			  </div>
	
	
			  <div class="info banner_text">
				<h3>Resumen<b></b></h3>
				<ul>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Asegurate que mi servicio es el <b>indicado
						para ti</b>.
					</p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Motivate con la <b>experiencia de mis
						clientes</b>
					</p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Mira este video para entender mi <b>programa
						mas completo</b> y el método que utilizo.
					</p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span><b>Confirma tu asistencia</b> a la reunión
					  cuando me contacte contigo</b>
					</p>
				  </li>
				</ul>
			  </div>
	
	
			  <div class="info banner_text">
	
				<!-- <p>En este video te revelo el paso a paso de mi programa <b>Espíritu Valiente</b>, vas a poder tener mas claridad acerca de qué es lo que vas a poder encontrar en este programa intensivo de <b>3 meses</b> compuesto por un <b>Bootcamp 100% Online</b> e intensivo, mi acompañamiento constante, tareas practicas, y un seguimiento personalizado para poder ver tu progreso individual.</p> -->
				<h3 class="title-sections">Mi programa intensivo y personalizado es <b>el indicado para ti</b> si...</h3>
				<ul>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Ser una mujer <b>profesional o
						emprendedora</b></b>
					</p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Estar en búsqueda de <b>nuevos horizontes</b>
					  en relación a tus vínculos con las demás personas </p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Estar lista para <b>entrar en acción</b>
					  🏄🏻‍♀️
					</p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Tener como <b>objetivo</b> relacionarte de una
					  forma sana y asertiva con todos tus vínculos.
					</p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Contar con al menos <b>750 USD</b> (O su equivalente en tu moneda local) para
					  <b>invertir en ti misma</b> para alcanzar el objetivo principal del programa
					</p>
				  </li>
				  <li>
					<p> <span class="icon"><i class="icofont-birds"></i></span> Saber que los resultados a largo plazo
					  llevan <b>tiempo y trabajo interno</b> y estar de acuerdo con esta realidad
					</p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Asistir a la reunión con <b>predisposición,
						mente abierta, consciencia de cambio de perspectiva</b> y muchas ganas de dar un <b>giro 360</b> en
					  todos los aspectos de tu vida
					</p>
				  </li>
				  <li>
					<p><span class="icon"><i class="icofont-birds"></i></span>Asegurarte de asistir a la sesión con
					  <b>puntualidad, con una conexión estable</b> y sin ruidos molestos ni distracciones.
				  </li>
				</ul>
	
			  </div>
			  <div class="info">
				<h3 class="title-sections">Motivate con la experiencia de quienes <b>realizaron un proceso</b> conmigo</h3>
				<p>Te dejo por aquí algunas reviews que me han compartido, quienes ya han decidido formar parte de EV,
				  tomado cursos conmigo, o simplemente realizar un proceso corto de pack de sesiones Hacia Adentro para un
				  objetivo especifico. Si tu ya lo has tomado y quieres dejar tu reseña, puedes compartirmela por redes
				  sociales o pasarmela al Whatsapp, y con tu permiso, la incluyo en la lista. Gracias infinitas</p>
			  </div>
			  <div class="quote_block">
				<span class="q_icon"><i class="icofont-quote-left"></i></span>
				<h2>Simplemente maravilloso. Muy directo, al grano y haber tenido la oportunidad de ser parte de este curso
				  en vivo fue muy lindo. Juliana es muy honesta y comparte sus conocimientos con mucha gracia. Un placer
				  enorme haber sido parte!</h2>
				<p><span class="name">Rosalina</span></p>
			  </div>
			  <div class="quote_block">
				<span class="q_icon"><i class="icofont-quote-left"></i></span>
				<h2>Me gusto mucho la practicidad de cada uno de los conceptos, la naturalidad de Juliana, y la cantidad de
				  contenido de valor en tan poco tiempo. Eternamente agradecida!</h2>
				<p><span class="name">Pame</span></p>
			  </div>
			  <div class="quote_block">
				<span class="q_icon"><i class="icofont-quote-left"></i></span>
				<h2>Cursos como este hacen que te replantees el valor de las cosas en las que invertimos, fue un placer
				  haber sido parte, contenido de calidad por un valor unico, gracias Juuu, brillas</h2>
				<p><span class="name">Maxi</span></p>
			  </div>
			  <div class="quote_block">
				<span class="q_icon"><i class="icofont-quote-left"></i></span>
				<h2>Cuando empece las sesiones tenia en mente hablar de un tema muy concreto y difícil de resolver para mi
				  que era lo laboral y el dinero. Y a medida que pasaban las sesiones empezamos a hablar de otras cosas, mas
				  de base y profundas. Hasta que aparecieron las palabras “creencias limitantes”. Ahi cambio mi manera de
				  enfocar en tema, y si bien tengo un largo camino por delante creo que de cada sesión me llevo algo para
				  pensar o poner en práctica. Las sesiones pueden ayudar a saber cómo encarar un problema y tener una nueva
				  perspectiva. A empezar a ser más conscientes y estar atentos a lo que nos pasa y donde viene eso. Y sobre
				  todo a tener una nueva mirada del problema</h2>
				<p><span class="name">Ro</span></p>
			  </div>
			  <div class="quote_block">
				<span class="q_icon"><i class="icofont-quote-left"></i></span>
				<h2>Conocimiento, tecnicas utiles y reales, conexion y autenticidad. No puedo decir mucho mas porque valio
				  cada centavo y aun mucho mas. Gracias gracias gracias!</h2>
				<p><span class="name">Marce</span></p>
			  </div>
			  <div class="quote_block">
				<span class="q_icon"><i class="icofont-quote-left"></i></span>
				<h2>Lo he visto en diferido, y me fascina que existan estas opciones para que podamos aprender cosas nuevas
				  utiles para la vida y enriquecedoras, cuando disponemos del tiempo. La energia de Ju es realmente bella,
				  se nota su pasión</h2>
				<p><span class="name">Nahir</span></p>
			  </div>
	
			  <div class="info padding-top banner_text">
				<h3 class="title-sections">Mira este breve video para entender mi programa mas completo y el método que utilizo.</h3>
	
				<p>En este video te revelo el paso a paso de mi programa <b>Espíritu Valiente</b>, vas a poder tener mas
				  claridad acerca de qué es lo que vas a poder encontrar en este programa intensivo de <b>3 meses</b>
				  compuesto por un <b>Bootcamp 100% Online</b> e intensivo, <b>mi acompañamiento constante,</b> tareas practicas, y <b>un seguimiento personalizado</b> para poder ver tu progreso individual en todos los planos.</p>
	


				<div class="video-container padding-block">
				  <iframe width="700" height="400"
					src="https://www.youtube.com/embed/mP5d0zcApag?si=ivWXFJj6zPV65y_E"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
	
				</div>
			  </div>
	
	
			  <div class="info banner_text">
				<p>Toda la info del programa trato de abordarla en el video de arriba, <b>toma nota</b> ✍🏻 y sacate todas tus
				  dudas en la sesión de claridad</p>
				<p>Recuerda que durante los 3 meses del programa, ademas de tener el <b>acceso a cursos, talleres, enlaces informativos,</b> etc, tendrás acompañamiento personalizado conmigo 1:1 durante todo el proceso.</p>
				<p>11 Sesiones Hacia Adentro, con un enfoque de Coaching Holístico + La sesión de cierre </p>
			  </div>
	
			  <div class="info padding-top banner_text">
				<h3 class="title-sections">Confirma tu presencia cuando me comunique contigo</h3>
				<p>Uno o dos días antes de la sesión de claridad, me estaré comunicando con vos vía <b>WhatsApp o Instagram. </b>Te pido que respondas mi mensaje y respetes mi tiempo y energía disponible para recibirte, caso contrario, tendré que cancelar tu cita para brindarle el espacio a otra persona.</p>
			  </div>
	
			  <div class="info padding-top banner_text">
				<h3>Area de Gratitud</h3>
				<p>¡Muchas gracias por formar parte de este proceso! Te espero en la sesión de claridad</p>
	
				<p>Te abrazo, <br>
				  Ju</p>
			  </div>
	
	
	
	
			  <div class="blog_authore">
				<div class="authore_info">
				  <div class="avtar">
					<img src="images/history_07.jpg" alt="image">
				  </div>
				  <div class="text">
					<h3>Ju</h3>
					<span>Mentora Especializada en Vínculos, Sabiduría y Autenticidad y Fundadora de EstupendaVibra</span>
				  </div>
				</div>
				<div class="social_media">
				  <ul>
					<li><a href="https://www.instagram.com/estupendavibra/" target="_blank"><i class="icofont-instagram"></i></a></li>
					<li><a href="https://wa.link/p0rrsi" target="_blank"><i class="icofont-whatsapp"></i></a></li>
					<li><a href="https://t.me/estupendavibra"><i class="icofont-telegram"></i></a></li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		</section>
	
	  </div>
</Layout>
<style>
@media screen and (max-width: 767px) {
	.bred_crumb .bred_text h1 {
		font-size: 34px;
	}
}
</style>