---
import Author from "../components/Author.astro";
import Reviews from "../components/Reviews.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";
import "../styles/responsive.css";

import mujerIntuitivaImage from '../assets/images/workshop-mujer-intuitiva.jpg';

---

<Layout title="Mujer Intuitiva® - Estupenda Vibra">
	<div class="page_wrapper">
		<!-- HEADER -->
		<div class="bred_crumb blog_detail_bredcrumb breadcrumb-ev">
			<div class="container mentoria-wrapper">
				<div class="bred_text info-mentoria-title">
					<span class="limited">¡Cupos limitados!</span>
					<h1 class="principal-title mujer-intuitiva-title">
						Mujer <span class="highlight">Intuitiva</span></span>
					</h1>
					<p class="subtitle-workshop">
						En este Workshop <span class="highlight">en vivo </span>voy a estar compartiendo los <span class="highlight">aprendizajes, experiencias, y herramientas</span> que más me han ayudado a conectar con mi herramienta más poderosa y valiosa, <span class="highlight">mi intuición</span>, y que, por supuesto, siguen haciéndolo hasta el día de hoy.
					</p>
				</div>
			</div>
		</div>
	  
		  <section class="blog_detail_section">
			<div class="container">
				<div class="blog_inner_pannel programa-info">
				<div class="review">
				<span>Mujer Intuitiva</span>
				<span>Workshop en vivo</span>
				</div>
				<div class="section_title">
					<h2>Mujer Intuitiva</h2>
				</div>



				<div class="info espiritu-info">
				<!-- QUE INCLUYE -->
				<div class="video-box-ev">
					<div class="workshop-wrapper">
						<img src={mujerIntuitivaImage.src} />
					</div>
					
				<div class="ev-bullet-points">
				<h2>En este Workshop hablaremos de...</h2>

				<p><i class="icofont-eye-open"></i> Mi propia experiencia con la intuición desde temprana edad hasta mi adultez
				</p>

				<p><i class="icofont-eye-open"></i> Que NO es la intuición
				</p>
				<p><i class="icofont-eye-open"></i> Cómo identificarla y diferenciarla de la voz del ego
				</p>

				<p><i class="icofont-eye-open"></i> Ser Canal</p>

				<p><i class="icofont-eye-open"></i> Afirmaciones en vivo para conectar con ella</p>
				<p><i class="icofont-eye-open"></i> Las categorías de la percepción extrasensorial</p>
				<p><i class="icofont-eye-open"></i> Responsabilidad energética y discernimiento</p>
				<p><i class="icofont-eye-open"></i> Prácticas cotidianas para conectar con nuestra propia voz intuitiva
				</p>

				<p><i class="icofont-eye-open"></i> Prácticas y disciplinas recomendadas para elevar nuestra conexión con nuestra intuición</p>
				<p><i class="icofont-eye-open"></i> El lenguaje universal: Arquetipos, Símbolos y Numerología</p>
				<p><i class="icofont-eye-open"></i> Ritual, conexión y práctica</p>

				</div>
				</div>
				<br />
				</p>

				<br />
				<!-- PARA QUIEN -->
				<div class="content-wrapper">
				<h2 class="how-title">¿Para quién es Mujer Intuitiva®?</h2>
				<p>Este workshop es para <b>cualquier mujer</b>. Especialmente para las que estén buscando...</p>

				<ul class="my-list">
					<li>Herramientas para conectar con ellxs mismxs</li>
					<li>Identificar y traer a tierra todos sus dones</li>
					<li>Aprender a tomar mejores decisiones</li>
					<li>Animarse a conectar con su auntenticidad y vivir desde la libertad</li>
				</ul>

				<p>Ésta es la primer edición de <b>Mujer Intuitiva.</b> Estoy muy feliz de poder compartir mi conocimiento, y estoy segura que llegará exactamente a quién tenga que llegar.</p>
				<br />
				<p>Ya sabes como dicen... <b>El maestro llega cuando el alumno esta listo</b>, en este caso, lista.</p>

				</div>

				<br />
				<!-- QUE PODES ESPERAR-->
				<div class="content-wrapper">
				<h2 class="how-title">¿Cuando será Mujer Intuitiva?</h2>
				<p>
					Como verás, este Workshop será SUPER completo, será por la plataforma <b>Zoom</b> tendrá una duración aproximada de <b>2:30 Hrs</b>, y <b>quedará grabado</b> para quienes no puedan asistir el dia del vivo, aunque se recomienda que asistan para conocer a sus compañeras y puedan tener la posibilidad de sacarse las dudas que tengan al final, donde habrá un espacio de preguntas y respuestas.
				</p>
				<br />
				<p>El workshop en vivo se hará el <b>sábado 13 de Abril a las 11.00hrs</b> (argentina).</p>
				</div>
				<br />
				<br />

				<!-- VALOR -->
				<div class="content-wrapper">
				<h2 class="how-title">¿Cuál es el valor del Workshop?</h2>
				<p>
					El valor será de <b>7000 ARS</b> para quienes residan en Argentina, y de <b>11 USD</b> para el resto del mundo. Se aceptan todos los medios de pago.
				</p>
				</div>
				<!-- PLATAFORMAS DE PAGO-->
				<div class="content-wrapper">
				<h2 class="how-title">¿Cuáles son las plataformas de pago habilitadas?</h2>
				<p>
				Las formas de pago habilitadas para esta inversión son <b>Transferencia Bancaria</b> (Residentes de Argentina) y <b>Stripe</b> (Exterior), y se aceptan todas las tarjetas de crédito.
				</p>
				</div>

				<!-- PLATAFORMAS DE PAGO-->
				<div class="content-wrapper">
				<h2 class="how-title">¿Como reservo mi cupo?</h2>
					<p>
						Los <b>cupos son limitados</b> para asegurar la calidad y exclusividad del contenido y que todxs tengan un espacio para hacer sus preguntas
					</p>
					<br />
					<p>Para reservar tu espacio, puedes abonar de la siguiente forma:</p>
					<br />
					<stripe-buy-button
					buy-button-id="buy_btn_1P00OvEC8f126OL5SX705ZXx"
					publishable-key="pk_live_51OCnJhEC8f126OL5PdlLY0tr5o2fkuTJNowjhNChhnFYhUm9wCcW8kg2oB0nNQdtKlXuZMCTAM7IUn0YqyW2djWT00MoSw3yhB"
					>
					</stripe-buy-button>
					<br />
					<br />
					<div class="pago-mp">
						<p>Si residen en Argentina, el Alias es: <b>estupendavibra.mp</b></p>
					</div>
					<br />
					<br />
					<p>
						Luego de realizar el pago, enviar su Nombre Completo con el comprobante adjunto a <b>hola@estupendavibra.com</b>
					</p>
					<br />
					<p>
						Las primeras 3 personas que se inscriban tendrán un <b>descuento del 50% </b>en mi próximo Workshop, en el que hablare de <b>Las 7 Leyes Universales y Sabiduría Primordial</b>, también conocida como filosofía perenne ❤️‍🔥
					</p>
				</div>

				<br />
				<br />
				<div>
				<h2>¿Estás lista para iniciar este viaje conmigo?</h2>
				<br />
				¡No te lo pierdas! Reservá tu cupo antes de que se agoten
				<br />
				</div>
				</div>

				<Reviews />
				
				<Author />
			
			</div>
		  	</div>
		</section>

	</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.limited {
	color: white;
	font-size: 1.3rem;
}
.pago-mp {
	display: flex;
	justify-content: center;

	p {
		font-size: 1.3rem;
	}
}

.workshop-wrapper {
	width: 50%;

	@media only screen and (max-width: 600px)  {
		width: 100%;
	}

	img {
		width: 100%;
		border-radius: 20px;
	}
}

.mujer-intuitiva-title {
	font-family: "Parisienne", cursive;
	font-weight: 400;
	font-style: normal;

	@media only screen and (max-width: 600px) {
		font-size: 40px !important;
	}
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subtitle-workshop {
	padding-block: 2rem;
}
	
@media only screen and (max-width: 600px) {
  .white_btn {
	padding: 10px 20px;
	font-size: 0.8rem;
  }

  .subtitle-workshop {
	font-size: 15px;
  }

  .principal-title {
	font-size: 22px;
  }

  .mentoria-wrapper {
	width: 350px;
	margin-top: 20px !important;
  }
  .info-mentoria-title {
	padding: 10px !important;
  }

  .breadcrumb-ev {
	height: 100vh !important;
  }

  .ev-bullet-points h2 {
	font-size: 1.4rem;
  }

  .ev-bullet-points {
	margin-inline: 0;
	font-size: 0.8rem;

	@media only screen and (max-width: 600px) {
		margin-top: 50px;
	}
  }

  .how-title {
	font-size: 1.7rem;
  }
}

	.content-wrapper p {
		text-align: justify;
	}

	.my-list {
		text-align: left;
		padding-left: 30px !important;

		li {
			list-style-type: disc;
			margin-bottom: 0.5rem;
		}
	}

	.card-body {
		text-align: left;
		p {
			margin: 0;
		}
		.title {
			font-size: 1.2rem;
			color: rgb(63, 63, 63);
			margin-bottom: 1rem;
		}
	}
	.accordion-text {
		text-align: left;
	}
	.how-title {
		margin-bottom: 1.5rem;
		margin-top: 3rem;
	}
	.row_am {
		padding: 0;
		margin-bottom: 7rem;
	}
	.info-mentoria-title {
		padding: 30px;

		.principal-title {
			line-height: 1.3;
			font-size: 4.5rem;

		@media only screen and (max-width: 600px) {
			font-size: 20px;
			padding: 0 !important;
		}

	}
}

.mentoria-wrapper {
	width: 800px;
	background: rgba(147, 7, 136, 0.45);
	border-radius: 20px;
	padding-block: 2rem;
	@media only screen and (max-width: 600px) {
		margin-top: 100px;
		width: 300px;
	}

}

.breadcrumb-ev {
	@media only screen and (max-width: 600px) {
		height: auto;
	}
}

.programa-info {
	margin-top: 0;
}

.breadcrumb-ev {
	margin-top: 0;
}


.highlight {
	font-style: italic;
	color: #ff8cc6;
}

</style>