---
import Button from "../components/Button.astro";
import Author from "../components/Author.astro";
import Reviews from "../components/Reviews.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";
import "../styles/responsive.css";

import mujerIntuitivaImage from '../assets/images/workshop-mujer-intuitiva.jpg';

---

<Layout title="Mujer Intuitiva® - Estupenda Vibra">
	<div class="page_wrapper">
		<!-- HEADER -->
		<!-- <div class="bred_crumb blog_detail_bredcrumb breadcrumb-ev">
			<div class="container mentoria-wrapper">
				<div class="bred_text info-mentoria-title">
					<span class="limited">¡Cupos limitados!</span>
					<h1 class="principal-title mujer-intuitiva-title">
						Mujer <span class="highlight">Intuitiva</span></span>
					</h1>
					<p class="subtitle-workshop">
						En este <span class="highlight">maravilloso Workshop</span> comparto los <span class="highlight">aprendizajes, experiencias, y herramientas</span> que más me han ayudado a conectar con mi herramienta más poderosa y valiosa, <span class="highlight">mi intuición</span>, y que, por supuesto, siguen haciéndolo hasta el día de hoy.
					</p>
					<Button btnText="Lo quiero" url="https://go.hotmart.com/R92676848B" />
				</div>
			</div>
		</div> -->
	  
		  <section class="blog_detail_section">
			<div class="container">
				<div class="blog_inner_pannel programa-info">
				<div class="review">
				<span>Mujer Intuitiva</span>
				<span>Workshop 100% Online</span>
				</div>
				<div class="section_title">
					<h2>Mujer Intuitiva</h2>
				</div>



				<div class="info espiritu-info">
				<!-- QUE INCLUYE -->
				<div class="video-box-ev">
				<div class="workshop-wrapper">
					<img src={mujerIntuitivaImage.src} class="mujer-intuitiva-image"/>
				</div>
					
				<div class="ev-bullet-points">
				<h2>En este Workshop hablaremos de...</h2>

				<p><i class="icofont-eye-open"></i> Mi propia experiencia con la intuición desde temprana edad hasta mi adultez
				</p>

				<p><i class="icofont-eye-open"></i> Que NO es la intuición
				</p>
				<p><i class="icofont-eye-open"></i> Cómo identificarla y diferenciarla de la voz del ego
				</p>

				<p><i class="icofont-eye-open"></i> Ser Canal</p>

				<p><i class="icofont-eye-open"></i> Afirmaciones en vivo para conectar con ella</p>
				<p><i class="icofont-eye-open"></i> Las categorías de la percepción extrasensorial</p>
				<p><i class="icofont-eye-open"></i> Responsabilidad energética y discernimiento</p>
				<p><i class="icofont-eye-open"></i> Prácticas cotidianas para conectar con nuestra propia voz intuitiva
				</p>

				<p><i class="icofont-eye-open"></i> Prácticas y disciplinas recomendadas para elevar nuestra conexión con nuestra intuición</p>
				<p><i class="icofont-eye-open"></i> El lenguaje universal: Arquetipos, Símbolos y Numerología</p>
				<p><i class="icofont-eye-open"></i> Ritual, conexión y práctica</p>

				</div>
				</div>
				<br />
				</p>
				<br />
				<Button btnText="Acceso a Mujer Intuitiva" url="https://go.hotmart.com/R92676848B" />
				<br />
				<!-- PARA QUIEN -->
				<div class="content-wrapper">
				<h2 class="how-title">¿Para quién es Mujer Intuitiva®?</h2>
				<p>Este workshop es para <b>cualquier mujer</b>. Especialmente para las que estén buscando...</p>

				<ul class="my-list">
					<li>Herramientas para conectar con ellxs mismxs</li>
					<li>Identificar y traer a tierra todos sus dones</li>
					<li>Aprender a tomar mejores decisiones</li>
					<li>Animarse a conectar con su auntenticidad y vivir desde la libertad</li>
				</ul>

				<p>Ésta es la primer edición de <b>Mujer Intuitiva.</b> Estoy muy feliz de poder compartir mi conocimiento, y estoy segura que llegará exactamente a quién tenga que llegar.</p>
				<br />
				<p>Ya sabes como dicen... <b>El maestro llega cuando el alumno esta listo</b>, en este caso, lista.</p>

				</div>

				<br />

				<!-- VALOR -->
				<div class="content-wrapper">
				<h2 class="how-title">¿Cuál es el valor del Workshop?</h2>
				<p>
					El valor es de <b>33 USD</b> + VAT. Se aceptan todas las tarjetas y medios de pago. La plataforma hará la conversión en tu moneda oficial.
				</p>
				</div>
				<!-- PLATAFORMAS DE PAGO-->
				<div class="content-wrapper">
				<h2 class="how-title">¿Cuáles son las plataformas de pago habilitadas?</h2>
				<p>
				Se aceptan todas las tarjetas de crédito que habilita la plataforma de cursos online. Esta se adapta de acuerdo a tu país de residencia.
				</p>
				</div>

				<!-- PLATAFORMAS DE PAGO-->
				<div class="content-wrapper">
				<h2 class="how-title">¿Como adquiero el curso?</h2>
					<p>
						Fácil. Una vez realizado el pago, Hotmart te dará acceso a la plataforma en la que podrás ver el taller, para que puedas realizarlo <b>cuando quieras, y donde quieras.</b>
					</p>
					<br />
					<p>El curso tiene una garantía de 15 días, si no estas satisfecha con el resultado.</p>
					<br />
					<!-- <p>
						Luego de realizar el pago, enviar su Nombre Completo con el comprobante adjunto a <b>hola@estupendavibra.com</b>
					</p> -->
				</div>
				

				<br />
				<br />
				<div>
				<h2>¿Estás lista para iniciar este viaje conmigo?</h2>
				<br />
					¡No te lo pierdas! Aprenderás herramientas maravillosas, y será la puerta de inicio a una nueva forma de percibir la vida.
				<br />
				<br />
				<br />
				<Button btnText="Acceso a Mujer Intuitiva" url="https://go.hotmart.com/R92676848B" />
				</div>
				</div>

				<Reviews />
				
				<Author />
			
			</div>
		  	</div>
		</section>

	</div>
<style>

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


.blog_detail_section {
	margin-top: 50px;
}

.limited {
	color: white;
	font-size: 1.3rem;
}
.pago-mp {
	display: flex;
	justify-content: center;

	p {
		font-size: 1.3rem;
	}
}

.workshop-wrapper {
	width: 50%;

	@media only screen and (max-width: 600px)  {
		width: 100%;
	}

	img {
		width: 100%;
		border-radius: 20px;
	}

	@media only screen and (max-width: 600px)  {

		.mujer-intuitiva-image {
			width: 100% !important;
		}
	}


}

.mujer-intuitiva-title {
	font-family: "Parisienne", cursive;
	font-weight: 400;
	font-style: normal;
	margin-top: 20px;

	@media only screen and (max-width: 600px) {
		font-size: 40px !important;
	}
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subtitle-workshop {
	padding-block: 2rem;
}
	
@media only screen and (max-width: 600px) {
  .white_btn {
	padding: 10px 20px;
	font-size: 0.8rem;
  }

  .subtitle-workshop {
	font-size: 15px;
  }

  .principal-title {
	font-size: 22px;
  }

  .mentoria-wrapper {
	width: 350px;
	margin-top: 20px !important;
  }
  .info-mentoria-title {
	padding: 10px !important;
  }

  .breadcrumb-ev {
	height: 100vh !important;
  }

  .ev-bullet-points h2 {
	font-size: 1.4rem;
  }

  .ev-bullet-points {
	margin-inline: 0;
	font-size: 0.8rem;

	@media only screen and (max-width: 600px) {
		margin-top: 50px;
	}
  }

  .how-title {
	font-size: 1.7rem;
  }
}

	.content-wrapper p {
		text-align: justify;
	}

	.my-list {
		text-align: left;
		padding-left: 30px !important;

		li {
			list-style-type: disc;
			margin-bottom: 0.5rem;
		}
	}

	.card-body {
		text-align: left;
		p {
			margin: 0;
		}
		.title {
			font-size: 1.2rem;
			color: rgb(63, 63, 63);
			margin-bottom: 1rem;
		}
	}
	.accordion-text {
		text-align: left;
	}
	.how-title {
		margin-bottom: 1.5rem;
		margin-top: 3rem;
	}
	.row_am {
		padding: 0;
		margin-bottom: 7rem;
	}
	.info-mentoria-title {
		padding: 30px;
		/* background-image: url(../assets/background_mujer_intuitiva.png); */

		.principal-title {
			line-height: 1.3;
			font-size: 4.5rem;

		@media only screen and (max-width: 600px) {
			font-size: 20px;
			padding: 0 !important;
		}

	}
}

.mentoria-wrapper {
	width: 800px;
	background: rgba(147, 7, 136, 0.45);
	border-radius: 20px;
	padding-block: 2rem;
	@media only screen and (max-width: 600px) {
		margin-top: 100px;
		width: 300px;
	}

}

.breadcrumb-ev {
	@media only screen and (max-width: 600px) {
		height: auto;
	}
}

.programa-info {
	margin-top: 0;
}

.breadcrumb-ev {
	margin-top: 0;
}


.highlight {
	font-style: italic;
	color: #ff8cc6;
}

</style>