---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Intro</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>
                            "La vida es un balance entre retener y dejar ir".
                            Rumi
                        </h2>
                        <br />
                        <p>
                            Bienvenidas a esta segunda fase de Espíritu
                            Valiente. Muchas gracias por seguir aquí conmigo,
                            ampliando consciencia, y siendo parte de la gran
                            revolución de mirar hacia adentro.
                            <br />
                            <br />
                            En la primera fase del programa estuvimos revisando conceptos
                            y herramientas muy importantes y útiles como lo son las
                            creencias limitantes, el subconsciente, la ley del espejo,
                            las energías Yin y Yang, etc.
                            <br />
                            <br />
                            La mayoría de ejercicios fueron de introspección y descubrimiento.
                            <br />
                            <br />
                            Si bien muchas veces estos ejercicios son divertidos,
                            otras veces pueden ser tediosos y un poco molestos. Lo
                            sé. Pero también sé que de cualquiera de las dos formas
                            son transformadores. Y eso es lo que nos importa, ya
                            que queremos ver un cambio reflejado en nuestra vida...
                            cierto?
                            <br />
                            <br />
                            Por eso, no me parece demasiado decirte que es valiente
                            que sigas aquí, apostando por seguir conociéndote e indagando
                            en ti. Porque, vamos a ser honestos... la verdad es que
                            tarde o temprano lo tenemos que hacer. Y si no lo hacemos
                            bueno... los resultados no van a ser para nada placenteros
                            y no vamos a lograr realmente enamorarnos de nosotros
                            mismos.
                            <br />
                            <br />
                            Así que nuevamente te agradezco, y espero de corazón
                            que te agradezcas a vos misma por permanecer aquí.
                            <br />
                            <br />
                            En esta fase vamos a aprender a integrar todo lo aprendido
                            en la fase de revisión. Vamos a darle orden, a ponerle
                            nombre, y entender de dónde viene. Puede que al hacer
                            esto tengamos emociones encontradas de ira, culpa, etc.
                            Por eso, vamos a aprender a identificarlas y gestionarlas
                            de una forma sana y saludable.
                            <br />
                            <br />
                            También en este momento del proceso, es clave empezar
                            a ir creando una imagen del tipo de relaciones que queremos
                            manifestar en nuestra vida. Para esto, es muy importante
                            que podamos entender desde dónde estuvimos creando anteriormente,
                            para no obtener los mismos resultados, sino otros que
                            se adapten más con nuestro nuevo yo.
                            <br />
                            <br />
                            Al ordenar todo lo que hemos descubierto de nuestra sombra
                            en la primera fase, vamos a ir destapando partes de nosotras
                            mismas que no sabíamos que estaban ahí. Por eso, sin
                            darnos cuenta, vamos a empezar a construir una nueva
                            identidad, que se adapte más a aquello que nos haga crecer
                            y evolucionar.
                            <br />
                            <br />
                            Es clave entender que la sombra nos acompañará siempre.
                            No es que nos estamos deshaciendo de ella. Solamente
                            estamos sacando algunas cosas a la luz, y sobre todo,
                            entendiendo cómo funciona. Todo lo que veamos acá, nos
                            va a estar acompañando el resto de nuestra vida, y será
                            una herramienta que tengamos a disposición siempre que
                            queramos conocer partes de nuestra psique que no estamos
                            pudiendo ver de forma consciente.
                            <br />
                            <br />
                            Varias de las herramientas que vamos a utilizar son herramientas
                            utilizadas por coaches profesionales y algunas son herramientas
                            terapéuticas con unos cuantos años de uso y buenos resultados.
                            <br />
                            <br />
                            Si bien, también vamos a estar haciendo hincapié en la
                            introspección, porque de eso se trata este Bootcamp,
                            en la parte de ejercicios, luego de aprender las herramientas,
                            vamos a enfocarnos en intentar organizar todo lo aprendido
                            para poder empezarlo aplicar hoy.
                            <br />
                            <br />
                            Es importante que cuando estés haciendo cada sección
                            de esta fase, te comprometas en realizar los ejercicios
                            y en ver los resultados para poder ir organizándote.
                            <br />
                            <br />
                            Para mí es muy importante que esta fase de organización
                            se encuentre en el medio para que cuando lleguemos a
                            la fase de crear que es la tercera y la última podamos
                            crear desde un ambiente más equilibrado, tanto interiormente
                            como en nuestro exterior.
                            <br />
                            <br />
                            En la tercera fase van a haber técnicas para poder crear
                            una nueva realidad. Por eso es importante que se pregunten
                            si realmente quisieran crear desde un estado desbalanceado
                            o desde un estado de integración y equilibrio.
                            <br />
                            <br />
                            Demás está decir que los resultados que veamos van a
                            ser exactamente los mismos que como nos encontremos interiormente.
                            Por eso para mí es fundamental encontrar un equilibrio
                            antes de empezar a crear.
                            <br />
                            <br />
                            <br />
                            ¡Espero que te diviertas!
                            <br />
                        </p>
                        <br />
                        <a href="ordeno-dia-1" class="btn white_btn"
                            >Ir al día 1</a
                        >
                    </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>