---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Día VII</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Lista de Manifestación Consciente III</h2>
                        <br />
                        <p>
                            Bien! Felicitaciones. Estoy segura que te ha
                            encantado realizar este ejercicio.
                            <br />
                            <br />
                            Para finalizar, quisiera contarte un poco cómo ha llegado
                            este ejercicio a mi, y qué resultados he obtenido. Para
                            que sepas porque motivo es para mi, uno de los ejercicios
                            más potentes en lo que es relaciones de pareja.
                            <br />
                            <br />
                            Hace unos 5 años yo estaba saliendo de una relación disfuncional.
                            Fue muy difícil para mí, en ese momento, tomar la decisión
                            de salir de ahí. Pero de alguna forma encontré la forma
                            para hacerlo. Luego de pasar la primera fase del periodo
                            de duelo, en el cual me pasaron muchas cosas, me sentí
                            lista y decidida, y supe que tenía que cambiar mi manera
                            de ver las relaciones, para poder atraer una relación
                            equilibrada, y diferente.
                            <br />
                            <br />
                            Todos los ejercicios y herramientas previas, fueron y
                            siguen siendo muy importantes en mi propio proceso de
                            autoconocimiento.
                            <br />
                            <br />
                            Sin darme cuenta de que yo era parte de una dinámica
                            disfuncional, jamás habría tenido la valentía de empezar
                            a cambiar en mí, aquellas cosas que quería ver reflejadas
                            afuera.
                            <br />
                            <br />
                            Por eso es que incluí todos esos ejercicios introspectivos
                            en esta fase. Porque para mí, es sumamente importante
                            ser conscientes del rol que ocupamos actualmente o en
                            nuestras relaciones pasadas, para poder ver un cambio
                            en el futuro de nuestra vida amorosa.
                            <br />
                            <br />
                            Acompañado de este camino de introspección, un día realice
                            este ejercicio. Aun tengo la lista en mis notas.
                            <br />
                            <br />
                            Realmente no fue tan larga. Pero si fue muy clara y concisa.
                            Y obviamente no tenía absolutamente nada que ver con
                            mi relación anterior. Sino más bien, era más lo que yo
                            sentía que quería ver en mi proxima relacion. La persona
                            que quería que me acompañe en mi propio camino.
                            <br />
                            <br />
                            Hice la lista un día de la semana por la noche y luego
                            continué con mis tareas de autocuidado.
                            <br />
                            <br />
                            En ese entonces trabajaba full time para una empresa
                            extranjera, luego del trabajo me iba a clases de danza
                            urbana, que me encantaban y me desconectaban del mundo,
                            y cuando llegaba a mi casa me cocinaba sano y continuaba
                            con mi proceso de autodescubrimiento.
                            <br />
                            <br />
                            En ese proceso había meditación, visualizaciones, y momentos
                            de dolor y soledad, como es esperable en cualquier proceso
                            de duelo.
                            <br />
                            <br />
                            Al cabo de unos meses de realizar la lista y tener esta
                            rutina que me conectaba conmigo, tome una decisión que
                            cambió mi vida para siempre. Renunciar a mi trabajo excelentemente
                            pago, e irme a México con una amiga que tenía planes
                            de ir.
                            <br />
                            <br />
                            Compre el ticket de avión, y en menos de un mes organice
                            todo para renunciar a mi trabajo en buenos términos,
                            dejar todo acomodado en mi casa, y aventurarme en el
                            mágico México, el cual, jamás había conocido.
                            <br />
                            <br />
                            Mi viaje a México me cambió la vida por muchísimas cosas
                            honestamente. Pero una de ellas, es que apareció la persona
                            que describí en mi lista. La misma persona que hoy en
                            día me acompaña. Una persona que nació y se crió en la
                            otra punta del mundo, y que nos hemos encontrado de una
                            forma totalmente “casual”. Ninguno esa noche estaba buscando
                            conocer a alguien. Pero así fue. Nos conocimos, nos volvimos
                            a ver, sentimos cosas que jamás antes habíamos sentido
                            por otro ser humano, y es el día de hoy que sigo diciéndole
                            que lo manifieste.
                            <br />
                            <br />
                            Mi relación no es perfecta, realmente soy fiel creyente
                            de que ninguna relación lo es. Trabajamos en ella a diario.
                            Hay muchos retos. Y aprendemos de forma constante.
                            <br />
                            <br />
                            Pero si que puedo decir que es el tipo de relación que
                            yo estaba buscando. Y él también encontró a alguien con
                            las características que él estaba buscando.
                            <br />
                            <br />
                            El universo configuró la situación para que podamos encontrarnos
                            y avanzar hacia un siguiente nivel, juntos.
                            <br />
                            <br />
                            Esta historia, de la cual estoy orgullosa, se las cuento
                            porque estoy 100% segura que todo se dio gracias a esa
                            lista que hice aquel dia de semana por la noche.
                            <br />
                            <br />
                            Por eso se las comparto. Para que sepan que cuando una
                            tiene claro lo que quiere, y hace el trabajo interno
                            que tiene que hacer, los planetas se alinean y las cosas
                            se dan. Como si fuera por arte de magia.
                            <br />
                            <br />
                            Tenemos la tendencia de querer controlar las situaciones
                            que se nos presentan en la vida. Queremos una relación
                            con “cierta persona” que no podemos tener la relación
                            que queremos. Muchas veces nos olvidamos de abrirnos
                            al campo de infinitas posibilidades, que tiene ahí para
                            nosotras, no una, sino, un montón de opciones que tienen
                            el potencial que podamos estar exactamente donde quisiéramos
                            estar, con alguien que esté buscando lo mismo.
                            <br />
                            <br />
                            El universo respeta el libre albedrío. No nos va a dar
                            aquella persona con la que estamos obsesionadas que quiera
                            lo mismo. Se va a encargar de traernos a alguien que
                            encaje perfectamente con lo que buscamos y necesitamos.
                            <br />
                            <br />
                            Que alegría haber llegado hasta aquí.
                            <br />
                            <br />
                            ¡Felicitaciones!
                            <br />
                            <br />
                            Para finalizar esta segunda fase, te voy a agregar un
                            ejercicio adicional
                            <br />
                            <br />
                            1) Anota en tu cuaderno los cambios que has sentido desde
                            el día 1 hasta hoy. Se honesta y transparente.
                            <br />
                            2) ¡Festeja! Vuelve a darte un mimo. Trata esta vez de
                            que sea diferente a la forma en la que decidiste festejar
                            al terminar la primera fase. Prueba hacer algo diferente,
                            talvez algo que nunca haz hecho sola?
                            <br />
                            <br />
                            Dicho esto, ya nos estaremos viendo en la tercera fase:
                            <b>Creo.</b> 
                            <br />
                            <br />
                            Aquí Veremos la ley universal de causa y
                            efecto y empezaremos a CAUSAR EL EFECTO.
                            <br />
                            <br />
                            Para no estar tan perdidos en la teoría, e irnos por
                            las ramas, vamos a focalizarnos en nuestras energías
                            Yin y Yang. Vamos a empezar a integrarlas, y a SER aquellas
                            energías en las que no estamos SIENDO, para poder lograr
                            un equilibrio nosotros mismos y no estar buscando nada
                            AFUERA.
                            <br />
                            <br />
                            Si quieres tomate unos días para integrar la segunda
                            fase. Recuerda tener la clara intención de volver cuando
                            estés lista, sin que pase mucho tiempo.
                            <br />
                            <br />
                            ¡Muchas gracias!
                            <br />
                            <br />
                            Nos vemos en la proxima fase.
                        </p>
                        <br />
                        <a href="../creo/intro" class="btn white_btn"
                            >Llevame al siguiente nivel</a
                        >
                        <br />
                        <br />
                        <hr />
                        <br />
                        <h2>
                            ¡Felicitaciones! Llegaste al ultimo día de la
                            Segunda Fase del Bootcamp Espíritu Valiente
                        </h2>

                        <h3>¿Cómo sigo?</h3>
                        <br />
                        <b
                            >Si estás realizando este Bootcamp como parte del
                            Programa de Coaching Personalizado Espíritu
                            Valiente:</b
                        >
                        <br />
                        <br />
                        Ahora es el momento de agendar, si ya no lo hiciste, tu tercera
                        sesion Hacia Adentro conmigo. Aquí tendras un seguimiento
                        personalizado de lo que pudiste aprender en estos días, con
                        los ejercicios y la nueva información incorporada.
                        <br />
                        <br />
                        ¡Estoy super emocionada por continuar este viaje de autodescubrimiento
                        junto a ti!
                        <br />
                        <br />
                        <a href="https://meet.brevo.com/juliana-rocha/hacia-adentro-or-sesion-11" class="btn white_btn">Reserva tu sesión AD aquí</a>
                        <br/>
                    </div>
                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>
