---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Día II</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>No puedo vivir contigo ni sin tí.</h2>
                          <br/>
                          <p>En este capítulo vamos a estar hablando de algo que se ve bastante en nuestra sociedad al momento de relacionarnos.
                            <br/>
                            <br/>
                      La frase que cité arriba,es un cliché que todos hemos escuchado alguna vez. Indica un patrón común en las telenovelas, canciones pop, o cualquier otro género de entretenimiento con el que nos hemos criado, o aun estemos involucrados. 
                            <br/>
                            <br/>
                      Talvez hayas escuchado alguna vez hablar de la dependencia emocional, y si no, puede ser bastante simple de imaginar de qué se trata. Pero aquí vamos a estar hablando de la codependencia emocional, para poder identificar si no encontramos o hemos encontrado ahí, cuáles son algunas de sus dinámicas inconscientes más vistas o utilizadas, y como hacer para salir de ahí. Empecemos por el principio
                            <br/>
                            <br/>
                      <h2>¿Qué es la codependencia emocional?</h2>
                            <br/>
                            <br/>
                      La codependencia emocional es una forma de relación en la que una persona se siente responsable de las emociones y necesidades de otra persona, y su propia identidad y bienestar emocional dependen en gran medida del otro. A menudo se da en relaciones de pareja, pero también puede ocurrir en otras relaciones familiares o de amistad.
                      <br/>
                      <br/>
                      Este tipo de dinámica es muy dañina porque cuando la felicidad de uno mismo depende de otras personas, uno deja de ser quién realmente es y no es capaz de expresar su verdadero yo. La codependencia emocional, igual que ocurre con la dependencia emocional, es claramente una prueba clara de que nos encontramos parados en una relación disfuncional
                      <br/>
                      <br/>
                      <h2>Características de la codependencia emocional</h2>
                            <br/>
                      La codependencia emocional se caracteriza por una serie de patrones de pensamiento y comportamiento que pueden ser perjudiciales para ambos. Algunos de estos son
                      <br/>
                      <br/>
                      <ol>
                        <li>1. Dificultad para establecer límites saludables: puede haber dificultad para decir “no” o para establecer límites claros en sus relaciones, lo que puede llevar a que sientan que están siempre disponibles para los demás y que sus propias necesidades y deseos quedan en segundo plano.</li>
                        <br/>
                        <li>2. Falta de identidad propia: también les es difícil encontrar su propia voz y expresar sus propias opiniones y sentimientos. Pueden sentir que su identidad depende en gran medida de la aprobación y la satisfacción de la otra persona.</li>
                        <br/>
                        <li>3. Necesidad de control: se puede sentir una gran necesidad de controlar la situación y las emociones de la otra persona, lo que puede llevar a una falta de respeto por los límites de la otra persona y a una interferencia excesiva en sus decisiones y vida.</li>
                        <br/>
                        <li>4. Falta de autoestima: pueden tener una autoestima baja y sentirse inseguros y poco valiosos. Pueden sentir que su propio valor depende de cómo se sientan y actúen los demás hacia ellos.</li>
                        <br/>
                        <li>5. Relaciones disfuncionales: pueden encontrarse atrapados en relaciones tóxicas o disfuncionales, ya que pueden tener dificultad para ver los patrones negativos o para poner fin a relaciones que les hacen daño.</li>
                      </ol>
            
                      <br/>
                      <br/>
                      <h2>¿Es lo mismo que la dependencia emocional?</h2>
                            <br/>
                      La dependencia emocional y la codependencia emocional son patrones de pensamiento y comportamiento que pueden afectar a la forma en la que nos relacionamos con los demás. Aunque ambos términos se refieren a una necesidad excesiva de afecto y aprobación de otras personas, hay algunas diferencias clave entre ellos.
                      <br/>
                      <br/>
                      La dependencia emocional se refiere a una necesidad excesiva de afecto y apoyo emocional de otras personas. Una persona dependiente emocionalmente puede sentirse ansiosa o insegura sin la presencia de otra persona y puede tener dificultad para tomar decisiones por sí misma. La dependencia emocional puede ser una forma de adaptación a un entorno carente de afecto y apoyo emocional durante la infancia o a relaciones disfuncionales del pasado.
                      <br/>
                      <br/>
                      Por otro lado, la codependencia emocional se refiere a un patrón de relación en el que una persona se siente responsable de la felicidad y el bienestar emocional de otra persona y su propia felicidad y bienestar dependen de la satisfacción de las necesidades de la otra persona. La codependencia emocional también puede estar condicionada por haber vivido una infancia con falta de afecto o por relaciones previas disfuncionales.
                      <br/>
                      <br/>
                      Ambas pueden ser difíciles de superar, pero es posible desarrollar una mayor independencia emocional y una mayor capacidad para establecer relaciones saludables.
                      <br/>
                      <br/>
                      <h2>¿Qué hago si tengo codependencia emocional?</h2>
                            <br/>
                      Si sospechas que puedes estar experimentando codependencia emocional, es importante que tomes medidas para abordar este patrón de pensamiento y comportamiento. Aquí hay algunos pasos que puedes seguir para empezar a trabajar en tu codependencia:
                      <br/>
                      <br/>
                      1. Ser consciente de la situación: La codependencia es una forma de adicción emocional, y como tal, puede ser difícil de superar. Es importante que aceptes que necesitas ayuda para superarlo.
                      <br/>
                      <br/>
                      2. Aprende a decir “no”: Una parte importante de superar la codependencia es aprender a establecer límites y decir “no” cuando alguien te pide algo que va en contra de tus propios valores o necesidades.
                      <br/>
                      <br/>
                      3. Practica la autoafirmación: A menudo, la codependencia se basa en una falta de confianza en uno mismo y en una baja autoestima. Practicar la autoafirmación y el autoapoyo puede ayudarte a sentirte más seguro de ti mismo y menos dependiente de la aprobación de los demás.
                      <br/>
                      <br/>
                      4. Encuentra actividades y relaciones saludables: A medida que trabajas en tu codependencia, es importante que busques actividades y relaciones que te hagan sentir bien contigo mismo y te ayuden a desarrollar una mayor independencia emocional.
                      <br/>
                      <br/>
                      En el próximo capítulo vamos a estar viendo una dinámica de comunicación disfuncional muy común en las relaciones de codependencia. También, vamos a aprender a identificar si nos encontramos en alguno de los roles de esta dinámica, y cómo salir de ella, con consciencia, y ganas de ello, por supuesto.
                      <br/>
                      <br/>
                      Espero de corazon que esta informaciónte haya sido de mucha utilidad.
                      <br/>
                      <br/>
                      Nos vemos mañana en donde hablaremos del Triángulo dramático de Karpman
                      <br/>
                      </p>
                          <br/>
                      <a href="ordeno-dia-3" class="btn white_btn">Ir al día 3</a>
            
            
                      </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>