---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Día IV</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>
                    <div class="info espiritu-info">
                        <h2>Cuanto más abiertos estemos con nuestros propios sentimientos, mejor podremos leer los de los demás.</h2>
                          <br/>
                          <p>
                            <br/>
                      En este capítulo nos dedicaremos a identificar tus emociones desagradables, sentirlas, ponerles un nombre y aprender a relacionarte con ellas de forma saludable.
                            <br/>
                            <br/>
                      En la escuela nos han enseñado muchísimas cosas, pocas de las cuales nos son realmente útiles para la vida diaria, como por ejemplo, la gestión emocional.
                      <br/>
                      <br/>
                      De hecho, es hasta extraño que una persona te hable desde cómo se siente, o que lo sepa.
                      <br/>
                      <br/>
                      Me he topado con muchas personas a lo largo de mi vida. De diferentes edades, sexos, nacionalidades, gustos, etc. Sin importar ninguno de estos factores que te acabo de mencionar, la minoría estaba en contacto real con sus emociones. 
                      <br/>
                      <br/>
                      Cada tanto aparecía algún ser excepcional que podía verme realmente. Verme como en Avatar.
                      <br/>
                      <br/>
                      Veo tu alma. Veo quien realmente eres. Te respeto, te saludo, te honro, te reconozco, te recibo, me conecto contigo.
                      <br/>
                      <br/>
                      Para poder ver a alguien, es necesario ser capaz de vernos a nosotros mismos primero. Y para vernos realmente a nosotros mismos, hay que reconocer absolutamente todo lo que compone nuestro ser. Y las emociones son una gran parte de nuestra vida, y de nuestra cotidianeidad.
                      <br/>
                      <br/>
                      Es más, no tienes que irte muy lejos para darte cuenta que las personas nos encontramos generalmente desbordadas por nuestras emociones. Dejamos que nos desborden, pero no les damos el espacio que necesitan al reconocerlas. 
                      <br/>
                      <br/>
                      Muchas veces sabemos que nos pasa algo, pero no sabemos que.
                      <br/>
                      <br/>
                      Sentimos un dolor en alguna parte del cuerpo, pero no entendemos muy bien a qué se debe. 
                      <br/>
                      <br/>
                      Una de mis mayores revelaciones, fue cuando aprendí que detrás del enojo hay tristeza. Esta comprensión, no solo me hizo entenderme en muchas facetas en las que jamás me había puesto a pensar, sino también, me ayudó a aprender a ser más compasiva conmigo misma y con mis procesos personales.
                      <br/>
                      <br/>
                      En este anteultimo capitulo de Ordeno, la segunda fase de Espiritu Valiente, vamos a dedicarnos a iniciar el proceso de Orden de nuestras emociones y nuestro Ser, a través de un ejercicio que nos ayudará a identificar nuestras emociones y a ponerles un nombre, para quitarles entidad, y poder verlas como algo externo a nuestro ser esencial, pero no vamos a ignorarlas, vamos a prestarles nuestro oído y nuestra compasión, para que aprendan a expresarse de una forma saludable.
                      <br/>
                      <br/>
                      Por eso, sin mucho más que decir, vamos a pasar a la parte mas importante de esta fase, nuestro Ejercicio para Identificar Emociones. 
                      <br/>
                      <br/>
                      <h2>Ejercicio</h2>
                            <br/>
                      Antes de empezar, te quiero pedir que estés en un lugar tranquilo, seguro, y sin interrupciones. 
                      <br/>
                      <br/>
                      Para reconocer cuales son nuestras emociones tenemos que hacer un ejercicio de relajación. 
                      <br/>
                      <br/>
                      Te dejo aquí abajo un archivo de audio para que escuches, y hagamos este ejercicio juntas. Luego, ya en presencia, pasaremos a la identificación y al ejercicio práctico. 
                      <br/>
                      <br/>
                      ¡Que lo disfrutes!
                            <br/>
                            <br/>
                            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1615415130&color=%237e1b67&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/estupendavibra" title="Ju ➿ Estupenda Vibra" target="_blank" style="color: #cccccc; text-decoration: none;">Ju ➿ Estupenda Vibra</a> · <a href="https://soundcloud.com/estupendavibra/meditacion-corta" title="Meditación Corta" target="_blank" style="color: #cccccc; text-decoration: none;">Meditación Corta</a></div>
                            <br/>
                            <br/>
                      Wow. Hermoso. Ahora si podemos prestar atención a cómo nos sentimos desde un lugar mucho más equilibrado. 
                      <br/>
                      <br/>
                      Bien. 
                      <br/>
                      <br/>
                      Te pido que prestes atención a tu cuerpo, y anotes si sientes alguna incomodidad en algún lugar en particular. No tiene porque ser dolor, simplemente una incomodidad. Anota el lugar donde la sientes.
                      <br/>
                      <br/>
                      Luego, trata de ver si esta incomodidad en este lugar en particular, podría estar relacionada con alguna emoción en ti. Puede ser cualquier emoción que venga a tu mente, tanto de baja vibración, como de alta vibración. La idea es encontrar los lazos entre tus sensaciones corporales y tus emociones más presentes.
                      <br/>
                      <br/>
                      Si encontraste un nombre para la sensación corporal, te pido que la anotes, en un cuadro, como el de abajo.
                      <br/>
                      <br/>
            
                      <table>
                        <tr>
                          <th>CUERPO</th>
                          <th>SENSACIÓN</th>
                        </tr>
                        <tr>
                          <td>Pecho</td>
                          <td>Dolor</td>
                        </tr>
                        <tr>
                          <td>Abdomen</td>
                          <td>Alegría</td>
                        </tr>
                      </table>
                      <br/>
                      <br/>
                      Escribe todas las emociones que puedas encontrar. También puede pasar que ahora no sientas muchas, pero vuelve aquí cada vez que encuentres una nueva identificación.
                      <br/>
                      <br/>
                      Si la sensación es de baja vibración, es decir, desagradable (aqui te dejo un esquema con las sensaciones de baja y alta frecuencia vibratoria), prestale mas atencion. Yo se que estamos acostumbrados a ir a lo bonito, a aquello que nos gusta, y evadir aquello que duele, o que no nos gusta. Pero justamente nuestra parte herida es la que necesita amor, contención y atención. 
                      <br/>
                      <br/>
                      Una vez que identificamos esa emoción desagradable, y tenemos un lugar corporal asignado, vamos a ponerle un nombre. El nombre puede ser totalmente inventado, y no tenes absolutamente nada que ver con la emoción. Mi recomendación es que sea algo un poco ridículo, para poder aplicar humor de forma inconsciente a un sentimiento desagradable. 
                      <br/>
                      <br/>
                      Sería como un encantamiento Riddikulus el cual «Altera la habilidad de un boggart para cambiar de forma y provoca risa para derrotarlo.» (Si, Harry Potter fan detected)
                      <br/>
                      <br/>
                      Para mi, la risa tiene el poder inmediato de convertir una situación desagradable en algo no tan dramático. Es una de las herramientas más bellas del poder alquímico que llevamos dentro. Por supuesto, como toda herramienta poderosa, hay que saber cómo y cuándo utilizarla.
                      <br/>
                      <br/>
                      Si yo empiezo a llamar Clodomiro a mi dolor, lo más probable es que inconscientemente, empieza a restarle importancia. No confundamos esto con evasión de la emoción, aquí la estamos reconociendo de forma consciente, para luego tomar la decisión de transformarla en algo que no nos bloquee.
                      <br/>
                      <br/>
                      Por supuesto, no tienen la obligación de utilizar el atributo ridículo, es solamente una sugerencia.
                      <br/>
                      <br/>
                      Aprender a reconocer, encontrar en el cuerpo, oír, y transmutar nuestras emociones, es el camino directo hacia un futuro en el cual podemos gestionar las mismas.
                      <br/>
                      <br/>
                      Es, realmente, maravilloso.
                      <br/>
                      <br/>
                      Espero que te sea útil este ejercicio, a mi, personalmente, me encanta! Agradezco a lo que sea que hizo que decida transformar mi dolor es un ente que reconozco, abrazo, y resto dramatización. Pero todo tiene su proceso, en un principio tuve que saber reconocer mi ira, y que se escondía detrás de ella.
                      <br/>
                      <br/>
                      Te deseo lo mejor en este ejercicio.
                      <br/>
                      <br/>
                      Nos vemos mañana en el último capítulo de Ordeno, donde vamos a estar realizando una maravillosa lista para la manifestación de pareja consciente. ¡Qué emoción!
                      <br/>
                      <br/>
                      ¡Nos vemos ahí!
                            <br/>
                            <br/>
                          </p>
                          <br/>
                      <a href="ordeno-dia-5" class="btn white_btn">Ir al día 5</a>
            
            
                      </div>
            

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>