---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Día III</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Triángulo dramático de Karpman</h2>
                          <br/>
                          <p>Hemos llegado al día número 2 de la segunda fase, Ordeno, el cual decidí dedicarlo a una herramienta muy valiosa para poder detectar si nos hemos sentido, o nos sentimos actualmente, parte de una dinámica de juegos inconscientes, que afectan nuestra forma de relacionarnos.
                            <br/>
                      Realmente, esta herramienta cuando la conocí, fue muy reveladora para mi. Me ayudó a identificar dónde estaba parada, cuales eran mis tendencias, para poder así, tomar acción para romperlas y modificar la forma en la que me relaciono.
                            <br/>
                      Muchas veces, en este juego totalmente inconsciente, adoptamos un rol determinado, que forma parte de una dinámica que jamás nos llevará a la evolución y al aprendizaje.
                            <br/>
                      También, es muy común ir fluctuando entre roles, sobre todo cuando se está sanando, asique puede que te sientas identificada con más de uno, aunque siempre hay uno que predomina, y es nuestro trabajo descubrir cual.
                            <br/>
                      El triángulo dramático de Karpman es un sistema que proviene de la psicoterapia denominada Análisis Transaccional. Dicho modelo presenta un esquema de las interacciones humanas destructivas, las cuales tienen lugar cuando dos o más personas están en conflicto.
                            <br/>
                      Dejo aquí una figura muy básica de los roles dentro de esta dinámica, e iremos ampliando a lo largo del capítulo
                            <br/>
            <img src="/images/triangle.jpg" alt="Triángulo dramático de Karpman" class="image-curso">
                            <br/>
                      Aquí, voy a compartirte 3 descripciones de cómo sería el comportamiento que adopta cada rol
                            <br/>
                            <br/>
                      <b>Rol de Salvador:</b> Son rescatadores del mundo entero. No solo satisfacen las necesidades de todos cuantos pueden, sino que se adelantan intentando arreglar la vida de los demás, aún y cuando no se lo hayan pedido.
                      <br/>
                      <br/>
                      <b>Rol de Perseguidor:</b> Suelen ser acusadores, muy intransigentes, y suelen buscar castigar y reprochar. El acusador suele utilizar los puntos débiles de los demás para poder destacarlos.
                      <br/>
                      <br/>
                      <b>Rol de Víctima:</b> Demandan que lo compadezcan. Siempre se quejan de todo lo que les sucede en la vida. Sienten que el mundo es injusto con ellos y que no pueden hacer nada por cambiar. Necesitan que los demás les resuelvan las cosas
                      <br/>
                      <br/>
                      Una vez leídas las descripciones, piensa con qué rol te identificas más.
                      <br/>
                      <br/>
                      Es importante tener en cuenta que aunque podamos identificarnos con un rol en concreto, también es común que en un juego psicológico pasemos por los 3 roles
                      <br/>
                      <br/>
                      Les dejo un ejemplo por aquí:
                      <br/>
                      <br/>
                      Alguien con el rol de salvador que ayuda a otro (sin que este otro se lo haya pedido) y después pasa al rol perseguidor con frases tipo: “¡Si no fuera por mí, no habrías solucionado esto!”. Incluso si la otra persona no entra en el juego, esta persona puede terminar en rol de víctima diciendo a los demás cosas como: “¡Después de todo que he hecho por ti! ¡Así me lo agradeces!”
                      <br/>
                      <br/>
                      El triángulo dramático es una dinámica muy común en las relaciones de codependencia, y para ser honesta, también es muy común en nuestra sociedad.
                      <br/>
                      <br/>
                      <h3>“El mejor descubrimiento de todos los tiempos es que una persona puede transformar su futuro solo con cambiar su actitud”.<br/>
                      Oprah Winfrey</h3>
                            <br/>
                            <br/>
                      <h2>Ahora... ¿Cómo hacemos para cambiarlo?</h2>
                            <br/>
                      Primer paso es tomar consciencia si somos parte de este tipo de dinámicas. Por favor, el trabajo interno requiere de mucha honestidad, y no tendrías porque mentirte a ti misma en este paso. Además, nadie te está mirando, y no tienes porque exteriorizar si no te animas. Pero si es muy importante que puedas ver con claridad si formas parte de este triángulo, para poder dar el siguiente paso a una forma diferente de relacionarte. 
                      <br/>
                      <br/>
                      Lo más probable es que sea más sencillo para ti verlo en los demás. Es así, nos pasa a todos. Y, realmente puede ser que no tengas nada que te haga estar dentro de este tipo de juegos psicológicos. Aunque eso, ciertamente, la única que lo sabe, eres tú.
                      <br/>
                      <br/>
                      Yo, personalmente, he estado durante muchos años en estas dinámicas, y las había normalizado enteramente porque así fue como lo aprendí. Lamentablemente, eso me quitó muchos años de relaciones saludables. Pero, afortunadamente, hubo un momento en el cual pude notar el error, trabajar en él, y por eso, hoy me dedico a compartirles mi proceso.
                      <br/>
                      <br/>
                      He pasado por muchos momentos de dolor al tener que aceptar estos comportamientos en mi misma. No es fácil reconocer lo propio. Es por eso que vivimos en un mundo en el que todos “ven la paja en el ojo ajeno, en lugar de la viga en el propio”.
                      <br/>
                      <br/>
                      Pero les aseguro que ese camino no lleva a ningún autoconocimiento, sino a entregar tu poder y tus circunstancias a las personas que se encuentran siempre “erradas” a tu alrededor.
                            <br/>
                            <br/>
                      <h2>Entonces, ¿Cómo pasar del triángulo dramático al triángulo virtuoso?</h2>
                      <br/>
                      <br/>
                      Salir del triangulo dramatico y liberarte de los patrones de codependencia es posible, aunque, como todo, requiere práctica esfuerzo y dedicación
                      <br/>
                      <br/>
                      El primer paso es identificar cual es tu rol predominante. Ir de a poco dándote cuenta cuando es que te pones en ese rol. Este paso puede llevar algo de tiempo, pero es fundamental.
                      <br/>
                      <br/>
                      El segundo paso sería lo que conocemos como “cambio de hábitos” o conductas. Es decir, empezar a hacer cosas que antes no habías hecho. Por ejemplo, quien está siempre en el rol del salvador, tendría el objetivo de dejar de volcarse tanto en los demás, y empezar a enfocarse en sí mismo. Para esto, tienen que pasar unas cuantas cosas, la primordial es el cambio de creencia que los demás lo querrán si los ayuda en todo lo que les pasa.
                            <br/>
                            <br/>
                      <h2>Ejercicio</h2>
                            <br/>
                      El ejercicio aquí es muy simple, pero requerirá de mucha introspección para la detección de roles.
                      <br/>
                      Se trata de identificar si te encuentras en el triángulo dramático, y cuál es tu rol predominante. 
                      <br/>
                      <br/>
                      Una vez identificado, te dejo aquí abajo como cambiar los patrones de conducta de cada rol.
                      <br/>
                      <br/>
                      <b>Rol de Salvador: </b>Desarrolla la capacidad de dejar que los demás resuelvan sus propios problemas. Piensa que la propia vida es una sucesión de problemas a resolver y de los que aprender. Procura ayudar pura y exclusivamente cuando te pidan ayuda.
                      <br/>
                      <br/>
                      <b>Rol de Perseguidor:</b> Desarrolla la capacidad de enseñar y formar. Evita criticar y comparar tus conocimientos con los de las demás personas. Entiende que cada persona tiene los recursos que tiene y que cada persona se encuentra en un momento de su vida distinto al tuyo.
                      <br/>
                      <br/>
                      <b>Rol de Víctima:</b> Desarrolla la capacidad propia de aprender. Accede a formación de habilidades personales. Evita la queja y la actitud reactiva. Trabaja por ir adoptando una actitud más proactiva.
                            <br/>
                            <br/>
                      Espero que te haya sido de utilidad este nuevo conocimiento. Reconocerse como parte del triángulo dramático no es tarea sencilla, sobre todo, por el autoboicot y lo difícil de aceptar las propias fallas. Pero creeme que una vez hecho el trabajo de reconocimiento, empezarás a darte cuenta que no tiene absolutamente nada de malo reconocer nuestras conductas destructivas, ya que ese es el primer paso a sanarlas.
                            <br/>
                            <br/>
                      ¡Te felicito por llegar hasta aquí!
                            <br/>
                            <br/>
                      Nos vemos mañana
                            <br/>
                      </p>
                          <br/>
                      <a href="ordeno-dia-4" class="btn white_btn">Ir al día 4</a>
            
            
                      </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>