---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Día V</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Lista de Manifestación Consciente</h2>
                          <br/>
                          <p>Bienvenida al último Capítulo de la Segunda Fase de Espiritu Valiente. Ya para este momento, estoy segura que has aprendido muchísimo, y también, que se han movido muchas cosas.
                            <br/>
                            <br/>
                      Para finalizar esta fase, en la cual no abundaron los ejercicios, como en la primera, me gustaría que estemos a puro ejercicio práctico y divertido. Pero primero, quisiera contarte por qué motivo vamos a realizar este ejercicio, cómo fue que me funciono a mi, y que cosas he aprendido desde ese entonces hasta hoy en día, para poder mejorar esta maravillosa técnica que nos ayudará a manifestar la pareja de nuestros sueños.
                            <br/>
                            <br/>
                      Pero primero lo primero, y aquí, quiero ser muy clara, porque es muy importante que tengamos bien integrado que más allá de que tengamos la “Pareja Perfecta”, jamás lo podremos ver, si no estamos enamoradas de nosotros mismas. Es imprescindible quitarnos la venda que nos han puesto, en la que alguien nos va a venir a dar esa felicidad que sentimos que nos falta.
                            <br/>
                            <br/>
                      Tener una pareja es una experiencia única. Puede ser hermosa, o tormentosa. Cualquiera sea el caso, es trabajo, y es mantenimiento también. Por supuesto, depende cual sea la situación, el trabajo será otro. Y muchas veces parte del trabajo es retirarnos. Lo que quiero dejar bien transparente aquí, es que por más que aparezca el famoso príncipe azul (Por favor, no busquen a un príncipe igual), si no estamos listas para ver sus cualidades positivas, simplemente no las veremos. 
                            <br/>
                            <br/>
                      Y para realmente ver cualidades en otro, tengo que primero reconocerlas en mi. Como indica el principio de correspondencia, como es adentro es afuera.
                            <br/>
                            <br/>
                      Además, llenar vacíos internos con una persona, no es buena idea en absoluto.
                            <br/>
                            <br/>
                      Entonces, el paso número UNO, y en el que tenemos que enfocarnos MÁS siempre es en… 
                            <br/>
                            <br/>
                      Construir nuestro amor propio. Cultivarlo. Cuidarlo. Mantenerlo.
                            <br/>
                            <br/>
                      Esto no es solamente para poder manifestar a nuestra pareja ideal. Esto es por y para nosotras. Ahora y para siempre. Que nunca se te olvide.
                            <br/>
                            <br/>
                      Dicho esto, ahora sí. Por mucho que nos amemos, es hermoso compartir la vida con alguien con quien uno conecta. Planear proyectos de vida en común, divertirse, tener citas, en fin. 
                            <br/>
                            <br/>
                      La vida en pareja siempre me gustó. Personalmente jamás me atrajeron los beneficios de la soltería. Aunque más de una vez deseé poder sentirme más cómoda con la vida de soltera, creo que no he nacido para eso.
                            <br/>
                            <br/>
                      Sé muy bien que muchas personas son exactamente como yo. Y también sé que hay personas que justamente al contrario, se sienten super cómodas con las ventajas de la vida de soltera. Y ambos casos son perfectos, realmente. 
                            <br/>
                            <br/>
                      Lo importante es estar cómodo y feliz donde uno se encuentra.
                            <br/>
                            <br/>
                      Pero eso no sucede siempre. 
                            <br/>
                            <br/>
                      Si estas aquí, me imagino que deseas tener una relación plena, amorosa, y, sobre todo, a tu medida.
                            <br/>
                            <br/>
                      Por eso, para empezar a Ordenarnos internamente con respecto a lo que queremos, voy a dejarte unas preguntas para que reflexiones, acerca de como te gustaria a TI que se vea tu proxima relacion.
                            <br/>
                            <br/>
                      <h3>¿Cómo te imaginas la dinámica ideal entre tu pareja y tú?</h3>
                      <h3>¿Qué hacen? ¿Son de salir a eventos o más caseros? ¿Comparten cosas en común? ¿Qué comparten?</h3>
                      <h3>¿Qué planes de vida tienen? ¿Viajar, formar una familia, iniciar un proyecto laboral juntos? </h3>
                      <h3>¿Cómo se llevan? ¿Dialogan? ¿Sobre qué? </h3>
                      <br/>
                      <br/>
                      Es importante que escribas absolutamente todo como a ti te gustaría que fuera. Detente en los detalles más pequeños que puedas encontrar en tu mente. Usa tu imaginación. Hay millones de personas en el mundo, créeme cuando te digo que cualquier dinámica que te imagines, es posible.
                            <br/>
                            <br/>
                      Tomate tu tiempo en responder las preguntas. Se especifica. Si hay otras cosas que no sean las respuestas a las preguntas, agregalas también.
                            <br/>
                            <br/>
                      Cuando termines tu párrafo, vuelve aquí, y continuamos.
                            <br/>
                          </p>
                          <br/>
                      <a href="ordeno-dia-6" class="btn white_btn">Sigue por aquí</a>
            
            
                      </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>