---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Día I</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Ego y Ser. ¿Qué son? ¿Cómo logró identificar y diferenciar sus voces?</h2>
                          <br/>
                          <p>Hemos llegado a la primera sección de la segunda fase, y como verán y ya se habrán dado cuenta, a mi me gusta empezar con todo.
                            <br/>
                            <br/>
                      Me encanta iniciar este capítulo con la diferenciación entre el ego y el ser, porque aprender a identificar donde nos encontramos en cada momento, es clave para que nos organicemos.
                            <br/>
                            <br/>
            
                      Antes que nada, me gustaría dejar una aclaración. El concepto del Ego está muy maltratado en el mundo de la espiritualidad, con corrientes que indican que hay que dejar el Ego totalmente y abocarnos al ser.
                            <br/>
                            <br/>
            
                      Si bien creo que los resultados de lograr algo así serían realmente asombrosos, para mi hay una realidad en la que, en algún momento, todos nos encontramos. El ego siempre estará con nosotros. No es nuestro trabajo desterrarlo. Nuestro trabajo es aprender a distinguir lo que viene de ahí, como se maneja, y no permitir que domine nuestra vida.
                            <br/>
                            <br/>
            
                      Para mí, el ego no se puede deshacer, ya que estamos en Tercera Dimensión, donde tenemos un cuerpo, una mente, y una personalidad que nos permiten interactuar con el mundo. Un ego bien identificado y domado es lo que necesitamos. 
                            <br/>
                            <br/>
            
                      Ahora, más allá de que no podamos erradicarlo al 100%, obviamente nuestra misión es poder cada día mas, vivir desde el ser y no desde nuestra máscara.
                            <br/>
                            <br/>
            
                      Esto, como imaginaran, tiene un sinfín de beneficios, de los cuales siempre saldremos favorecidos. El principal para mi, es que nos permite llevar una vida mucho más auténtica y libre de apariencias, en donde nuestro potencial va a poder desarrollarse al máximo.
                            <br/>
                            <br/>
            
                      Ahora, vamos a empezar por lo más básico como son las definiciones, para luego pasar a las estrategias de identificación de cada uno de ellos.
                            <br/>
                            <br/>
                            <br/>
                      <h2>¿Qué es el ego? </h2>
                            <br/>
                      Me encanta referime al ego, como lo hice previamente, como nuestra máscara. La manera en la que nos mostramos al mundo, la cual no concuerda con nuestro ser esencial.
                            <br/>
                            <br/>
                      Estamos actuando desde el ego cuando nos identificamos con una autoimagen creada por nuestra mente a partir de nuestros condicionamientos sociales y nuestras creencias.
                            <br/>
                            <br/>
                      También, una forma muy sencilla de identificarlo, es observando aquellos pensamientos incesantes e intrusivos que inundan nuestra cabeza. Si, esos son pensamientos que vienen pura y exclusivamente del ego.
                            <br/>
                            <br/>
                      El ego experimenta una realidad individual que crea en su mente a través de la percepción, la cual no tiene nada que ver con la realidad universal, donde se pueden comprender todos o varios puntos de vista a la vez, sin necesariamente entrar en conflicto con el contrario.
                            <br/>
                            <br/>
                      El ego, o un estado de inconsciencia, tiene un sentimiento continuo de carencia, no acepta sus circunstancias actuales, mendiga, necesita aprobación de los demás, se compara, vive insatisfecha, etc.
                            <br/>
                            <br/>
                      ¿Te suena? Tranquila. Todas hemos estado ahí alguna vez. Y más allá de que volvamos cada tanto, una vez que lo identificamos, aparecerá cada vez menos.
                            <br/>
                            <br/>
                      Realmente, no te alarmes. No hay nada malo en esto. Es la forma en la que nos han enseñado a vivir, y al mismo tiempo, a quienes nos lo enseñaron, también se los enseñaron así. 
                            <br/>
                            <br/>
                      Se trata de romper el ciclo, y no de buscar culpables. Pero para romper el ciclo es importante ver las cosas con claridad, y de una manera enteramente diferente.
                            <br/>
                            <br/>
                      El ego utiliza el concepto del tiempo para distraerse de lo único real, el momento presente, el cual, no le satisface en absoluto. Por eso, siempre está añorando un pasado (el cual no disfruto en ese momento), o enfocándose en el futuro (el cual probablemente tampoco podrá disfrutar).
                            <br/>
                            <br/>
                      Tampoco asume sus propios errores y faltas, ya que equivocarse lo hace imperfecto, y también, muy propio de él, es esconder sus fallas propias para sobresalir frente a la multitud.
                            <br/>
                            <br/>
                      Terminamos siendo esclavos de su imagen, y privandonos de la libertad de mostrarnos tal cual somos, en donde hay espacio para errar las veces que sea necesario.
                            <br/>
                            <br/>
                      Muy bien, creo que con esto fue suficiente Juli. Basta de negatividad, por favor, dame una buena.
                            <br/>
                            <br/>
                      Me imagino que ahora mismo si jamás oíste hablar del ego, puedes estar un poco abrumada. Pero dejame decirte, desde lo más profundo de mi corazón, todos a veces estamos ahí. Parte del conocimiento de uno mismo es aprender a lidiar con esa incomodidad que nos generan este tipo de mecanismos, para aceptarlas, reconocerlas y pasar página. Y también, para poder saber que tenemos que hacer, cuando un mecanismo del ego quiere sabotearnos la situación actual.
                            <br/>
                            <br/>
                      Sin conocimiento no hay cambio. Es así.
                            <br/>
                            <br/>
                      Ahora, voy a explicarte un poco como se identifica la voz del ser o de la consciencia.
                            <br/>
                            <br/>
                      <h2>¿Qué es el Ser?</h2>
                      <br/>
                      Cuando aprendemos a observar esa mente que no para de hablarnos de forma reiterada y negativa, y nos distanciamos de ella, desidentificandonos… estamos en el Ser. 
                            <br/>
                            <br/>
                      Para la consciencia o el ser, solo hay una verdad, y esta esta por encima del bienestar individual, y se focaliza en el bienestar comun. No hay juicio, ni comparacion, ni calificaciones.
                            <br/>
                            <br/>
                      Comprende que solo haciendose responsable de sus actos puede tener mejores resultados (Ley de Causa y Efecto). No se averguenza de sus errores, ya que estos le permiten seguir aprendiendo y creciendo (Ley de Correspondencia). Es totalmente libre y autentico, se muestra como es, entiende que todos somos iguales y no necesita la competencia para subsistir.
                            <br/>
                            <br/>
                      El Ego, no puede sobrevivir en el momento presente. Es por eso que la presencia es clave para poder vivir conectadas con nuestro Ser Esencial. Por eso, en este estado, aprendemos a aceptar las circunstancias de la vida sin luchar contra ellas.
                            <br/>
                            <br/>
                            <br/>
                      <h2>Ahora, ¿cómo distinguimos una de la otra?</h2>
                            <br/>
                      Distinguir la voz del ego de la voz de la intuición es un proceso que puede sentirse diferente para cada persona.
                            <br/>
                            <br/>
                      Si bien la forma en la que cada uno siente estas voces, hay unos puntos clave para poder darnos cuenta quien es quien.
                            <br/>
                            <br/>
                      En resumen, el ego es escasez y el ser es abundancia. Pero seguramente necesitas mas pistas, sobre todo en un principio, para aprender a reconocerlas y distinguirlas super facil.
                            <br/>
                            <br/>
            
                      Aqui dejo una lista en la cual comparo ambas. Espero que te sirva
                            <br/>
                            <br/>
                            <br/>
                      <h2>La voz del Ego (Miedo)</h2>
                            <br/>
                      ▪ El ego habla de manera muy ruidosa a través de la mente, del deseo
                            <br/>
                      ▪ Dice cosas como “Yo quiero”, “Yo tengo que”, “Yo debería”
                            <br/>
                      ▪ Guía desde el instinto de supervivencia, lucha contra el cambio
                            <br/>
                      ▪ Se centra en el qué dirán, el reconocimiento y aprobación externa
                            <br/>
                      ▪ Se queja y victimiza de todo, responsabilizando siempre al entorno 
                            <br/>
                      ▪ Es confuso en sí mismo y te confunde a ti
                            <br/>
                      ▪ El ego es tu yo condicionado
                            <br/>
                            <br/>
                      <h2>La voz del Ser (Amor)</h2>
                            <br/>
                      ▪ La voz del ser habla de manera muy suave, la sientes en tu interior
                            <br/>
                      ▪ Dice cosas como “Yo puedo”, “Yo soy”, “Yo lograré” 
                            <br/>
                      ▪ Acepta y abraza el cambio con su incomodidad
                            <br/>
                      ▪ Se centra en el crecimiento y el aprendizaje, desde su soberanía
                            <br/>
                      ▪ Reconoce su responsabilidad de crear su realidad, más allá de las circunstancias
                            <br/>
                      ▪ Es tu intuición, te conecta
                            <br/>
                      ▪ La voz del ser es el alma 
                            <br/>
                            <br/>
                            <h2>Y ahora que?</h2>
                            <br/>
                            Con toda esta información, es momento de que pasemos a la acción. Pero, me parecio super importante y adecuado recordarte las diferencias entre estas dos voces, para que cuando estemos haciendo los ejercicios de a continuacion, te recuerdes que siempre lo mejor para ti sera pensar y actuar desde el amor, desde el ser.
                            <br/>
                            <br/>
            
                            El ego te juzgará por aquello que hiciste, o aquello que no. Te dirá que estas mal por haber tenido o tener ciertas conductas. Su estrategia es que te congeles para no actuar y sanar eso. Por favor, no lo escuches. Aquí estas solo contigo, lista y comprometida a ver aquellas cosas que quieres cambiar. Practica mucho y estate atenta a cual de las 2 estas escuchando.
                            <br/>
                            <br/>
            
                            Ya sabiendo esto, vamos a pasar directamente al Día numero 2 de Ordeno, donde vamos a estar viendo el Triángulo dramático de Karpman, una poderosa herramienta para aprender a detectar si estamos, o hemos estado, dentro de esta dinamica. Y, obviamente, como salir de ella.
                            <br/>
                            <br/>
            
                            Hoy lo dejaremos sin ejercicio porque se vienen ejercicios muy potentes en los próximos días. Aunque, mas allá de que no haya un ejercicio específico, aprender a distinguir estas voces es un ejercicio para toda la vida que requiere atención continua.
                            <br/>
                            <br/>
            
                            Ahora sí, nos vemos mañana!
                          </p>
                          <br/>
                          <br/>
                      <a href="ordeno-dia-2" class="btn white_btn">Ir al día 2</a>

                      </div>
        
                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>