---
import Breadcrumb from "../../../components/Breadcrumb.astro";
import Layout from "../../../layouts/Layout.astro";

import "../../../styles/global.css";
import Author from "../../../components/Author.astro";
---

<Layout title="Reviso Introducción">
    <div class="page_wrapper">
        <Breadcrumb
            title="Bootcamp EV - Ordeno"
            program="Espíritu Valiente"
            phase="Ordeno"
        />

        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Ordeno - Día VI</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>

                    <div class="info espiritu-info">
                        <h2>Lista de Manifestación Consciente II </h2>
                          <br/>
                          <p>Bien. Seguramente has escrito algo que te llenó de brillo los ojos. Y si, no es para menos. Acabas de describir tu relación ideal. 
                            <br/>
                            <br/>
                      Ahora vamos a pasar a la Lista de Manifestación de tu pareja ideal. 
                            <br/>
                            <br/>
                      Como ya te habrás hecho una idea de como es la persona ideal, este paso será mucho más sencillo.
                            <br/>
                            <br/>
                      Aquí nos vamos a enfocar en las cualidades que quisieras que tenga tu próxima pareja. Te pido que estas cualidades hagan referencia a su ser, y a su personalidad. Trata de no enfocarte en aspectos físicos. Realmente esto no importa aqui. La persona aparecerá y te va a atraer físicamente, pero solo porque es un reflejo de todo lo que acabas de anotar.
                            <br/>
                            <br/>
                      Aquí te dejo otra lista de preguntas que te ayudará a describir a esta persona. Tienes más que permitido ir mucho más allá.
                            <br/>
                      <h3>
                        ¿Cómo es la personalidad de esta persona?<br/> ¿Es tranquila? <br/>¿Le gusta estar en movimiento? <br/>¿Qué tipo de actividades realiza?<br/> ¿Qué tipo de música escucha?<br/> ¿De qué trabaja?<br/> ¿Le gusta lo que hace? ¿Qué hace en su tiempo libre?<br/> ¿Se conocen interiormente?<br/> ¿Habla de sus sentimientos?<br/> ¿O es más bien reservada? <br/>¿Cómo se maneja en la privacidad?<br/> ¿Baila?<br/> ¿Canta?<br/> ¿Se divierte? <br/>¿Es reservada? ¿Es introvertida o extrovertida?<br/> ¿Cómo se lleva con sus ex parejas? <br/> ¿Tiene sentido del humor? <br/>¿Reconoce sus cualidades?<br/> ¿Y sus defectos?<br/> ¿Qué le atrae de las personas?<br/> ¿Cocina? ¿Qué cocina? <br/>¿Qué hace los fines de semana para divertirse?
                      </h3>
                            <br/>
            
                      Estas son algunas de las tantas preguntas que puedes hacerte para iniciar tu lista de manifestación consciente. 
                            <br/>
                            <br/>
                      Recuerda, de la misma forma que el ejercicio anterior, se especifica. Lo más concreta posible. Anota todos esos detalles que tal vez se pasan por alto. 
                            <br/>
                            <br/>
                      Tomate tu tiempo, pero, hazte un favor, hazlo ahora. 
                            <br/>
                            <br/>
                      Vuelve cuando hayas terminado.
                            <br/>
                          </p>
                          <br/>
                      <a href="ordeno-dia-7" class="btn white_btn">Sigue por aquí</a>
            
            
                      </div>

                    <Author />
                </div>
            </div>
        </section>
    </div>
</Layout>