---

---

<section class="row_am app_solution_section">
	<!-- container start -->
	<div class="container">
	  <!-- row start -->
	  <div class="row">
		<div class="col-lg-6">
		  <!-- UI content -->
		  <div class="app_text">
			<div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
			  <h2><span>Espiritualidad práctica</span> para tiempos de caos</h2>
			</div>
			<p data-aos="fade-up" data-aos-duration="1500">
			  Soy Juliana, fundadora de <span>EstupendaVibra</span>, Life Coach, Comunicadora, Emprendedora Digital, Trabajadora Energética y, sobre todo, un Espíritu Libre.
			  
			 Me formé como Coach experta en Relaciones con Covadonga Pérez-Lozana, y recientemente adicioné a mis saberes lo aprendido en Máster en Mayeutik Coaching con la comunidad de autoconocimiento Kuestiona, en donde me sigo formando de forma constante. </p>
			<p data-aos="fade-up" data-aos-duration="1500">Soy una buscadora incansable de la verdad, ciudadana del mundo, y tengo una enorme pasión por impulsar a otras almas a ir dibujando su camino, haciéndose preguntas que las lleven a conocerse más profundamente, con el objetivo de manifestar la vida que desean.</p>
			<p data-aos="fade-up" data-aos-duration="1500">
			  A través de <span>EstupendaVibra</span>, mi objetivo es crear una comunidad que <span>inspire</span> a
			  aquellas
			  personas que están buscando respuestas en su interior, a vivir una vida auténtica, con coraje, pasión y
			  amor.
			</p>
		  </div>
		</div>
		<div class="col-lg-6">
		  <div class="app_images" data-aos="fade-in" data-aos-duration="1500">
			<ul>
			  <li><img src="images/abt_04.jpg" alt=""></li>
			  <li><img src="images/abt_05.jpg" alt=""></li>
			  <li><img src="images/abt_06.jpg" alt=""></li>
			</ul>
		  </div>
		</div>
	  </div>
	  <!-- row end -->
	</div>
	<!-- container end -->
</section>