---

---

<section class="row_am app_solution_section">
	<!-- container start -->
	<div class="container">
	  <!-- row start -->
	  <div class="row">
		<div class="col-lg-6">
		  <!-- UI content -->
		  <div class="app_text">
			<div class="section_title title-ev" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
				<h4>Mujeres profesionales o empresarias 
					<span>decididas</span> a mejorar sus vínculos afectivos
				</h4>
				<h2>⚔️ Corta <span>de raíz</span> esos patrones auto-destructivos que se repiten <br>
					(una y otra vez) en tus vínculos, <br>
					para crear y consolidar relaciones sanas en 111 días gracias a mi <span>Método ROCk.</span>
				</h2>
			</h2>
			</div>
		  </div>
		</div>
		<div class="col-lg-6 video-column" data-aos="fade-in" data-aos-duration="1500">
			<div class="youtube-video-container">
				<iframe class="youtube-video" src="https://www.youtube.com/embed/Z-bPhWeIdXU?si=x4LzRPzO6fkIgXYS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<a href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1" class="btn white_btn book_btn">QUIERO AGENDAR</a>
		</div>
		<div class="ev-bullet-points" data-aos="fade-in" data-aos-duration="1500">
			<h2>¿Que incluye?</h2>
			<p><i class="icofont-businesswoman"></i> Sesiones Individuales y 100% personalizadas conmigo, en donde te brindaré guía y apoyo en tu proceso.
			</p>
			<p><i class="icofont-computer"></i> El Bootcamp EV 100% Online, donde aprenderás el método ROCk®, constituido de 3 fases integrales. Reviso, Ordeno y Creo. </p>
			<p><i class="icofont-woman-bird"></i> Guía personalizada y adaptada de autoconocimiento a través de los 5 Elementos Fundamentales, Numerología y el Camino del Héroe.</p>
			<p><i class="icofont-eye-open"></i> Enfoque holístico con meditaciones, breathwork, microacciones y reprogramación del subconsciente.</p>
			<p><i class="icofont-speech-comments"></i> Acceso a la comunidad de Mujeres Valientes</p>
			</div>
	  </div>
	  <!-- row end -->
	</div>
	<!-- container end -->
</section>

<style>

.video-column {
	display: flex;
	flex-direction: column;
}

.book_btn {
	margin-top: 2rem;
}

.youtube-video-container {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-ev h2 {
	text-align: center !important;
	color: #413f3f !important;
    font-size: 1.8rem !important;
}
.title-ev h4 {
	text-align: center !important;
	color: #413f3f !important;
    font-size: 1.5rem !important;
	margin-bottom: 2rem;
	font-weight: bold;
}
</style>