---

---

<section class="row_am app_solution_section">
	<!-- container start -->
	<div class="container">
	  <!-- row  WHY TAROT starts -->
	  <div class="row">
		<div class="col-lg-6">
		  <!-- UI content -->
		  <div class="app_text">
			<div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
			  <h2><span>Why Tarot?</span></h2>
			  <br>
			</div>
			<p data-aos="fade-up" data-aos-duration="1500">
				The Tarot embodies <span>symbolical presentations of universal ideas</span>, behind which lie all the implicits of the human mind, and it is in this sense that they contain secret doctrine, which is the realization by the few of truths imbedded in the consciousness of all, though they have not passed into express recognition by ordinary men.
				<br>
				<span>- A. E. WAITE, The Pictorial Key to the Tarot (1911)</span>
				<br>
				<br>
				The imagery of its 78 cards, with their intricate and mysterious symbology, seems to many, emblematic of the shadow world of the occult, of the obscure corners of intuition and superstition, the places where magic and ancient ritual reign.
				<br>
				<br>
				Centuries of visionary exploration and thousands of creative hands - by mystics and artists often working in collaboration - have continually transformed Tarot's symbolic meanings. 
				<br>
				<br>
				</p>
				<p data-aos="fade-up" data-aos-duration="1500">
					Through this near-constant transmutation, <span>Tarot has remained relevant since the Renaissance</span>, and possibly longer, adapting to the moods of culture and history.
					<br>
					<br>
					Today, Tarot is embraced not so much as a method of telling the future, but rather as <span>creative muse, supporting meditative, therapeutic, and artistic pursuits</span>. It has evolved into both a tool for <span>self-exploration</span> and a guide to <span>inner growth. </span>
					<br>
					<br>
					Like all esoteric traditions, the Tarot is mutable and elastic, allowing each new generation to rediscover and, ultimately, rework its classic structure and iconography.
				</p>
			 <br>
			 <br>
		  </div>
		</div>
		 <!-- Images -->
		<div class="col-lg-6">
		  <div class="app_images" data-aos="fade-in" data-aos-duration="1500">
			<ul>
			  <li><img src="images/new/thelovers.jpg" alt=""></li>
			</ul>
		  </div>
		</div>
	  </div>
	  <!-- row WHY TAROT ends -->
		<!-- row  WHY ME starts -->
	  <div class="row">
		<div class="col-lg-6">
		  <div class="app_images" data-aos="fade-in" data-aos-duration="1500">
			<ul>
			  <li><img src="images/new/me_image01.jpg" alt=""></li>
			</ul>
		  </div>
		</div>
		<div class="col-lg-6">
			<!-- UI content -->
			<div class="app_text">
			  <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
				<h2>Why me?</h2>
			  </div>
			  <p data-aos="fade-up" data-aos-duration="1500">
				  I provide a <span>fresh, relaxed and intuitive</span> way of reading the Tarot.
				  <br>
				  <br>
				  My background in coaching and technology gave me the perfect tools to find accurate ways to communicate the <span>messages from the universe.</span>
				  <br>
				  <br>
				  The combination of the <span>universal archetypes</span> of the Tarot, my personal relationship with <span>numerology</span>, the communication skills learned in my <span>coaching career</span>, and my <span>unique touch guided by my intuition</span>, makes the sessions I offer really special.
			   <br>
			   <br>
			  <p data-aos="fade-up" data-aos-duration="1500">
				  I have learned that the best way to communicate the messages from the universe with Tarot it is by <span>storytelling</span>, connecting the dots with the messages from the cards, the elements, the numbers, the present situation and the context.
				  <br>
				  <br>
				  My way of reading tarot is <span>evolutionary</span>. 
				  <br>
				  <br>
				  This means that my approach is not divinatory. 
				  <br>
				  <br>
				  I am just a channel where the universe gives a message to the consultant through the symbols of the cards. Let’s say that <span>I am just the translator</span>.
			  </p>
			  <br>
			  <p data-aos="fade-up" data-aos-duration="1500">
				  The consultant will always take what it’s needed for his or her evolutionary moment in where he/she is. 
				  <br>
				  <br>
				  Normally, we already have the answers <span>within us</span>, sometimes we just need an external tool that shows us the path that <span>we already know </span>that we have to take.
				  <br>
				  <br>
				  Tarot readings are magical, in the way that they allow you to connect with the <span>potential of your subconscious mind</span> and lead you to take wiser decisions and to improve <span>self-knowledge</span> and <span>self-awarenes</span>.
			  </p>
			</div>
		  </div>
	  </div>
	  <!-- row WHY TAROT ends -->
	</div>
	<!-- container end -->
</section>
<style>
	.app_images img {
		width: 350px! important;
	}
</style>