---

---

<div class="container">
	<h2>¿Estás lista para iniciar este viaje conmigo?</h2>
	<br />
	Agenda una sesión de claridad ahora. No lo postergues más.
	<br />
	<br />


	<h4 class="important-information">INFORMACIÓN IMPORTANTE: Por favor, ten en cuenta que la sesión de claridad no tiene costo, pero tiene mucho valor, por su contenido, y sobre todo, por mi tiempo. Si luego de agendar, y ver los requisitos, decides que no es algo para ti, cancela la sesión con al menos <b>24 horas de anticipación</b>, por respeto hacia mi y el recurso más valioso que tenemos: nuestro tiempo.</h4>
	<div>
		<iframe frameborder="0" width="100%" height="1000" src="https://meet.brevo.com/juliana-rocha/borderless?l=sesion-de-claridad-1-a-1"></iframe>
	</div>
</div>

<style>
.important-information {
	background: #662e59;
    padding: 2rem;
    color: white;
    margin-bottom: 2rem;
	font-size: 1.2rem;
	b {
		color: #ffb3b3;
	}
}
</style>