---

---

<section class="banner_section">
	<!-- container start -->
	<div class="container">
		<!-- vertical animation line -->
		<div class="anim_line">
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
		</div>
		<!-- row start -->
		<div class="row">
			<div
				class="col-lg-6 col-md-12"  data-aos="fade-right" data-aos-duration="1500">
				<!-- banner text -->
				<div class="banner_text">
					<!-- h1 -->
					<h1>
						No llegaste aquí por <span>casualidad</span> </h1>
							<p>
								Soy Ju. Life Coach especializada en <b>relaciones, sabiduría y autenticidad</b>
								<p>
									Mi misión es acompañarte a que alcances el <b>máximo potencial de tu vida auténtica,</b> aprendas la verdad sobre lo que te está frenando
									y transformes tu dolor mental y emocional para
									trascender tus luchas actuales y puedas <b>despertar a una vida empoderada.</b>
								</p>
								<br />
								<div class="mainpage">
									<a
										href="espiritu-valiente.html"
										class="btn white_btn left">Empieza por aquí</a
									>
								</div>
							</p>

							<!-- users -->
							<div class="used_app">
								<ul>
									<li>
										<img
											src="images/used01.png"
											alt="image"
										/>
									</li>
									<li>
										<img
											src="images/used02.png"
											alt="image"
										/>
									</li>
									<li>
										<img
											src="images/used03.png"
											alt="image"
										/>
									</li>
									<li>
										<img
											src="images/used04.png"
											alt="image"
										/>
									</li>
								</ul>
								<p>
									+4k<br /> de personas que se unieron a esta hermosa
									comunidad!
								</p>
							</div>
						</span>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="item">
					<div class="container_img">
					  <img class="change_img" src="../../images/change3.png" alt="image">
					</div>
				  </div>
			  </div>
		</div>
	</div>
</section>

<style>

.container_img {
	display: flex;
	justify-content: center;
	
	@media screen and (max-width:640px) {
		display: none;
	}
}

.change_img {
	width: 300px;
}


</style>
