---

---

<div>
    <!-- BredCrumb-Section -->
    <div class="bred_crumb">
        <div class="container">
            <!-- shape animation  -->
            <span class="banner_shape1">
                <img src="images/banner-shape1.png" alt="image" />
            </span>
            <span class="banner_shape2">
                <img src="images/banner-shape2.png" alt="image" />
            </span>
            <span class="banner_shape3">
                <img src="images/banner-shape3.png" alt="image" />
            </span>

            <div class="bred_text">
                <h1>¡Contáctate!</h1>
                <p>
                    Si tienes alguna duda o consulta, puedes ponerte en contacto
                    conmigo de varias formas.
                </p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><span>»</span></li>
                    <li><a href="contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Contact Us Section Start -->
    <section class="contact_page_section">
        <div class="container">
            <div class="contact_inner">
                <div class="contact_form">
                    <div class="section_title">
                        <h2>Deja un <span>mensaje</span></h2>
                        <p>
                            Completa el formulario, volvere a ti lo antes que
                            pueda
                        </p>
                    </div>

                    <form method="POST" action="thanks.html" netlify={true}>
                        <div class="form-group">
                            <input
                                type="text"
                                name="nombre"
                                id="nombre"
                                placeholder="Tu nombre"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="E-mail"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                name="place"
                                id="place"
                                placeholder="De donde eres?"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                name="phone"
                                id="phone"
                                placeholder="Teléfono"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                name="website"
                                id="website"
                                placeholder="Website/Otro"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <textarea
                                class="form-control"
                                name="mensaje"
                                id="mensaje"
                                placeholder="Tu message"></textarea>
                        </div>
                        <div class="form-group term_check">
                            <input type="checkbox" id="term" />
                            <label for="term"
                                >Acepto recibir emails, newsletters and noticias
                                sobre EstupendaVibra</label
                            >
                        </div>
                        <div class="form-group mb-0">
                            <button type="submit" class="btn puprple_btn"
                                >Enviar Mensaje</button
                            >
                        </div>
                    </form>
                </div>
                <div class="contact_info">
                    <div class="icon">
                        <img
                            src="images/contact_message_icon.png"
                            alt="image"
                        />
                    </div>
                    <div class="section_title">
                        <h2>¿Alguna <span>pregunta?</span></h2>
                        <p>
                            Algunas preguntas que pueden surgirte antes o
                            durante tu proceso de autodescubrimiento con
                            EstupendaVibra. Puedes encontrar algunas de ellas en
                            nuestra pagina de <a href="#"
                                >Preguntas Frecuentes</a>
                        </p>
                    </div>
                    <a href="faq.html" class="btn puprple_btn">Ver FAQ</a>
                    <ul class="contact_info_list">
                        <li>
                            <div class="img">
                                <img src="images/envelope.png" alt="image" />
                            </div>
                            <div class="text">
                                <span>Contactame</span>
                                <a href="mailto:example@gmail.com">hola@estupendavibra.com</a
                                >
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us Section End -->
</div>
