---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
---

<div>
	<!-- BredCrumb-Section -->
	<div class="bred_crumb">
		<div class="container">
			<!-- shape animation  -->
			<span class="banner_shape1">
				<img src="images/banner-shape1.png" alt="image" />
			</span>
			<span class="banner_shape2">
				<img src="images/banner-shape2.png" alt="image" />
			</span>
			<span class="banner_shape3">
				<img src="images/banner-shape3.png" alt="image" />
			</span>

			<div class="bred_text">
				<h1>Cursos y Talleres</h1>
				<p>Hechos con amor y dedicación</p>
				<ul>
					<li><a href="/">Hogar</a></li>
					<li><span>»</span></li>
					<li><a href="pricing.html">Cursos y Talleres</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Pricing-Section -->
	<section class="row_am pricing_section" id="pricing">
		<!-- container start -->
		<div class="container">
			<div
				class="section_title"
				data-aos="fade-up"
				data-aos-duration="1500"
				data-aos-delay="300"
			>
				<!-- h2 -->
				<h2>Empieza <span>por ti</span></h2>
				<!-- p -->
				<p>
					Para ver un cambio real y duradero en tu vida, debes empezar
					desde adentro
				</p>
			</div>

			<!-- pricing box  monthly start -->
			<div
				class="pricing_pannel monthly_plan active"
				data-aos="fade-up"
				data-aos-duration="1500"
			>
				<!-- row start -->
				<div class="row">
					<!-- pricing box 1 -->
					<div class="col-md-4">
						<div class="pricing_block">
							<div class="icon">
								<img src="images/heart.png" alt="image" />
							</div>
							<div class="pkg_name title_program">
								<h3>
									Guía práctica de manifestación desde el
									corazón
								</h3>
								<span>Para los que recien empiezan</span>
							</div>
							<span class="price">$33</span>
							<div class="taller">
								<p>
									Es sumamente importante estar disponible a
									ampliar nuestras perspectivas, a cuestionar
									nuestra forma de ver el mundo, a abrir
									nuevos caminos, y no juzgar sin haber
									intentado hacer las cosas de una forma
									diferente.
								</p>
								<p>
									El taller consta de una grabación de zoom,
									de casi 2:30 hrs, en la cual comparto mi
									perspectiva, mis experiencias, y
									conocimientos aprendidos del proceso de
									manifestar. También, incluye el PDF que
									utilicé para dar el taller, para que les
									quede a mano siempre que quieran repasar los
									conceptos ✍🏻
								</p>
							</div>
							<a
								href="manifestacion"
								class="btn white_btn">LO QUIERO</a
							>
						</div>
					</div>

					<!-- pricing box 2 -->
					<div class="col-md-4">
						<div class="pricing_block highlited_block">
							<div class="icon">
								<img src="images/hand.png" alt="image" />
							</div>
							<div class="pkg_name">
								<h3>Bootcamp EV</h3>
								<span
									>El Bootcamp Intensivo más completo que
									encontrarás</span
								>
							</div>
							<span class="price">$77</span>
							<div class="taller">
								<p>
									Este programa está dirigido a mujeres que
									están pasando por una ruptura amorosa, y/o
									quieran aprender a <b
										>relacionarse de otra forma,</b
									> en donde las guío para que <b
										>dejen de atraer el mismo tipo de
										personas.</b
									>
								</p>

								<p>
									Aprenderás a entender y <b
										>gestionar tus energías Yin y Yang
									</b>y ver los resultados reflejados en todos
									sus vínculos.
								</p>

								<p>
									Es un <b>programa intensivo de 17 días,</b> en
									donde a través de las herramientas que te voy
									brindando, vas a ir descubriendo esos bloqueos
									que te impiden relacionarte de una forma sana
									y equilibrada.
								</p>

								<p>
									Todo esto, lo lograrás a <b
										>tu propio ritmo</b
									> 100% online, utilizando mi <b
										>metodo ROCk,</b
									> el cual he creado para organizar y estructurar
									los procesos vitales.
								</p>
							</div>

							<a
								href="ev-bootcamp"
								class="btn white_btn">LO QUIERO</a
							>
						</div>
					</div>

					<!-- pricing box 3 -->
					<div class="col-md-4">
						<div class="pricing_block">
							<div class="icon">
								<img src="images/clock.png" alt="image" />
							</div>
							<div class="pkg_name title_program">
								<h3>Espíritu Valiente</h3>
								<span
									>Para mujeres que ya están listas para un
									cambio 360º en sus vidas</span
								>
							</div>
							<span class="price">Consultar</span>
							<div class="taller taller-ev">
								<p>Tu Plan 100% Personalizado</p>
								<p>
									<b>Espíritu Valiente®</b> es mi programa más
									completo y personalizazdo, en donde junté todas
									las herramientas que fueron clave en mi proceso
									de cambio a la hora de relacionarme.
								</p>
								<p>
									No sólamente tendras un <b
										>proceso completo de mentoría y coaching
										en directo conmigo</b
									>, sino que tambien tendrás acceso a las
									mejores herramientas transformadoras, el <b
										>Bootcamp EV,</b
									> todos mis <b>Talleres Online</b>, y <b
										>soporte personalizado</b
									> durante los 3 meses que dura el plan completo.
								</p>
								<p>
									El objetivo de este programa es que dejes de
									atraer al mismo tipo de personas en tus
									relaciones, que te <b
										>conectes con tu versión más auténtica,</b
									> y que aprendas a identificar y <b
										>gestionar tus energías Yin y Yang, </b
									>despertando a una <b
										>vida empoderada, consciente y
										equilibrada.</b
									>
								</p>
								<p>
									Si bien este programa está orientado a las
									relaciones de pareja y a los vínculos en
									general, al tener un enfoque holístico,
									cubrirá <b>todas las áreas de tu vida.</b>
								</p>
								<p>Exactamente. Un verdadero mimo al alma.</p>
							</div>
							<a
								href="espiritu-valiente"
								class="btn white_btn">LO QUIERO</a
							>
						</div>
					</div>
				</div>
				<!-- row end -->
				<p
					class="contact_text"
					data-aos="fade-up"
					data-aos-duration="1500"
				>
					No estas segur@ que paquete elegir? <a href="contacto">
						Ponte en contacto conmigo</a
					> y armaremos un paquete a medida!
				</p>
			</div>
		</div>
	</section>
</div>
