---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }
---

<div>
	<!-- BredCrumb-Section -->
	<div class="bred_crumb">
		<div class="container">
			<!-- shape animation  -->
			<span class="banner_shape1">
				<img src="images/banner-shape1.png" alt="image" />
			</span>
			<span class="banner_shape2">
				<img src="images/banner-shape2.png" alt="image" />
			</span>
			<span class="banner_shape3">
				<img src="images/banner-shape3.png" alt="image" />
			</span>

			<div class="bred_text">
				<h1>Mentoría y Workshops</h1>
				<p>Hechos con amor y dedicación</p>
				<ul>
					<li><a href="/">Hogar</a></li>
					<li><span>»</span></li>
					<li><a href="pricing.html">Cursos y Talleres</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Pricing-Section -->
	<section class="row_am pricing_section" id="pricing">
		<!-- container start -->
		<div class="container">
			<div
				class="section_title"
				data-aos="fade-up"
				data-aos-duration="1500"
				data-aos-delay="300"
			>
				<!-- h2 -->
				<h2>Empieza <span>por ti</span></h2>
				<!-- p -->
				<p>
					Y verás cambios reales, y para siempre
				</p>
			</div>

			<!-- pricing box  monthly start -->
			<div
				class="pricing_pannel monthly_plan active"
				data-aos="fade-up"
				data-aos-duration="1500"
			>
				<!-- row start -->
				<div class="row">
					<!-- pricing box 1 -->
					<div class="col-md-4">
						<div class="pricing_block">
							<div class="icon">
								<img src="images/heart.png" alt="image" />
							</div>
							<div class="pkg_name title_program">
								<h3>
									Mujer Intuitiva
								</h3>
								<span>Para conectar contigo</span>
							</div>
							<span class="price">$33</span>
							<div class="taller taller-ev">
								<p>
									En Mujer Intuitiva® comparto los aprendizajes, experiencias, y herramientas que más me han ayudado a conectar con mi herramienta más poderosa y valiosa, <b>mi intuición</b>, y que, por supuesto, siguen haciéndolo hasta el día de hoy.
								</p>
								<p>En este Workshop hablaremos de...</p>
								<p>Mi propia experiencia con la intuición desde temprana edad hasta mi adultez</p>
								<p>Que es la intuición y que no es la intuición</p>
								<p>Cómo identificarla y diferenciarla de la voz del ego</p>
								<p>Canalizar</p>
								<p>Afirmaciones metafísicas para conectar con ella</p>
								<p>Las categorías de la percepción extrasensorial</p>
								<p>El lenguaje universal: Arquetipos, Símbolos y Numerología</p>
								<p>Y mucho más...</p>
							</div>
							<a
								href="https://hotmart.com/es/marketplace/productos/mujer-intuitiva/R92676848B"
								target="_blank"
								class="btn white_btn">LO QUIERO</a
							>
						</div>
					</div>

					<!-- pricing box 2 -->
					<div class="col-md-4">
						<div class="pricing_block highlited_block">
							<div class="icon">
								<img src="images/hand.png" alt="image" />
							</div>
							<div class="pkg_name">
								<h3>Sesión Desbloqueo Energético y Manifestación Consciente</h3>
								<span>Te guío a desbloquear lo que te limita y a manifestar lo que deseas</span
								>
							</div>
							<span class="price">$111</span>
							<div class="taller">
								<p>En esta sesión de 1 hora y media, nos estaremos enfocando en aquellas áreas de tu vida en las que sientas que ahora mismo te encuentras <b>bloqueada</b>, y junto con mi acompañamiento, preguntas para encontrar <b>foco y claridad</b>, crearemos un <b>plan de acción</b> para que puedas salir rápidamente de ese bloqueo en particular. <br />
								<br />
								Luego de encontrar el bloqueo, vamos a enfocarnos en tu deseo y te voy a guiar para que puedas armar una <b>lista de manifestación consciente</b> junto conmigo y te marcaré los detalles que hacen la diferencia, para que puedas lograr eso que tanto deseas. </p>
							</div>

							<a
								href="https://meet.brevo.com/juliana-rocha/sesion-desbloqueo-energetico-y-manifestacion-consciente"
								class="btn white_btn">LA QUIERO</a
							>
						</div>
					</div>

					<!-- pricing box 3 -->
					<div class="col-md-4">
						<div class="pricing_block">
							<div class="icon">
								<img src="images/clock.png" alt="image" />
							</div>
							<div class="pkg_name title_program">
								<h3>Espíritu Valiente</h3>
								<span
									>Para mujeres que ya están listas para un
									cambio 360º en sus vidas</span
								>
							</div>
							<span class="price">Consultar</span>
							<div class="taller taller-ev">
								<p>Tu Plan 100% Personalizado</p>
								<p>
									<b>Espíritu Valiente®</b> es mi programa más
									completo y personalizazdo, en donde junté todas
									las herramientas que fueron clave en mi proceso
									de cambio a la hora de relacionarme.
								</p>
								<br />
								<p>
									No sólamente tendras un <b
										>proceso completo de mentoría y coaching
										en directo conmigo</b
									>, sino que tambien tendrás acceso a las
									mejores herramientas transformadoras, el <b
										>Bootcamp EV,</b
									> todos mis <b>Talleres Online</b>, y <b
										>soporte personalizado</b
									> durante los 4 meses que dura el plan completo.
								</p>
								<br />
								<p>
									El objetivo de este programa es que <b>despiertes a tu diosa interior</b> y manifiestes una vida en <b>absoluta libertad </b>en todos los ambitos de tu vida. Es un cambio rotundo, de 360 grados, donde te encontrarás siendo <b>la persona que viniste a ser al mundo.</b>
									<br />
									<br />
									Lo lograremos <b>transmutando los bloqueos que te frenan</b>, equilibrando tus energías y realizando <b>poderosos ejercicios de manifestación y activación</b> que te permitan encarnar esa versión creada exclusivamente para tí.
								</p>
								<!-- <p>
									Si bien este programa está orientado a las
									relaciones de pareja y a los vínculos en
									general, al tener un enfoque holístico,
									cubrirá <b>todas las áreas de tu vida.</b>
								</p>
								<p>Exactamente. Un verdadero mimo al alma.</p> -->
							</div>
							<a
								href="espiritu-valiente"
								class="btn white_btn">LO QUIERO</a
							>
						</div>
					</div>
				</div>
				<!-- row end -->
				<p
					class="contact_text"
					data-aos="fade-up"
					data-aos-duration="1500"
				>
					No estas segur@ que paquete elegir? <a href="contacto">
						Ponte en contacto conmigo</a
					> y armaremos un paquete a medida!
				</p>
			</div>
		</div>
	</section>
</div>
