---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

    <!-- FAQ-Section start -->
    <section class="row_am faq_section">
		<!-- container start -->
		<div class="container">
		  <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
			<!-- h2 -->
			<h2><span>FAQ</span> - Preguntas Frecuentes</h2>
			<!-- p -->
			<p>Algunas preguntas que pueden surgirte antes o durante tu proceso de autodescubrimiento con EstupendaVibra</p>
		  </div>
		  <!-- faq data -->
		  <div class="faq_panel">
			<div class="accordion" id="accordionExample">
			  <div class="card" data-aos="fade-up" data-aos-duration="1500">
				<div class="card-header" id="headingOne">
				  <h2 class="mb-0 accordion-text">
					<button type="button" class="btn btn-link active" data-toggle="collapse" data-target="#collapseOne">
						<i class="icon_faq icofont-plus"></i></i>¿Como puedo realizar el pago?</button>
				  </h2>
				</div>
				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				  <div class="card-body">
					<p>Puedes realizar el pago por transferencia bancaria (Argentina o países de la EU), o por PayPal</p>
				  </div>
				</div>
			  </div>
			  <div class="card" data-aos="fade-up" data-aos-duration="1500">
				<div class="card-header" id="headingTwo">
				  <h2 class="mb-0 accordion-text">
					<button type="button" class="btn btn-link collapsed" data-toggle="collapse"
					  data-target="#collapseTwo"><i class="icon_faq icofont-plus"></i></i> Tengo problemas para iniciar sesion</button>
				  </h2>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				  <div class="card-body">
					<p>¡No hay problema! Si tenes algun problema para iniciar sesion y acceder a tus cursos, puedes enviarme un mail a info@estupendavibra.io y voy a estar contactandome contigo lo antes posible</p>
				  </div>
				</div>
			  </div>
			  <div class="card" data-aos="fade-up" data-aos-duration="1500">
				<div class="card-header" id="headingThree">
				  <h2 class="mb-0 accordion-text">
					<button type="button" class="btn btn-link collapsed" data-toggle="collapse"
					  data-target="#collapseThree"><i class="icon_faq icofont-plus"></i></i>¿Las sesiones 1:1 equivalen a tener sesiones con un terapeuta?</button>
				  </h2>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				  <div class="card-body">
					<p>Las sesiones 1:1 son conversaciones conmigo, donde mi papel es pura y exclusivamente, compartir contigo herramientas que pueden ayudarte en un proceso de autodescubrimiento. No sustituyen a tu terapia con un especialista (psicólogo, psiquiatra).</p>
				  </div>
				</div>
			  </div>
			  <div class="card" data-aos="fade-up" data-aos-duration="1500">
				<div class="card-header" id="headingFour">
				  <h2 class="mb-0 accordion-text">
					<button type="button" class="btn btn-link collapsed" data-toggle="collapse"
					  data-target="#collapseFour"><i class="icon_faq icofont-plus"></i></i>¿Los cursos grabados tienen fecha de caducidad?</button>
				  </h2>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				  <div class="card-body">
					<p>¡No! Los cursos, guías y talleres se encuentran grabados, y puedes verlos todas las veces que quieras.</p>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<!-- container end -->
	  </section>
	  <!-- FAQ-Section end -->

	  
<style>
	.accordion-text {
		font-size: 1.4rem;
	}
</style>