---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<!-- Footer-Section start -->
<footer>
	<div class="top_footer" id="contact">
		<!-- animation line -->
		<div class="anim_line dark_bg">
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
			<span><img src="images/anim_line.png" alt="anim_line" /></span>
		</div>
		<!-- container start -->
		<div class="container">
			<!-- row start -->
			<div class="row">
				<!-- footer link 1 -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="abt_side">
						<div class="logo">
							<img
								src="images/logo-estupenda-wt.png"
								alt="image"
							/>
						</div>
						<ul>
							<li><a href="mailto:hola@estupendavibra.com" target="_blank">hola@estupendavibra.com</a></li>
						</ul>
						<ul class="social_media">
							<li>
								<a target="_blank" href="https://open.spotify.com/show/4niCQ9HZ7Mm6LpgKJ57InI?si=cb4701197c6b4f12"><i class="icofont-spotify"></i></a>
							</li>
							<li>
								<a
									href="https://instagram.com/estupendavibra"
									target="_blank"
									><i class="icofont-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>

				<!-- footer link 3 -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="footer-quote">
						<p>
							Vas de cuarto en cuarto buscando el collar de
							diamantes que ya llevas puesto
						</p>
						<p>Rumi</p>
					</div>
				</div>

				<!-- footer link 2 -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="links useful-links">
						<h3>Links de utilidad</h3>
						<ul>
							<li class="">
								<a class="" href="/">Hogar</a>
							</li>
							<li class="">
								<a class="" href="about">Sobre Mi</a>
							</li>
							<li class="">
								<a class="" href="mis-cursos">Mentoría y Workshops</a>
							</li>
							<li class="">
								<a class="" href="contacto">Acompañame</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
		<!-- container end -->
	</div>

	<!-- last footer -->
	<div class="bottom_footer">
		<!-- container start -->
		<div class="container">
			<!-- row start -->
			<div class="row">
				<div class="col-md-6">
					<p>© Copyrights 2024. All rights reserved.</p>
				</div>
				<div class="col-md-6">
					<p class="developer_text">
						Design & developed with love by <a
							href="https://github.com/kosmikgirl"
							target="blank">Me</a>
					</p>
				</div>
			</div>
			<!-- row end -->
		</div>
		<!-- container end -->
	</div>

	<!-- go top button -->
	<div class="go_top">
		<span><img src="images/go_top.png" alt="image" /></span>
	</div>
</footer>
<!-- Footer-Section end -->
