---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<li class="link-card">
    <section class="row_am how_it_works" id="how_it_work">
		<!-- container start -->
		<div class="container">
		  <div class="how_it_inner">
			<div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
			  <!-- h2 -->
			  <h2><span>Mi historia</span> - ¿Quién está detrás de EstupendaVibra?</h2>
			  <!-- p -->
			  <p>Un poco acerca de mi historia, y del nacimiento de EstupendaVibra</p>
			</div>
			<div class="step_block">
			  <!-- UL -->
			  <ul>
				<!-- step -->
				<li>
				  <div class="step_text" data-aos="fade-right" data-aos-duration="1500">
					<h4 class="timeline_title">Mi antiguo yo</h4>
					<p>A mis 20 s creía, como muchas otras personas, que me iba a sentir realizada con un trabajo estable
					  de 9-5, una pareja que cumpla con mis expectativas y un sueldo que me permita darme algunos
					  caprichos de vez en cuando</p>
				  </div>
				  <div class="step_number">
					<h3>1</h3>
				  </div>
				  <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
					<img src="images/history_01.jpg" alt="Foto de Timon Studler en Unsplash">
				  </div>
				</li>
  
				<!-- step -->
				<li>
				  <div class="step_text" data-aos="fade-left" data-aos-duration="1500">
					<h4 class="timeline_title">Descubriendo(me)</h4>
					<span>Decisiones que lo cambian todo</span>
					<p>Ya una vez cumplidas algunas de mis expectativas, y se podría decir que aún más, me fui 3 semanas a
					  Europa, sola, y de bajo presupuesto.</p>
					</p>
					<p>Conocí personas y lugares que ampliaron mi perspectiva de formas inexplicables. Volví, y ya no era
					  la misma, veía a mi entorno desde otro ángulo, y no me sentía a gusto en mi día a día.</p>
				  </div>
				  <div class="step_number">
					<h3>2</h3>
				  </div>
				  <div class="step_img" data-aos="fade-right" data-aos-duration="1500">
					<img src="images/history_02.jpg" alt="Woman in the airport">
				  </div>
				</li>
  
				<!-- step -->
				<li>
				  <div class="step_text" data-aos="fade-right" data-aos-duration="1500">
					<h4 class="timeline_title">Atreviéndome</h4>
					<span>Saliendo de la famosa "Zona de confort"</span>
					<p>Tome la decisión y en 7 meses estaba re-localizándome en un país nórdico al cual jamás le había
					  prestado atención.</p>
					<p>La cantidad de increíbles personas y habilidades que aprendí en este periodo, no tiene explicación.
					  Trabaje de lo que se me presentaba. Me encontré mirando mis comportamientos bajo la lupa en más de
					  una vez.</p>
					<p>El comienzo indiscutido del eterno viaje hacia mi interior.</p>
				  </div>
				  <div class="step_number">
					<h3>3</h3>
				  </div>
				  <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
					<img src="images/history_03.jpg" alt="Foto de Febiyan en Unsplash">
				  </div>
				</li>
  
				<li>
				  <div class="step_text" data-aos="fade-left" data-aos-duration="1500">
					<h4 class="timeline_title">Viaje hacia mi interior</h4>
					<span>El regreso</span>
					<p>La vuelta a casa luego de un año de aventuras nunca es fácil. Aunque no tuve mucho tiempo para
					  poder procesar este cambio, ya que me integré en la rutina bastante rápido, la vida no me dejo mucho
					  tiempo libre hasta que vuelva a cuestionarme. </p>
					<p>Esta vez, el viaje fue interno, impulsado por una ruptura amorosa, un cambio laboral, y muchísimas
					  preguntas existenciales.</p>
				  </div>
				  <div class="step_number">
					<h3>4</h3>
				  </div>
				  <div class="step_img" data-aos="fade-right" data-aos-duration="1500">
					<img src="images/history_04.jpg" alt="Going back to myself">
				  </div>
				</li>
  
				<li>
				  <div class="step_text" data-aos="fade-right" data-aos-duration="1500">
					<h4 class="timeline_title">Noche oscura del alma</h4>
					<span>Enfrentando mis sombras</span>
  
					<p>Un periodo extenso de confusión que invadía mi vida. Sufriendo depresión por primera vez, aunque no
					  siendo el primer problema de esta magnitud que tuve que enfrentar</p>
					<p>¿Cómo podía ser que con todo lo que había logrado esté sumida en este estado tan desmotivante?</p>
					<p>Toma de decisiones difíciles. Cambios en mi entorno y en mis hábitos. Toma de riesgos necesarios.
					  Contención externa.</p>
					<p>Aunque la vida es maravillosa, no todo es color de rosa.</p>
  
				  </div>
				  <div class="step_number">
					<h3>5</h3>
				  </div>
				  <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
					<img src="images/history_05.jpg" alt="Foto de John Silliman en Unsplash">
				  </div>
				</li>
  
				<li>
				  <div class="step_text" data-aos="fade-left" data-aos-duration="1500">
					<h4 class="timeline_title">Levantate y anda</h4>
					<span>¡Arriba morocha!</span>
					<p>¡Que bella la vida se vuelve a sentir luego de haber superado un momento como este!</p>
					<p>Luego de un periodo de disfrute extremo del bienestar, llego el momento de reflexionar acerca de lo
					  ocurrido.</p>
					<p>¿Qué me estaba queriendo decir la vida a través estos acontecimientos?</p>
					<p>¡Ya estaba lista para descubrirlo!</p>
				  </div>
				  <div class="step_number">
					<h3>6</h3>
				  </div>
				  <div class="step_img" data-aos="fade-right" data-aos-duration="1500">
					<img src="images/history_06.jpg" alt="Woman in the couch with a cat">
				  </div>
				</li>
  
				<li>
				  <div class="step_text" data-aos="fade-right" data-aos-duration="1500">
					<h4 class="timeline_title">Nacimiento de EstupendaVibra</h4>
					<span>Compartiendo sabiduría</span>
					<p>Como todo lo aprendido en este proceso no puede quedar guardado en un cajón de recuerdos… ¿Qué
					  mejor manera que expandirme a través de la guía hacia otras almas en búsqueda de su verdad?</p>
					<p>El nacimiento de EstupendaVibra es, en resumidas palabras, el resultado de mi proceso personal, y
					  un resumen de todas las herramientas aprendidas en el camino. Un espacio de reflexión, pensado desde
					  y para el alma</p>
				  </div>
				  <div class="step_number">
					<h3>7</h3>
				  </div>
				  <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
					<img src="images/history_07.jpg" alt="Woman in a sunset">
				  </div>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
		<!-- container end -->
	  </section>

<style>
	.timeline_title {
		color: #7E1B67ff;
	}
</style>