---

---

<!--Review List Section Start-->
<section class="row_am review_list_section">
    <div class="info">
        <h3>Testimonios de quienes ya han trabajado conmigo</h3>
        <p>
            Te dejo por aquí algunas reviews que me han compartido, quienes ya
            han decidido formar parte de algunos de mis programas, cursos o
            sesiones. Si tú has participado de alguno de ellos, y quieres dejar
            tu reseña, puedes compartirmela por redes sociales para que pueda
            incluirla en la lista.
        </p>
    </div>

    <div class="container">
        <div class="row">
            <!-- Miriam -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>El viaje más importante de mi vida</h3>
                    <p>
                        Agradezco, valoro y reconozco toda la implicación y el
                        cariño que he sentido en las sesiones. También el amor,
                        la delicadeza y empatía que tenías para mi, en especial
                        en aquellos momentos en los que me he derrumbado.
                        Gracias por haber formado parte del mejor viaje de mi
                        vida. Tu huella, está sellada en mi pasaporte personal
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_06.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Miriam</h3>
                            <span>España</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ana -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>Más claridad a mis objetivos y desafíos</h3>
                    <p>
                        Tu lectura de tarot y sesiones fueron enriquecedoras a
                        nivel que supe que estaba y estoy en el camino correcto.
                        Me ayudaron a conocer mas mi lado oculto, y las cosas
                        que se me dificultan para trabajarlas sobre mi persona.
                        Creo que esa ayuda me brindó mas claridad a mis
                        objetivos y desafíos. GRACIAS!
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_07.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Ana</h3>
                            <span>Argentina</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Marce -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>Gracias, gracias, gracias!</h3>
                    <p>
                        Conocimiento, técnicas útiles y reales, conexión y
                        autenticidad. No puedo decir mucho mas porque valió cada
                        centavo y aun mucho mas. Gracias gracias gracias!
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_04.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Marce</h3>
                            <span>Argentina</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Clarisa -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>Me sentí super cómoda, escuchada, y empoderada</h3>
                    <p>
                        La tirada de tarot fue increeible. Gracias!!! Me voló la
                        cabeza que todo fuera tan preciso e intenso, y que
                        además lo pudieramos ir comentando juntas para sacar
                        conclusiones. Me sentí super cómoda, escuchada, y
                        empoderada con todo lo que fuimos explorando y
                        atrayendo. Ojalá podamos repetirlo pronto!
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_08.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Clarisa</h3>
                            <span>España</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rosalina -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>Simplemente maravilloso.</h3>
                    <p>
                        Muy directo, al grano y haber tenido la oportunidad de
                        ser parte de este curso en vivo fue muy lindo. Juliana
                        es muy honesta y comparte sus conocimientos con mucha
                        gracia. Un placer enorme haber sido parte!
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_01.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Rosalina</h3>
                            <span>Uruguay</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Rocio -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>Me fascinó!</h3>
                    <p>
                        Me fascinó! Algunas amigas me habian hecho lecturas
                        antes, pero NINGUNA como la de Juli. Muy profesional. Me
                        encantó la dinámica, que todo fuera tan preciso y el
                        enfoque. Lo que descubrí me dió mucha paz
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_09.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Rocío</h3>
                            <span>España</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pame -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>Práctica y clara. Gracias!!!</h3>
                    <p>
                        Me gusto mucho la practicidad de cada uno de los
                        conceptos, la naturalidad de Juliana, y la cantidad de
                        contenido de valor en tan poco tiempo. Eternamente
                        agradecida!
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_02.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Pame</h3>
                            <span>Argentina</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Maxi -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>Muy valioso</h3>
                    <p>
                        Cursos como este hacen que te replantees el valor de las
                        cosas en las que invertimos, fue un placer haber sido
                        parte, contenido de calidad por un valor unico, gracias
                        Juuu, brillas
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_03.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Maxi</h3>
                            <span>Uruguay</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nahir -->
            <div class="col-lg-4 col-md-6">
                <div class="review_box">
                    <div class="rating">
                        <ul>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                            <li><span><i class="icofont-star"></i></span></li>
                        </ul>
                    </div>
                    <h3>Hermoso taller</h3>
                    <p>
                        He visto el taller en diferido, y me fascina que existan
                        estas opciones para que podamos aprender cosas nuevas
                        útiles para la vida y enriquecedoras, cuando disponemos
                        del tiempo. La energia de Juli es realmente bella, se
                        nota su pasión
                    </p>
                    <div class="reviewer">
                        <div class="avtar">
                            <img src="images/review_05.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Nahir</h3>
                            <span>Argentina</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review List Section End -->

<style>
    .reviewer {
        .avtar {
            display: none;
        }

        .text {
            margin-left: 0 !important;
        }
    }
</style>
