---

---

<section class="row_am why_we_section" data-aos="fade-in">
    <div class="why_inner">
        <div class="container">
            <div
                class="section_title"
                data-aos="fade-up"
                data-aos-duration="1500"
                data-aos-delay="100"
            >
                <h2><span>¿Que vas a encontrar en</span> este espacio?</h2>
                <p>
                    El proyecto EstupendaVibra recién comienza, esta dando sus
                    primeros pasos, y te agradezco que hayas decidido formar
                    parte de este momento tan importante!
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div
                        class="why_box"
                        data-aos="fade-up"
                        data-aos-duration="1500"
                        data-aos-delay="100"
                    >
                        <div class="icon">
                            <img src="images/writing.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Frases, escritos y reflexiones...</h3>
                            <p>
                                Que te impulsen a conectar con tu verdadera
                                esencia. A cuestionar las creencias que te
                                limitan, y a ganar sabiduría para ir
                                construyendo una realidad alineada con la
                                realidad que te gustaría vivir. Encontrarás todo este contenido en <a class="link_rrss"href="https://www.instagram.com/estupendavibra/" target="_blank">Instagram</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div
                        class="why_box"
                        data-aos="fade-up"
                        data-aos-duration="1500"
                        data-aos-delay="300"
                    >
                        <div class="icon">
                            <img src="images/safespace.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Un espacio seguro</h3>
                            <p>
                                Con mi acompañamiento vas a verte en un espacio en donde siempre vas a ser entendida, jamás vas
                                a ser juzgada o etiquetada. Parte del proceso de
                                conocerse a una misma en profundidad implica
                                sentirse protegida y ser tratada con amor en
                                todo momento
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div
                        class="why_box"
                        data-aos="fade-up"
                        data-aos-duration="1500"
                        data-aos-delay="400"
                    >
                        <div class="icon">
                            <img src="images/courses.png" alt="image" />
                        </div>
                        <div class="text">
                            <h3>Cursos y Talleres Online</h3>
                            <p>
                                Porque nuestra comunidad no tiene fronteras,
                                todos los cursos son 100% online y estan
                                disponibles para que los puedas hacer cuando
                                encuentres un tiempo en tu rutina
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .link_rrss {
        color: #9C487Dff;
    }
</style>