---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
import "../styles/global.css";
import "../styles/responsive.css";
---
<Layout title="Espíritu Valiente® - Estupenda Vibra">
    <div class="page-wrapper">
        <!-- HEADER -->
        <div class="bred_crumb blog_detail_bredcrumb breadcrumb-ev">
            <div class="container mentoria-wrapper">
                <div class="bred_text info-mentoria-title">
                    <p class="subtitle-ev">{frontmatter.beforetitle}
                    </p>
                    <h1 class="principal-title">
                        {frontmatter.title}
                    </h1>
                    <p class="subtitle-ev">
                        {frontmatter.aftertitle}
                    </p>
                    <div class="reserve">
                        <a
                            href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1"
                            class="btn white_btn">{frontmatter.button}</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <section class="blog_detail_section">
            <div class="container">
                <div class="blog_inner_pannel programa-info">
                    <div class="review">
                        <span>Espíritu Valiente</span>
                        <span>Plan 100% Personalizado</span>
                    </div>
                    <div class="section_title">
                        <h2>Espíritu Valiente</h2>
                    </div>
                    <div class="info espiritu-info">
                        <div class="video-box-ev">
                            <div class="ev-bullet-points">
                                <h2>Este programa incluye…</h2>
    
                                <p>
                                    <i class="icofont-computer"></i> El Bootcamp EV 100%
                                    Online, donde aprenderás el método ROCk®, constituido
                                    de 3 fases integrales. Reviso, Ordeno y Creo.
                                </p>
    
                                <p>
                                    <i class="icofont-businesswoman"></i> Sesiones Individuales
                                    y 100% personalizadas conmigo, en donde te brindaré
                                    guía y apoyo en tu proceso.
                                </p>
                                <p>
                                    <i class="icofont-woman-bird"></i> Guía adaptada
                                    de autoconocimiento a través de los 5 Elementos Fundamentales.
                                </p>
    
                                <p>
                                    <i class="icofont-eye-open"></i> Enfoque holístico
                                    con meditaciones, breathwork, microacciones y reprogramación
                                    del subconsciente.
                                </p>
    
                                <p>
                                    <i class="icofont-speech-comments"></i> Acceso a
                                    la comunidad de Mujeres Valientes
                                </p>
                            </div>
                        </div>
                        <br />
                        <div class="reserve">
                            <a
                                href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1"
                                class="btn white_btn">QUIERO AGENDAR</a
                            >
                        </div>
                    </div>
                    <br />
    
                    <h2 class="how-title">¿Cómo nace Estupenda Vibra?</h2>
    
                    <p>
                        <b>Estupenda Vibra</b>nació con la intención de <b
                            >compartir mi proceso personal</b
                        >, y las herramientas que a mi me habían ayudado a <b
                            >salir del estado en el que me encontraba.</b
                        >
                    </p>
    
                    <p>
                        Luego empezar a descubrir que podía <b
                            >crear mi propia realidad</b
                        >, y manifestar una relación acorde a mi nueva vibración <b
                            >sucedió algo muy transformador...</b
                        >
                    </p>
    
                    <p>
                        Mas allá de haber manifestado aquello que mi alma anhelaba a
                        nivel relacional, aún podía notar que había un <b
                            >trabajo mucho mas profundo</b
                        > por hacer...
                    </p>
    
                    <p>
                        Fue ahí donde descubrí que tenia que hacer un trabajo
                        intenso de <b>equilibrio</b> entre mis energías <b
                            >Yin y Yang</b
                        > (Femenina y Masculina), <b
                            >derribar creencias limitantes</b
                        > y trabajar mi <b>merecimiento y mi auto-valor.</b>
                    </p>
    
                    <h2 class="how-title">
                        ¿Cual es el objetivo principal de Espíritu Valiente®?
                    </h2>
                    <p>
                        Mi experiencia personal me ha enseñado que la mayor parte de
                        estos problemas tienen su origen principal en un <b
                            >sistema de creencias inconscientes limitantes</b
                        > que hay que revisar, y con los <b
                            >sentimientos constantes de culpa
                        </b>que hemos heredado de forma <b
                            >social, cultural y familiar.</b
                        >
                    </p>
    
                    <p>
                        Por eso, en mi programa <b>Espíritu Valiente®</b> he juntado
                        todas estas herramientas que he descubierto a lo largo de mi
                        camino, <b>organizadas por fuerza elemental</b>, con un
                        método integral que he creado, llamado <b>Método ROCk®</b> y
                        con mi acompañamiento personalizado, para que quienes se encuentran
                        en un proceso de <b>transformación personal</b>cuenten con
                        mi guía, mi apoyo y un sostén que las permita sacar el mayor
                        aprendizaje del viaje <b>más transformador</b>, el <b
                            >reencuentro con una misma.</b
                        >
                    </p>
    
                    <p>
                        El objetivo de este programa es que <b
                            >dejes de atraer al mismo tipo de personas o situaciones
                        </b> a tu vida, que te contectes con tu
                        <b>versión más auténtica</b>, que aprendas a identificar y <b
                            >gestionar tus energías Yin y Yang</b
                        > para vivir una vida mas equilibrada, y que te conectes con
                        esa voz interna que tiene todas las respuestas, <b
                            >tu intuición.</b
                        >
                    </p>
    
                    <p>
                        Al final del programa, contarás con un <b
                            >set de herramientas prácticas</b
                        >, que seran tu guía para el resto de tu vida, en todos los
                        ámbitos que puedas imaginarte.
                    </p>
    
                    <p>
                        Mi rol aquí sera <b>brintarte acceso</b> a esas herramientas,
                        <b>acompañarte en el proceso</b> de construir tu nueva identidad,
                        y <b>ser tu sostén</b> cuando necesites guía.
                    </p>
    
                    <p>
                        También mi rol será <b>ayudarte a ver aquello que ya eres</b
                        >, pero aún no logras reconocer, asegurándome que te
                        conectes con <b>tu poder personal,</b> y siempre sepas cuando
                        y cómo <b>volver a ti</b>.
                    </p>
    
                    <br />
                    <h2>¿Estás lista para iniciar este viaje conmigo?</h2>
                    <br />
                    Agenda una sesión de claridad ahora. No lo postergues más.
                    <br />
                    <br />
                    <div class="reserve">
                        <a
                            href="https://meet.brevo.com/juliana-rocha/sesion-de-claridad-1-a-1"
                            class="btn white_btn"
                        >
                            QUIERO AGENDAR
                        </a>
                    </div>
                </div>
                <br />
            </div>
        </section>
    </div>
</Layout>


<style>

	.card-body {
		text-align: left;
		p {
			margin: 0;
		}
		.title {
			font-size: 1.2rem;
			color: rgb(63, 63, 63);
			margin-bottom: 1rem;
		}
	}
	.accordion-text {
		text-align: left;
	}
	.how-title {
		margin-bottom: 1.5rem;
		margin-top: 3rem;
	}
	.row_am {
		padding: 0;
		margin-bottom: 7rem;
	}
	.info-mentoria-title {
		padding: 30px;

		.principal-title {
			line-height: 1.3;
			font-size: 30px;
			text-transform: uppercase;

		@media only screen and (max-width: 600px) {
			font-size: 20px;
		}

	}
}

.mentoria-wrapper {
	width: 800px;
	background: rgba(147, 7, 136, 0.45);
	border-radius: 20px;
	@media only screen and (max-width: 600px) {
		margin-top: 100px;
	}

}

.breadcrumb-ev {
	@media only screen and (max-width: 600px) {
		height: auto;
	}
}

.programa-info {
	margin-top: 0;
}

.breadcrumb-ev {
	margin-top: 0;
}


.highlight {
	font-style: italic;
	color: #ff8cc6;
}

</style>